<template>
	<v-layout row wrap fill-height justify-center class="py-5" style="background-color: #D5E3E4;">
    <!-- Better to have it here for ease of use -->
    <v-toolbar fixed height="88" extension-height="58" class="white elevation-1 no-padding" style="z-index: 9998">
      <v-layout row wrap fill-height justify-center align-center>
        <v-flex xs12 md8 white>
          <v-layout row wrap>
              <div>
                  <router-link to="/home" class="subheading font-weight-bold black--text" style="text-decoration: none;">
                    <img src="/static/images/logo.png" alt="logo" class="mt-3" style="width: 90px !important; height: 37px !important">
                  </router-link>
              </div>
              <v-spacer></v-spacer>
              <div v-if="user.isLoggedIn === true && user.loaded">
                <v-layout column fill-height justify-center align-end>
                  <v-flex text-xs-left class="font-weight-bold font-size-12 pt-1">
                    <span class="pr-4">Hi, {{user.data.firstName}}</span>
                    <v-avatar :tile="true" size="36" color="white" style="cursor: pointer" @click="showLogout = !showLogout">
                      <img :src="user.data.pictureUrl" style="border: 1px solid #e3e3e3"/>
                    </v-avatar>
                  </v-flex>
                  <v-flex text-xs-right style="min-height: 40px !important">
                    <v-btn v-if="showLogout" color="blue accent-4" depressed small class="white--text font-size-12 font-weight-bold text-capitalize squared px-4 mx-0" :disabled="status.loading" @click="Logout">Cerrar sesión</v-btn>
                  </v-flex>
                </v-layout>
              </div>
              <div v-if="user.isLoggedIn === false">
                <v-layout column fill-height justify-center align-end>
                  <v-btn color="blue accent-4" depressed small flat outline class="font-size-12 font-weight-bold text-capitalize squared px-4 mx-0" :disabled="status.loading" @click.prevent.stop="Login">Iniciar sesión</v-btn>
                </v-layout>
              </div>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-toolbar>
		<v-flex xs12 md8 v-if="getCompanyData === null ? false : (getCompanyData.published ? true : (currentUser.identifier === $route.params.identifier ? true : false))" style="min-height: 700px;">
			<v-layout column class="white">
				<v-flex v-if="thanks === false" xs12 :class="ats('py-4 text-xs-center', '=', 'py-4 text-xs-left')">
					<v-layout row wrap fill-height :justify-left="ats(false, false, true)" :justify-center="ats(true, true, false)" align-center class="py-2">
						<div :class="ats('', '=', 'pl-5')">
								<v-avatar :size="$vuetify.breakpoint.smAndDown ? '64' : '84'" color="white">
			            <img :src="'/static/images/uploads/' + getCompanyData.logo" style="border: 3px solid #e3e3e3"/>
			          </v-avatar>
						</div>
						<div class="font-size-20 px-4">
							Recomienda servicios y resultados para <br>
          		<span class="font-weight-bold headline">{{getCompanyData.name}}</span>
						</div>
            <v-spacer></v-spacer>
            <div v-show="status.loading" class="pr-5 hidden-sm-and-down">
              <v-progress-circular indeterminate color="primary" :size="48"></v-progress-circular>
            </div>
					</v-layout>
				</v-flex>
        <div v-if="part === 1 && thanks === false" style="border-top: 1px solid #e3e3e3">
          <v-flex xs12 text-xs-left :class="ats('py-4 px-0', '=', 'py-4 px-5')" style="border-bottom: 1px solid #e3e3e3" v-if="noLinkedin === false">
            <div class="px-4">
              <div class="font-size-18">Inicia sesión con Linkedin <v-tooltip right max-width="200px"><v-icon slot="activator" color="grey darken-4">help</v-icon><span>Usamos Linkedin para facilitarte el inicio de sesión y asegurarnos que las recomendaciones en Yes Them sean de usuarios reales. Tu cuenta Linkedin será únicamente para iniciar sesión. Yes Them no tiene acceso a tus contactos ni puede publicar nada en tu cuenta de Linkedin.</span></v-tooltip></div>
              <div class="caption">Una manera rápida y fácil de verificar tu identidad.</div>
              <div v-if="user.isLoggedIn === false">
                  <div class="pt-2"><v-btn depressed color="blue accent-4" class="squared my-4 mx-0 white--text font-weight-bold" :disabled="status.loading" @click.prevent.stop="Login">Inicia sesión con Linkedin</v-btn></div>
                  <div class="pt-4 pb-2" style="cursor: pointer;" :disabled="status.loading" @click="noLinkedin = true; setStatus(false, false, '')">
                    <span class="pt-3 pr-5" style="border-top: 3px dashed grey;">No gracias, me registraré más tarde.</span> <!-- No gracias, validare sin linkedin -->
                  </div>
              </div>
              <div v-if="user.isLoggedIn === true">
                <v-flex text-xs-center class="pt-2 blue accent-4 squared my-4 mx-0 white--text font-weight-bold py-2" :style="ats('width: 80% !important', '=', 'width: 60% !important')">Inicio de sesión correcto</v-flex>
              </div>
            </div>
          </v-flex>
          <v-flex xs12 text-xs-left :class="ats('pt-4 pb-5 px-0', '=', 'pt-4 pb-5 px-5')" style="border-bottom: 1px solid #e3e3e3">
            <div :class="user.isLoggedIn === true || noLinkedin === true ? 'px-4 font-size-20 font-weight-bold pb-2' : 'px-4 font-size-20 font-weight-bold pb-2 grey--text text--ligthen-1'">Servicio</div>
            <div :class="user.isLoggedIn === true || noLinkedin === true ? 'px-4 font-size-16 pb-4' : 'px-4 font-size-16 pb-4 grey--text text--ligthen-1'">Recomienda el servicio que te presto {{getCompanyData.name}}</div>
            <div class="px-4">
              <v-layout child-flex>
                <v-flex :style="ats('max-width: 46px', '=', 'max-width: 66px')">
                  <v-btn :style="ats('height: 26px; width: 26px', '=', 'height: 40px; width: 40px')" fab outline :color="solution.checked === true ? 'green_button' : 'grey lighten-1'" :disabled="status.loading || (user.isLoggedIn === false && noLinkedin === false)" @click="solution.checked = !solution.checked" class="ml-2 mr-3 my-0">
                    <v-icon color="green_button">add</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex>
                  <div :class="user.isLoggedIn === true || noLinkedin === true ? (solution.checked === true ? ats('font-size-16 green_button--text font-weight-bold', '=', 'green_button--text font-weight-bold') : ats('font-size-16 font-weight-bold', '=', 'font-weight-bold')) : 'font-size-16 font-weight-bold grey--text text--ligthen-1'">{{getSolution.description}}</div>
                  <div class="caption mt-2 font-weight-bold grey--text text--darken-1"><img class="pr-1" style="vertical-align: text-bottom" src="/static/images/smile.png"/><span class="font-weight-bold">{{getSolution.benefits > 0 ? getTotalYes(getSolution.benefits) : 0}} Recomendaciones</span></div>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </div>
        <div v-if="part === 2 && thanks === false" style="border-top: 1px solid #e3e3e3">
          <v-layout column fill-height :class="ats('py-4 px-0', '=', 'py-4 px-5')">
            <v-flex xs12 text-xs-left class="ml-4" style="border-bottom: 1px solid #e3e3e3">
              <div class="font-size-18 font-weight-bold pb-2">Resultados</div>
              <div class="font-size-16 pb-4">Recomienda los resultados que te ayudaron</div>
            </v-flex>
            <v-flex v-if="!getStatus.loading && getSolution.benefits.length > 0" v-for="(benefit, index) in getSolution.benefits.slice(0, limit)" text-xs-left :class="ats('py-3 mx-3 font-weight-bold', '=', 'py-3 ml-4 font-weight-bold')">
              <div>
                <v-layout child-flex>
                  <v-flex :style="ats('max-width: 46px', '=', 'max-width: 66px')">
                    <v-btn :style="ats('height: 26px; width: 26px', '=', 'height: 40px; width: 40px')" fab outline :color="isSelected(benefit) ? 'green_button' : 'grey lighten-1'" :disabled="status.loading" @click="isSelected(benefit) ? remove(benefit) : select(benefit)" class="ml-2 mr-3 my-0">
                      <v-icon color="green_button">add</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex style="border-bottom: 1px solid #e3e3e3; padding-bottom: 12px">
                    <div :class="isSelected(benefit) ? ats('font-size-16 green_button--text font-weight-bold', '=', 'green_button--text font-weight-bold') : ats('font-size-16 font-weight-bold', '=', 'font-weight-bold')">{{benefit.description}}</div>
                    <div class="caption mt-2 font-weight-bold grey--text text--darken-1"><span class="font-weight-bold">{{benefit.validations.length}} <img style="vertical-align: text-bottom" src="/static/images/smile.png"> Recomendaciones</span></div>
                  </v-flex>
                </v-layout>
              </div>
            </v-flex>
            <v-flex v-if="!getStatus.loading && getSolution.benefits.length > limit" @click="limit !== getSolution.benefits.length ? (limit += 5) : limit" class="px-4 pb-4 text-xs-center" style="cursor: pointer">
              <span class="font-size-14 color-4A85FB segoe-bold">Mostrar más</span><v-icon small class="color-4A85FB">keyboard_arrow_down</v-icon>
            </v-flex>
            <v-flex v-if="user.isLoggedIn" xs12 :class="ats('pt-3 px-4 caption', '=', 'pt-3 px-4')" style="text-align: justify">
              Al enviar esta recomendación, yo confirmo a Yes Them que: 1) No soy un empleado, 
              consultor, revendedor, competidor directo o no estoy asociado de alguna manera con 
              el vendedor que estoy reseñando; 2) mi recomendación es basada totalmente en mi 
              experiencia propia con el producto de este vendedor; 3) yo soy la persona que 
              declaro ser; 4) Yes Them puede copiar, exhibir o usar de cualquier forma el 
              contenido de mi reseña, en todo o en parte, en el curso ordinario de su negocio.
              Confirmo que he leido y estoy de acuerdo a ser obligado por los <router-link to="/terms">Terminos de Uso y Política de Privacidad</router-link>.
            </v-flex>
          </v-layout>
        </div>
        <div v-if="part === 3 && thanks === false" style="border-top: 1px solid #e3e3e3">
          <v-layout column py-4>
            <v-flex xs12>
              <div v-if="user.isLoggedIn === false">
                <div :class="ats('px-3' ,'=', '')">
                  <span class="font-weight-bold mr-2 font-size-16">¡Ahorra Tiempo!</span> <span class="blue--text text--accent-4 font-size-16" style="cursor: pointer; text-decoration: underline" @click="Login">Inicia sesión con Linkedin</span>
                </div>
                <div class="mt-2">
                  <span class="font-size-12 font-weight-bold grey--text text--darken-1">o date de alta manualmente</span>
                </div>
                <v-form class="white" ref="formNoLinkedin" v-model="valid" encType="multipart/form-data">
                  <v-layout row wrap pt-5 pb-4 px-4>
                    <v-flex xs12 md6 px-3>
                      <v-text-field
                        v-model="user.data.firstName"
                        label="Nombre"
                        :rules="nameRules"
                        maxlength="60"
                        required
                        :flat="ats(true, true, false)"
                        :solo="ats(true, true, false)"
                        :placeholder="ats('Nombre', 'Nombre', '')"
                        :style="ats('border: 1px solid #e3e3e3', '=', '')"
                        color="blue accent-4"
                        :disabled="status.loading"
                        :hide-details="ats(true, true, false)"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 md6 px-3>
                      <v-text-field
                        v-model="user.data.lastName"
                        label="Apellidos"
                        :rules="nameRules"
                        maxlength="30"
                        required
                        :flat="ats(true, true, false)"
                        :solo="ats(true, true, false)"
                        :placeholder="ats('Apellidos', 'Apellidos', '')"
                        :style="ats('border: 1px solid #e3e3e3', '=', '')"
                        color="blue accent-4"
                        :disabled="status.loading"
                        :hide-details="ats(true, true, false)"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 md6 px-3>
                      <v-text-field
                        v-model="user.data.email"
                        label="Email"
                        :rules="emailRules"
                        maxlength="30"
                        required
                        :flat="ats(true, true, false)"
                        :solo="ats(true, true, false)"
                        :placeholder="ats('Email', 'Email', '')"
                        :style="ats('border: 1px solid #e3e3e3', '=', '')"
                        color="blue accent-4"
                        :disabled="status.loading"
                        :hide-details="ats(true, true, false)"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 md6 px-3>
                      <v-text-field
                        v-model="user.data.headline"
                        label="Puesto de trabajo"
                        maxlength="30"
                        required
                        :rules="nameRules"
                        :flat="ats(true, true, false)"
                        :solo="ats(true, true, false)"
                        :placeholder="ats('Puesto de trabajo', 'Puesto de trabajo', '')"
                        :style="ats('border: 1px solid #e3e3e3', '=', '')"
                        color="blue accent-4"
                        :disabled="status.loading"
                        :hide-details="ats(true, true, false)"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 md6 :class="ats('px-3 pb-2', '=', 'px-3 pb-4')">
                      <v-text-field
                        v-model="user.data.industry"
                        label="Empresa u Organización"
                        :rules="nameRules"
                        maxlength="30"
                        required
                        :flat="ats(true, true, false)"
                        :solo="ats(true, true, false)"
                        :placeholder="ats('Empresa u Organización', 'Empresa u Organización', '')"
                        :style="ats('border: 1px solid #e3e3e3', '=', '')"
                        color="blue accent-4"
                        :disabled="status.loading"
                        :hide-details="ats(true, true, false)"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 md6 px-3 pb-4 text-xs-left>
                      <!-- <v-text-field
                        v-model="user.data.pictureUrl"
                        label="Foto de perfil"
                        maxlength="30"
                        required
                        :flat="ats(true, true, false)"
                        :solo="ats(true, true, false)"
                        :placeholder="ats('Foto de perfil', 'Foto de perfil', '')"
                        :style="ats('border: 1px solid #e3e3e3', '=', '')"
                        :disabled="status.loading"
                        @click="onFocus"
                      ></v-text-field> -->
                      <div class="font-weight-bold">Foto de perfil</div>
                      <div>
                        <v-icon v-if="!user.data.pictureUrl.file" color="blue accent-4" size="32" :disabled="status.loading" @click="onFocus">add_a_photo</v-icon>
                        <div v-if="user.data.pictureUrl.file">
                          <v-avatar :tile="true" size="32" color="white" style="vertical-align: baseline !important; cursor: pointer" class="mr-1" @click="onFocus">
                            <img :src="user.data.pictureUrl.url" style="border: 1px solid #e3e3e3;"/>
                          </v-avatar>
                          {{user.data.pictureUrl.filename}}
                        </div>
                      </div>
                      <input ref="fileInput" type="file" name="pictureUrl" style="display: none !important" accept="image/png, image/jpg" @change="onFileChange">
                    </v-flex>
                  </v-layout>
                </v-form>
              </div>
              <div v-if="user.isLoggedIn && noLinkedin === false">
                <div class="text-xs-left" style="padding: 0px 64px !important">
                  <div class="font-size-18">Inicia sesión con Linkedin <v-icon color="grey darken-4">help</v-icon></div>
                  <div class="caption">Una manera rápida y fácil de verificar tu identidad.</div>
                  <div>
                    <v-flex text-xs-center class="pt-2 blue accent-4 squared my-4 mx-0 white--text font-weight-bold py-2" style="width: 60% !important">Inicio de sesión correcto</v-flex>
                  </div>
                </div>
              </div>
              <div class="px-3 text-xs-center pt-4" style="border-top: 1px solid #e3e3e3">
                <v-btn v-if="part === maxPages || user.isLoggedIn" :block="ats(true, true, false)" depressed :class="ats('white--text px-0 font-weight-bold button--green squared font-size-11', '=', 'white--text px-4 mx-3 font-weight-bold button--green squared')" :style="ats('height:36px', '=', 'height:40px')" :disabled="status.loading || !solution.checked" :loading="status.loading" @click="validate">Enviar recomendación de servicio y resultado</v-btn>
              </div>
              <div :class="ats('px-4 pt-4 pb-3 caption', '=', 'px-5 pt-4 pb-3')" style="text-align: justify">
                Al enviar esta recomendación, yo confirmo a Yes Them que: 1) No soy un empleado, 
                consultor, revendedor, competidor directo o no estoy asociado de alguna manera con 
                el vendedor que estoy reseñando; 2) mi recomendación es basada totalmente en mi 
                experiencia propia con el producto de este vendedor; 3) yo soy la persona que 
                declaro ser; 4) Yes Them puede copiar, exhibir o usar de cualquier forma el 
                contenido de mi reseña, en todo o en parte, en el curso ordinario de su negocio.
                Confirmo que he leido y estoy de acuerdo a ser obligado por los <router-link to="/terms">Terminos de Uso y Política de Privacidad</router-link>.
              </div>
            </v-flex>
          </v-layout>
        </div>
        <div v-if="thanks === true">
          <v-layout row wrap justify-center align-top class="pb-5" style="min-height: 400px !important">
            <v-flex xs12 :class="ats('py-4 text-xs-center', '=', 'py-4 text-xs-left')">
              <v-layout row wrap fill-height :justify-left="ats(false, false, true)" :justify-center="ats(true, true, false)" align-center class="py-2">
                <div :class="ats('flex xs12', '=', 'pl-5')">
                    <v-avatar :size="$vuetify.breakpoint.smAndDown ? '64' : '84'" color="white">
                      <img :src="'/static/images/uploads/' + getCompanyData.logo" style="border: 3px solid #e3e3e3"/>
                    </v-avatar>
                </div>
                <div :class="ats('flex xs12 font-size-20 px-4', '=', 'font-size-20 px-4')">
                  Gracias en nombre de <br>
                  <span class="font-weight-bold headline">{{getCompanyData.name}}</span>
                </div>
                <v-spacer></v-spacer>
                <div v-show="status.loading" class="pr-5 hidden-sm-and-down">
                  <v-progress-circular indeterminate color="primary" :size="48"></v-progress-circular>
                </div>
              </v-layout>
            </v-flex>
            <v-flex v-if="getCompanyData.thanks !== ''" xs12 class="font-size-16 px-4 py-3">
              {{getCompanyData.thanks}}
            </v-flex>
            <v-flex xs12 class="py-4" text-xs-center>
              <v-layout row wrap align-center justify-center>
                <v-flex xs12 class="font-weight-bold font-size-16">¡Mantengamos el Momentum!</v-flex>
                <v-flex xs12 class="font-size-12 font-weight-bold grey--text text--darken-1 mt-3">¿Te gustaría ver alguna empresa en Yes Them?</v-flex>
                <v-flex xs7 class="mt-5">
                  <v-layout row wrap fill-height justify-top align-center>
                    <v-text-field
                      v-model="search"
                      :flat="ats(true, true, false)"
                      :style="ats('border: 1px solid #e3e3e3', '=', 'border: 1px solid #e3e3e3; padding: 0px !important;')"
                      color="blue accent-4"
                      class="mx-0"
                      :disabled="status.loading"
                      height="38"
                      flat
                      placeholder="Dinos su nombre"
                      solo
                      hide-details
                    ></v-text-field>
                    <v-btn depressed color="blue accent-4" :class="ats('font-weight-bold mx-0 white--text squared px-5 ml-3', '=', 'font-weight-bold mx-0 white--text squared px-5')" style="height:50px !important;" @click=" $router.push(`/company/${search}`)">Enviar</v-btn>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 style="min-height: 200px">

            </v-flex>
          </v-layout>
        </div>
				<v-flex v-if="part !== 3 && thanks === false" xs12 :class="ats('py-4 px-0', '=', 'py-4 px-2')"> <!--  style="border-top: 1px solid #e3e3e3" -->
					<v-layout row wrap child-flex>
            <v-flex text-xs-left :class="ats('px-3', '=', '')">
              <v-btn :block="ats(true, true, false)" depressed :class="ats('white--text px-0 font-weight-bold button--green squared', '=', 'white--text px-4 mx-3 font-weight-bold button--green squared')" :style="ats('height:36px', '=', 'height:40px')" :disabled="status.loading || !solution.checked || (!noLinkedin && !user.isLoggedIn) || part === 1" @click="part > 1 ? part -= 1 : part = part">Anterior</v-btn>
            </v-flex>
						<v-flex class="subheading text-xs-center button_green--text hidden-sm-and-down" pt-3>
							<span>{{part}}/{{maxPages}}</span>
						</v-flex>
						<v-flex text-xs-right :class="ats('px-3', '=', '')">
							<v-btn v-if="part !== maxPages" :block="ats(true, true, false)" depressed :class="ats('white--text px-0 font-weight-bold button--green squared', '=', 'white--text px-4 mx-3 font-weight-bold button--green squared')" :style="ats('height:36px', '=', 'height:40px')" :disabled="status.loading || !solution.checked || (!noLinkedin && !user.isLoggedIn) || part === maxPages" @click="part < maxPages ? part += 1 : part = part">Siguiente</v-btn>
              <v-btn v-if="part === maxPages" :block="ats(true, true, false)" depressed :class="ats('white--text px-0 font-weight-bold button--green squared font-size-11', '=', 'white--text px-4 mx-3 font-weight-bold button--green squared')" :style="ats('height:36px', '=', 'height:40px')" :disabled="status.loading || !solution.checked || (!noLinkedin && !user.isLoggedIn)" :loading="status.loading" @click="validate">Enviar recomendación de servicio y resultado</v-btn>
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>
		</v-flex>
    <v-flex xs12 v-if="getStatus.loading">
      <v-layout row fill-height justify-center align-top>
        <v-flex xs6 pa-5>
          <v-progress-circular indeterminate size="64" color="button"></v-progress-circular>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12 v-if="getStatus.loading ? false : (getSolution ? (getCompanyData.published ? false : (currentUser.identifier === $route.params.identifier ? false : true) ): false)">
      <v-layout align-top justify-center row fill-height style="background-color: #D5E3E4; min-height: 500px">
        <v-flex xs6 pa-5>
          <v-card white class="headline font-weight-bold pa-5">
            We are sorry but that service doesn't exist.<br>
            <v-icon large class="mt-3" color="grey darken-4">fas fa-frown</v-icon><br>
            <v-btn large color="button" class="white--text mt-5" to="/home">Go back home</v-btn>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
	</v-layout>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

export default {
  name: 'validation',
  components: {},
  data () {
    return {
      showLogout: false,
      search: '',
      formData: new FormData(),
      thanks: false,
      limit: 5,
      valid: false,
      part: 1,
      noLinkedin: false,
      linkedin: null,
      user: {
        data: {
          id: '',
          firstName: '',
          lastName: '',
          headline: '',
          industry: '',
          positions: '',
          pictureUrl: {
            file: null,
            filename: null,
            url: null,
            status: {
              error: false,
              message: ''
            }
          }
        },
        loaded: false,
        isLoggedIn: false
      },
    	status: {
    		loading: false,
    		error: false,
    		message: ''
    	},
      solution: {
        checked: false,
        benefits: []
      },
      selectedBenefits: [],
      nameRules: [
        (v) => !!v || 'Este campo es requerido!',
        (v) => (v && v.length >= 3 && v.length <= 100) || 'Este campo debe tener entre 3 y 100 caracteres.'
      ],
      emailRules: [
        (v) => !!v || 'El e-mail debe ser válido.',
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid.'
      ]
    }
  },
  computed: {
    ...mapGetters('auth', ['isLoggedIn', 'currentUser', 'getToken']),
    ...mapGetters('company', ['getCompanyData', 'getStatus', 'getSolutions', 'getBenefits', 'getCategories', 'getExperiences', 'getTotalValidations']),
    getSolution () {
      if (this.getSolutions[this.$route.params.solution - 1]) {
        return this.getSolutions[this.$route.params.solution - 1]
      } else {
        return false
      }
    },

    maxPages () {
      return this.user.isLoggedIn ? 2 : 3
    },

    isLinkedinLoggedIn () {
      // this.user.isLoggedIn = this.linkedin !== null ? (typeof (this.linkedin.User) !== 'undefined' ? (this.linkedin.User.isAuthorized() === true ? true : false) : false) : false
      // console.log('isLoggedIn ? ', this.user.isLoggedIn)
      console.log('this.user.isLoggedIn', this.user.isLoggedIn)
      return this.user.isLoggedIn
    }
  },
  methods: {
  	ats (xs, sm, mdAndUp) {
      if (this.$vuetify.breakpoint.xs) {
        return xs
      }
      else if (this.$vuetify.breakpoint.sm) {
        return sm === '=' ? xs : sm
      }
      if (this.$vuetify.breakpoint.mdAndUp) {
        return mdAndUp
      }
    },

    select (benefit) {
      this.selectedBenefits.push(benefit)
    },

    remove (benefit) {
      this.selectedBenefits = this.selectedBenefits.filter( iBenefit => iBenefit._id !== benefit._id )
    },

    isSolutionSelected () {
      let selected = false
      for (let i = 0, len = this.getSolution.benefits.length; i < len; i++) {
        selected = _.find(this.getSolution.benefits[i].validations, { 'id': this.user.data.id }) ? true : false
        if (selected === true) { break }
      }
      console.log('isSolutionSelected', selected)
      return selected
    },

    isSelected (benefit) {
      return _.find(this.selectedBenefits, { '_id': benefit._id }) ? true : false
    },

    setStatus (loading, error, message) {
      this.status = {
        loading: loading,
        error: error,
        message: message
      }
    },

    getTotalYes (benefits) {
      let yes = 0
      for (let i = 0, len = benefits.length; i < len; i++) {
        yes += benefits[i].validations.length
      }
      return yes
    },

    Logout () {
      if (this.linkedin.User.isAuthorized() === true) {
        this.setStatus(true, false, '')
        IN.User.logout( () => { this.user.loaded = false; this.user.isLoggedIn = false; this.user.data = { id: '', firstName: '', lastName: '', headline: '', industry: '', pictureUrl: { file: null, filename: null, url: null, status: { error: false, message: '' } }, positions: '' }; this.selectedBenefits = []; this.part = 1;/*if (this.part !== 1) {this.part = 1}*/ this.setStatus(false, false, '') })
      } else {
        console.log('You are already logged out.')
      }
    },

    Login () {
      if (this.linkedin.User.isAuthorized() === false) {
        let linkedinWindow = this.linkedin.UI.Authorize().place()
        this.setStatus(true, false, '')
        linkedinWindow.onWindowRemove.subscribe(() => {
          this.initLogin()
        })
      } else {
        console.log('You are already logged in.')
      }
    },

    initLogin () {
      this.linkedin = IN
      if (this.linkedin.User.isAuthorized()) {
        // this.getLinkedinUser()
        this.user.isLoggedIn = true
        this.noLinkedin = false
        this.getLinkedinUser()
        console.log('You are now logged in.')
      } else {
        this.user.isLoggedIn = false
        this.setStatus(false, false, '')
        console.log('You chose not to validate your account so you can\'t validate this solution\'s benefits.')
        // this.snackbar.show = true
        // this.snackbar.success = false
        // this.snackbar.message = 'You chose not to validate your account so you can\'t validate this solution\'s benefits.'
      }
    },

    linkedinValidate () {
      if (this.linkedin.User.isAuthorized()) {
        console.log('1', this.linkedin.User.isAuthorized())
        this.$refs.validatebenefits.open()
      } else {
        this.linkedin.User.refresh()
        console.log('2')
        if (this.linkedin.User.isAuthorized()) {
          console.log('3')
          this.$refs.validatebenefits.open()
        } else {
          console.log('4')
          let linkedinWindow = this.linkedin.UI.Authorize().place()
          // console.log(linkedinWindow)
          linkedinWindow.onWindowRemove.subscribe(() => {
            this.linkedinValidateNext()
          })
        }
      }
    },

    linkedinValidateNext () {
      if (this.linkedin.User.isAuthorized()) {
        console.log('You are now logged in.')
      } else {
        console.log('You chose not to validate your account so you can\'t validate this solution\'s benefits.')
        // console.log('6')
        // this.snackbar.show = true
        // this.snackbar.success = false
        // this.snackbar.message = 'You chose not to validate your account so you can\'t validate this solution\'s benefits.'
      }
    },

    reloadToken () {
      this.linkedin.User.refresh()
      setTimeout(() => { 
        this.getValidated()
      }, 3000)
    },

    getLinkedinUser () {
      this.setStatus(true, false, '')
      if (this.linkedin.User.isAuthorized()) {
        this.linkedin.API.Raw('people/~:(id,first-name,last-name,headline,industry,positions,picture-url)?format=json').method('GET').result(async function (response) {
        this.user.data = {
          id: response.id,
          firstName: response.firstName,
          lastName: response.lastName,
          headline: response.headline,
          industry: response.industry,
          pictureUrl: response.pictureUrl,
          positions: response.positions
        }

        let selected = []
        for (let i = 0, len = this.getSolution.benefits.length; i < len; i++) {
          if (this.getSolution.benefits[i].validations.some(user => user.id.toString() === response.id.toString())) {
            selected.push(this.getSolution.benefits[i])
          }
        }
        this.solution.checked = this.isSolutionSelected()
        this.selectedBenefits = selected

        this.user.loaded = true
        this.setStatus(false, false, '')

        }, this).error( function () {
          this.status.loading = false
          this.status.error = true
          this.status.message = 'There was an error processing your validations. Please try again later.'
        }, this)
      } else {
        this.linkedin.User.refresh() // If token has expired, refresh it and check if user is logged in.
        if (this.linkedin.User.isAuthorized()) {
          this.linkedin.API.Raw('people/~:(id,first-name,last-name,headline,industry,positions,picture-url)?format=json').method('GET').result(async function (response) {
            this.user.data = {
              id: response.id,
              firstName: response.firstName,
              lastName: response.lastName,
              headline: response.headline,
              industry: response.industry,
              pictureUrl: response.pictureUrl,
              positions: response.positions
            }
            this.user.loaded = true
          }, this).error( function (error) {
              if(response.errorCode === 0) {
                this.reloadToken()
              } else {
                this.setStatus(false, true, 'There was an error processing your validations. Please try again later.')
              }
          }, this)
        } else {
          this.setStatus(false, true, 'You are not authorized to validate this service.')
        } 
      }
    },

    onFocus () {
      this.$refs.fileInput.click()
    },

    onFileChange ($event) {
      let file = $event.target.files || $event.dataTransfer.files
      file = file[0]
      this.formData.set('id', this.user.data.email)
      this.formData.set('firstName', this.user.data.firstName)
      this.formData.set('lastName', this.user.data.lastName)
      this.formData.set('headline', this.user.data.headline)
      this.formData.set('industry', this.user.data.industry)
      this.formData.set('positions', this.user.data.positions)
      this.formData.set('pictureUrl', null)
      this.formData.set('isLoggedIn', this.user.isLoggedIn)
      this.formData.set('solutionId', this.getSolution._id)
      this.formData.set('benefits', JSON.stringify(this.selectedBenefits))

      if (file) {
        if (file.type === 'image/jpeg' || file.type === 'image/png') {
          this.user.data.pictureUrl.file = file
          this.user.data.pictureUrl.filename = file.name
          this.formData.set('pictureUrl', this.user.data.pictureUrl.file, this.user.data.pictureUrl.filename)
          this.user.data.pictureUrl.status.error = false
          this.user.data.pictureUrl.status.messages = []
          this.user.data.pictureUrl.url = window.URL.createObjectURL(this.user.data.pictureUrl.file)
        } else {
          this.formData.set('pictureUrl', null)
          this.user.data.pictureUrl.status.error = true
          this.user.data.pictureUrl.status.messages = ['Solo se permiten imagenes JPEG y PNG.']
          this.user.data.pictureUrl.url = ''
        }
      } else {
        this.formData.set('pictureUrl', null)
        this.user.data.pictureUrl.status.error = false
        this.user.data.pictureUrl.status.messages = []
        this.user.data.pictureUrl.url = ''
      }
    },

    async validate () {
      console.log('in validate')
      this.setStatus(true, false, '')
      console.log('after loading')
      // if (this.linkedin.User.isAuthorized()) {
        // console.log('it is authorized')
        this.formData.set('id', this.user.data.email)
        this.formData.set('firstName', this.user.data.firstName)
        this.formData.set('lastName', this.user.data.lastName)
        this.formData.set('headline', this.user.data.headline)
        this.formData.set('industry', this.user.data.industry)
        this.formData.set('positions', this.user.data.positions)
        this.formData.set('isLoggedIn', this.user.isLoggedIn)
        this.formData.set('solutionId', this.getSolution._id)
        this.formData.set('benefits', JSON.stringify(this.selectedBenefits))

        let data = null
        if (this.user.isLoggedIn === true) {
          data = await this.$store.dispatch('company/validate', { loggedIn: this.user.isLoggedIn, linkedin: this.user.data, solutionId: this.getSolution._id, benefits: this.selectedBenefits })
        } else {
          if (this.$refs.formNoLinkedin.validate()) {
            data = await this.$store.dispatch('company/validate', this.formData)
          } else {
            await this.$store.dispatch('company/setStatus', { loading: false, error: true, message: 'Please make sure to fill all the necessary information.' })
          }
        }

        if (data.success === true) {
          await this.$store.dispatch('company/populate', { identifier: this.$route.params.identifier, silent: true })
          this.setStatus(false, false, '')
          this.thanks = true
          this.$vuetify.goTo(0, {duration: '0', easing: 'linear'})
          // this.$emit('snackbar', { error: false, message: 'Benefits validated successfully. Thank you for your input.' })
        } else {
          this.setStatus(false, false, '')
          this.$emit('snackbar', { error: true, message: 'Unfortunately we couldn\'t process your validations properly. Please try again later.' })
        }
      // } else {
      //   console.log('this probably expired')
      //   this.$emit('snackbar', { error: true, message: 'Your account must be verified so you can validate benefits.' })
      // }
    }
  },
  mounted: function () {
    this.setStatus(true, false, '')
    setTimeout(() => {
      if (typeof(IN) === "undefined") {
        console.log('Linkedin script failed to load after 30 seconds of waiting.')
        this.noLinkedin = true
        this.setStatus(false, false, '')
      }
    }, 60000)
    if (typeof(IN) === "undefined") { // If the script is not loaded yet.
      console.log('Linkedin script is not loaded. Loading it now.')
      let linkedin = document.createElement('script')
      linkedin.type = 'text/javascript'
      linkedin.defer = true
      linkedin.setAttribute('src', 'https://platform.linkedin.com/in.js?async=true')
      linkedin.onload = () => {
        IN.init({
          api_key: '77a6bd5zeu6cl0',
          // onLoad: function () { this.getLinkedinUser() },
          authorize: true,
          lang: 'en_US'
        })
        // this.linkedin = IN
        IN.Event.on(IN, 'systemReady' , this.initLogin)
        // IN.Event.on(IN, 'auth' , this.getLinkedinUser)
      }
      document.head.appendChild(linkedin)
    } else { // If it is already loaded.
      console.log('already loaded')
      // this.linkedin = IN
      this.initLogin()
      // this.getLinkedinUser()
    }
  },
  beforeRouteEnter (to, from, next) {
    console.log('beforeRouteEnter')
    next()
  }
}
</script>

<style scoped>
.v-toolbar__content {
  padding: 0px !important;
}
</style>
