<template>
<v-layout column fill-height style="background-color: #D5E3E4; min-height: 900px" v-scroll="onScroll">
    <v-toolbar dense fixed class="white elevation-0">
        <v-toolbar-items>
                <v-layout fill-height justify-center align-center @click="exit" class="font-weight-bold subheading grey--text text--darken-3 underline" style="cursor: pointer;">
                    <v-flex>
                        <div>
                            <v-icon small class="mr-2">fas fa-arrow-left</v-icon>
                            Salir del editor
                        </div>
                    </v-flex>
                </v-layout>
        </v-toolbar-items>
        <v-spacer></v-spacer>
    </v-toolbar>
    <v-flex xs12 class="py-4">
        <v-layout row wrap>
            <v-spacer class="hidden-md-and-down"></v-spacer>
            <v-flex xs12 md10>
                <v-layout column fill-height>
                    <v-flex xs12 mb-4 style="margin-top: 27px">
                        <v-layout row wrap>
                            <v-flex order-xs2 order-md1 xs12 md8>
                                <v-tabs grow hide-slider color="white" class="hidden-md-and-down">
                                    <v-tab :to="'/company/' + currentUser.identifier + '/edit/about'" :disabled="getStatus.loading" :ripple="false" style="text-transform: capitalize !important" class="font-weight-bold font-size-18 color-00306e" active-class="selected-tab"><img class="pr-2" :disabled="getStatus.loading" style="width: 30px; height: 24px" :src="editing === 'about' ? '/static/images/edit/icon-1-selected.png' : '/static/images/edit/icon-1.png'">Tu empresa</v-tab>
                                    <v-tab :to="'/company/' + currentUser.identifier + '/edit/services'" :disabled="getStatus.loading" :ripple="false" style="text-transform: capitalize !important" class="font-weight-bold font-size-18 color-00306e" active-class="selected-tab"><img class="pr-2" :disabled="getStatus.loading" style="width: 30px; height: 24px" :src="editing === 'services' ? '/static/images/edit/icon-2-selected.png' : '/static/images/edit/icon-2.png'">Tus servicios</v-tab>
                                    <v-tab :to="'/company/' + currentUser.identifier + '/edit/happyclients'" :disabled="getStatus.loading" :ripple="false" style="text-transform: capitalize !important" class="font-weight-bold font-size-18 color-00306e" active-class="selected-tab"><img class="pr-2" :disabled="getStatus.loading" style="width: 30px; height: 24px" :src="editing === 'happyclients' ? '/static/images/edit/icon-3-selected.png' : '/static/images/edit/icon-3.png'">Clientes Contentos</v-tab>
                                    <v-tab :to="'/company/' + currentUser.identifier + '/edit/thanks'" :disabled="getStatus.loading" :ripple="false" style="text-transform: capitalize !important" class="font-weight-bold font-size-18 color-00306e" active-class="selected-tab"><img class="pr-2" :disabled="getStatus.loading" style="width: 30px; height: 24px" :src="editing === 'thanks' ? '/static/images/edit/icon-4-selected.png' : '/static/images/edit/icon-4.png'">Da las Gracias</v-tab>
                                </v-tabs>
                                <v-list class="transparent hidden-md-and-up pb-4">
                                  <v-list-tile :to="'/company/' + currentUser.identifier + '/edit/about'" :disabled="getStatus.loading" class="py-1">
                                    <span :class="editing === 'about'? 'cSelected font-weight-bold subheading' : 'font-weight-bold grey--text text--darken-1 subheading'" style="text-align: center !important; width: 100%">Tu Empresa</span>
                                  </v-list-tile>
                                  <v-list-tile :to="'/company/' + currentUser.identifier + '/edit/services'" :disabled="getStatus.loading" class="py-1">
                                    <span :class="editing === 'services'? 'cSelected font-weight-bold subheading' : 'font-weight-bold grey--text text--darken-1 subheading'" style="text-align: center !important; width: 100%">Tus Servicios</span>
                                  </v-list-tile>
                                  <v-list-tile :to="'/company/' + currentUser.identifier + '/edit/happyclients'" :disabled="getStatus.loading" class="py-1">
                                    <span :class="editing === 'happyclients'? 'cSelected font-weight-bold subheading' : 'font-weight-bold grey--text text--darken-1 subheading'" style="text-align: center !important; width: 100%">Clientes Contentos</span>
                                  </v-list-tile>
                                  <v-list-tile :to="'/company/' + currentUser.identifier + '/edit/thanks'" :disabled="getStatus.loading" class="py-1">
                                    <span :class="editing === 'thanks'? 'cSelected font-weight-bold subheading' : 'font-weight-bold grey--text text--darken-1 subheading'" style="text-align: center !important; width: 100%">Da las Gracias</span>
                                  </v-list-tile>
                                </v-list> 
                            </v-flex>
                            <v-spacer class="hidden-md-and-down"></v-spacer>
                            <v-flex order-xs1 order-md2 xs12 md4 :class="ats('text-xs-center mx-3', '=', 'text-xs-right')">
                              <v-btn :block="ats(true, true, false)" depressed :disabled="!allowPublish || getStatus.loading" :loading="getStatus.loading" class="white--text font-weight-bold px-5 my-0" :style="ats('height: 50px', '=', 'height: 70px; min-width: 333px')" color="button" @click="publish">{{getStatus.loading ? 'Loading...' : (getCompanyData.published ? 'Haz tu cartera de servicios privada' : 'Lanza tu cartera de servicios')}}</v-btn>
                            </v-flex>
                        </v-layout>        
                    </v-flex>
                    <v-flex xs12 mt-5 mb-4>
                        <div v-if="editing === 'about'">
                            <div class="display-1 font-weight-bold mb-2">Tu empresa</div>
                            <div class="body-1 font-weight-bold">Crea una primera gran impresión</div>
                        </div>
                        <div v-if="editing === 'services'">
                            <div class="display-1 font-weight-bold mb-2">Tus servicios</div>
                            <div class="body-1 font-weight-bold">Explica los servicios con los que habéis ayudado a vuestros clientes.</div>
                        </div>
                        <div v-if="editing === 'happyclients'">
                            <div class="display-1 font-weight-bold mb-2">Clientes Contentos</div>
                            <div class="body-1 font-weight-bold">Demuestra el apoyo de los clientes a los que ya has ayudado.</div>
                        </div>
                        <div v-if="editing === 'thanks'">
                            <div class="display-1 font-weight-bold mb-2">Gracias</div>
                            <div class="body-1 font-weight-bold">Dale las gracias a tus clientes por mostrarte su apoyo.</div>
                        </div>
                    </v-flex>
                    <v-flex xs12>
                      <v-layout row wrap fill-height >
                          <v-flex xs12 md8>
                              <About ref="about" v-show="editing === 'about'" @reload="reload($event)"></About>
                              <Solutions ref="solutions" v-show="editing === 'services'" @reload="reload($event)" @create="solution.create = $event" @open="solution.open = $event" @part="solution.part = $event"></Solutions>
                              <HappyClients ref="happyclients" v-show="editing === 'happyclients'" @reload="reload($event)"></HappyClients>
                              <Thanks ref="thanks" v-show="editing === 'thanks'" @reload="reload($event)"></Thanks>
                          </v-flex>
                          <v-flex xs12 md4>
                              <v-layout ref="containerLimit" column px-3>
                                  <v-flex xs12 v-if="editing === 'about' || editing === 'thanks'">
                                      <v-btn block depressed :disabled="getStatus.loading" :loading="getStatus.loading" :class="ats('font-weight-bold px-5 mt-5 white--text', '=', 'font-weight-bold px-5 my-0 white--text')" :style="ats('height: 60px', '=', 'height: 70px')" color="button" @click="save">Guardar cambios</v-btn>
                                  </v-flex>
                                  <v-card v-if="editing === 'about' || editing === 'thanks'" class="pa-0 mt-3">
                                      <v-alert v-if="getStatus.error" class="my-0"  color="error" icon="warning" value="true">{{getStatus.message}}</v-alert>
                                  </v-card>
                                  <!-- <v-card :class="editing === 'about' || editing === 'thanks' ? 'px-4 pt-3 pb-4 mt-3 hidden-sm-and-down' : 'px-4 pt-3 pb-4 hidden-sm-and-down'">
                                      <v-layout column fill-height>
                                          <v-flex xs12 class="subheading font-weight-bold text-xs-left pt-2">
                                              <v-avatar color="blue-grey darken-3" size="40" class="mr-2"></v-avatar>
                                              Tu checklist antes de lanzar:
                                          </v-flex>
                                          <v-flex xs10 offset-xs2 :class="getStatus.loading ? 'grey--text text--lighten-1 font-weight-bold subheading text-xs-left mb-1' : (getCompanyData.name ? 'green--text text--accent-2 font-weight-bold subheading text-xs-left mb-1' : 'red--text text--accent-2 font-weight-bold subheading text-xs-left')"><v-icon small :color="getStatus.loading ? 'grey lighten-1' : (getCompanyData.name ? 'green accent-2' : 'red accent-2')" class="mr-2">{{getStatus.loading ? 'fas fa-circle' : (getCompanyData.name ? 'fas fa-check' : 'fas fa-times')}}</v-icon>Nombre comercial</v-flex>
                                          <v-flex xs10 offset-xs2 :class="getStatus.loading ? 'grey--text text--lighten-1 font-weight-bold subheading text-xs-left mb-1' : (getCompanyData.industry ? 'green--text text--accent-2 font-weight-bold subheading text-xs-left mb-1' : 'red--text text--accent-2 font-weight-bold subheading text-xs-left')"><v-icon small :color="getStatus.loading ? 'grey lighten-1' : (getCompanyData.industry ? 'green accent-2' : 'red accent-2')" class="mr-2">{{getStatus.loading ? 'fas fa-circle' : (getCompanyData.industry ? 'fas fa-check' : 'fas fa-times')}}</v-icon>Especialización</v-flex>
                                          <v-flex xs10 offset-xs2 :class="getStatus.loading ? 'grey--text text--lighten-1 font-weight-bold subheading text-xs-left mb-1' : (getCompanyData.description ? 'green--text text--accent-2 font-weight-bold subheading text-xs-left mb-1' : 'red--text text--accent-2 font-weight-bold subheading text-xs-left')"><v-icon small :color="getStatus.loading ? 'grey lighten-1' : (getCompanyData.description ? 'green accent-2' : 'red accent-2')" class="mr-2">{{getStatus.loading ? 'fas fa-circle' : (getCompanyData.description ? 'fas fa-check' : 'fas fa-times')}}</v-icon>Sobre ti</v-flex>
                                          <v-flex xs10 offset-xs2 :class="getStatus.loading ? 'grey--text text--lighten-1 font-weight-bold subheading text-xs-left mb-1' : (getCompanyData.coverImage ? 'green--text text--accent-2 font-weight-bold subheading text-xs-left mb-1' : 'red--text text--accent-2 font-weight-bold subheading text-xs-left')"><v-icon small :color="getStatus.loading ? 'grey lighten-1' : (getCompanyData.coverImage ? 'green accent-2' : 'red accent-2')" class="mr-2">{{getStatus.loading ? 'fas fa-circle' : (getCompanyData.coverImage ? 'fas fa-check' : 'fas fa-times')}}</v-icon>Imagen de Portada</v-flex>
                                          <v-flex xs10 offset-xs2 :class="getStatus.loading ? 'grey--text text--lighten-1 font-weight-bold subheading text-xs-left mb-1' : (getSolutions.length > 0 ? 'green--text text--accent-2 font-weight-bold subheading text-xs-left mb-1' : 'red--text text--accent-2 font-weight-bold subheading text-xs-left')"><v-icon small :color="getStatus.loading ? 'grey lighten-1' : (getSolutions.length > 0 ? 'green accent-2' : 'red accent-2')" class="mr-2">{{getStatus.loading ? 'fas fa-circle' : (getSolutions.length > 0 ? 'fas fa-check' : 'fas fa-times')}}</v-icon>Tus Servicios</v-flex>
                                          <v-flex xs10 offset-xs2 :class="getStatus.loading ? 'grey--text text--lighten-1 font-weight-bold subheading text-xs-left mb-1' : (getBenefits.length > 0 ? 'green--text text--accent-2 font-weight-bold subheading text-xs-left mb-1' : 'red--text text--accent-2 font-weight-bold subheading text-xs-left')"><v-icon small :color="getStatus.loading ? 'grey lighten-1' : (getBenefits.length > 0 ? 'green accent-2' : 'red accent-2')" class="mr-2">{{getStatus.loading ? 'fas fa-circle' : (getBenefits.length > 0 ? 'fas fa-check' : 'fas fa-times')}}</v-icon>Tus resultados</v-flex>
                                      </v-layout>
                                  </v-card> -->
                                  <v-card ref="movingBox" class="px-4 pt-3 pb-4 hidden-sm-and-down text-xs-left moving-box" v-if="editing === 'services'" style="min-height: 263px">
                                    <div v-if="!solution.create && !solution.open">
                                        <div class="subheading font-weight-bold pb-2">Algunas Ideas</div>
                                        <div style="text-align: justify">
                                          Vamos a proporcionarte la posibilidad de que expliques de una manera rápida y visual la experiencia de tus cliente con tus servicios. <br>
                                          Un clientes potencial prefieren ver un resumen genérico de estabilidad y resultados de aquellas empresas a las que está pensando contratar. <br>
                                          Hoy en día todos estamos demasiado ocupados, por lo que la pregunta a responder es de una manera rápida es ¿puedes hacer el trabajo y puedes hacerlo bien?
                                        </div>
                                    </div>

                                    <div v-if="(solution.create || solution.open) && solution.part === 1">
                                        <div class="subheading font-weight-bold pb-2">Detalles</div>
                                        <div style="text-align: justify">
                                          Describe un servicio que ya hayas prestado de una manera genérica. Si dudas como describirlo la sección soluciones o servicios de tu página web te puede dar ideas. <br>
                                          Hemos puesto un límite texto porque hoy en día la gente quiere leer rápido y directo al grano. <br>
                                          Una descripción breve y el respaldo de tus clientes a tu servicio es todo lo que un cliente potencial necesita.
                                        </div>
                                    </div>

                                    <div v-if="(solution.create || solution.open) && solution.part === 2">
                                        <div class="subheading font-weight-bold pb-2">Detalles</div>
                                        <div style="text-align: justify">
                                          Identifica un poco más qué tipo de servicio has prestado ya con éxito. Te hemos dado la posibilidad de que escribas tú la categoría para individualizar más tu cartera de servicios.
                                        </div>
                                    </div>

                                    <div v-if="(solution.create || solution.open) && solution.part === 3">
                                        <div class="subheading font-weight-bold pb-2">Detalles</div>
                                        <div style="text-align: justify">
                                          Esto lo usaremos para recordarte cuantos apoyos de tus clientes llevas y cuantos puedes conseguir todavía
                                        </div>
                                    </div>

                                    <div v-if="(solution.create || solution.open) && solution.part === 4">
                                        <div class="subheading font-weight-bold pb-2">Detalles</div>
                                        <div style="text-align: justify">
                                          Explica qué resultados conseguiste con el servicio que prestaste a tus clientes. Alguna de las áreas donde puedes describir mejoras son: ahorro de tiempo, productividad, eficiencia, antes y después, mejora de algún aspecto, seguridad o impacto financiero.
                                        </div>
                                    </div>

                                    <div v-if="(solution.create || solution.open) && solution.part === 5">
                                        <div class="subheading font-weight-bold pb-2">Detalles</div>
                                        <div style="text-align: justify">
                                          Una imágen vale más que mil palabras, sube una imágen que ayude a describir tu servicio y soluciones.<br>
                                          Algunas páginas donde puedes encontrar una imágen increíble rápidamente son: <a href="https://www.pexels.com" target="_blank">www.pexels.com</a>, <a href="https://www.pixabay.com" target="_blank">www.pixabay.com</a> o <a href="https://https://burst.shopify.com" target="_blank">https://burst.shopify.com</a>
                                        </div>
                                    </div>

                                  </v-card>
                              </v-layout>
                          </v-flex>
                      </v-layout>
                    </v-flex>
                    <v-snackbar bottom :color="snackbar.success? 'success' : 'error'" :timeout="10000" :multi-line="true" v-model="snackbar.show">
                        {{ snackbar.message }}
                        <v-btn flat color="white" @click.stop="snackbar = false">Close</v-btn>
                    </v-snackbar>
                </v-layout>
            </v-flex>
            <v-spacer class="hidden-md-and-down"></v-spacer>
        </v-layout>
    </v-flex>
</v-layout>
</template>

<script>
// @ is an alias to /src
import { mapGetters } from 'vuex'

import About from '@/components/About.vue'
import Solutions from '@/components/Solutions.vue'
import HappyClients from '@/components/HappyClients.vue'
import Thanks from '@/components/Thanks.vue'

export default {
  name: 'home',
  components: {
    About, Solutions, HappyClients, Thanks
  },
  data () {
    return {
      snackbar: {
        show: false,
        success: true,
        message: ''
      },
      offsetTop: 0,
      solution: {
        open: null,
        create: null,
        part: 1
      }
    }
  },
  computed: {
    ...mapGetters('auth', ['isLoggedIn', 'currentUser']),
    ...mapGetters('company', ['getCompanyData', 'getStatus', 'setStatus', 'getSolutions', 'getBenefits', 'getExperiences', 'getTotalValidations']),
    editing () {
        return this.$route.params.editing.toLowerCase()
    },
    allowPublish () {
      if (this.getStatus.loading === false) {
        if (this.getCompanyData.name !== '' && this.getCompanyData.industry !== '' && this.getCompanyData.description !== '' && this.getCompanyData.coverImage !== '' && this.getSolutions.length > 0 && this.getBenefits.length > 0) {
          return true
        } else {
          return false
        }
      } else {
        return false
      }
    }
  },
  methods: {
    ats (xs, sm, mdAndUp) { // According to Size
      if (this.$vuetify.breakpoint.xs) {
        return xs
      }
      else if (this.$vuetify.breakpoint.sm) {
        return sm === '=' ? xs : sm
      }
      if (this.$vuetify.breakpoint.mdAndUp) {
        return mdAndUp
      }
    },

    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      let headerOffset = this.$refs.solutions.offsetTop ? this.$refs.solutions.offsetTop : 0
      this.$nextTick( () => {
        if (this.offsetTop > headerOffset) {
          let move = this.offsetTop <= (this.$refs.solutions.$el.clientHeight - this.$refs.movingBox.$el.clientHeight) ? this.offsetTop : (this.$refs.solutions.$el.clientHeight - this.$refs.movingBox.$el.clientHeight)
              move = move < 0 ? 0 : move
          this.$refs.movingBox.$el.style.transform = 'translateY(' + move + 'px)'
        } else {
          // this.sticky = false
        }
      })
    },

    initializeAbout () {
        this.$refs.about.initialize()
    },
    save () {
      if (this.editing === 'about') {
          this.$refs.about.save(true, 'about')
      }

      if (this.editing === 'thanks') {
          this.$refs.thanks.save(true, 'thanks')
      }
    },

    async reload (event) {
      if (event.reload === true) {
          await this.$store.dispatch('auth/reload')
          await this.$store.dispatch('company/populate', this.currentUser.identifier)
      }
      if (event.redirect === true) {
          this.$router.push('/company/' + this.currentUser.identifier + '/edit/' + event.to)
      }
    },

    async publish () {
      let response = await this.$store.dispatch('company/publish')
      if (response.success === true) {
        if (this.getCompanyData.published)
          this.$router.push('/company/' + this.currentUser.identifier + '?published=false')
        else
          this.$router.push('/company/' + this.currentUser.identifier + '?published=true')
      }
    },

    async exit () {
      if(this.$route.params.editing == 'about') {
        let response = await this.$refs.about.save(true, 'out')
        if (response === true) {
            await this.$store.dispatch('auth/reload')
            this.$router.push('/company/' + this.currentUser.identifier)
        } else {}
      } else if (this.$route.params.editing == 'thanks') {
        let response = await this.$refs.thanks.save(true, 'out')
        if (response === true) {
            await this.$store.dispatch('auth/reload')
            this.$router.push('/company/' + this.currentUser.identifier)
        } else {}
      } else {
        this.$router.push('/company/' + this.currentUser.identifier)
      }
    }
  },
  created: function () {
    this.$store.dispatch('company/populate', this.$route.params.identifier)
  },
  async beforeRouteUpdate (to, from, next) {
    if(from.params.editing == 'about') {
      let response = await this.$refs.about.save(true, to.params.editing)
      if (response === true) {
          next(true)
      } else {
          next(false)
      }
    } else if (from.params.editing == 'thanks') {
      let response = await this.$refs.thanks.save(true, to.params.editing)
      if (response === true) {
          next(true)
      } else {
          next(false)
      }
    } else {
      next(true)
    }

    // if (to.params.editing == 'about') {
    //   next(this.$store.dispatch('company/populate', this.$route.params.identifier))
    // } else {
    //   console.log('I\'m actually here')
    //   next(true)
    // }
  }
}
</script>

<style>
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.cSelected {
  color: #1565C0 !important;
}

div.btn__content {
  padding: 0;
}

div.card__actions .btn {
  min-width: 0;
}

.underline:hover {
    text-decoration: underline;
}

.selected-tab {
  color: white !important;
  background-color: #B3BEC0 !important;
}

.moving-box {
  transition: transform 1s;
}
</style>
