<template>
  <v-layout fill-height column>
    <v-flex xs12 text-xs-left :class="ats('blue accent-2 py-4 px-5', '=', 'pa-5 blue accent-2')"  :style="ats('', '=', 'padding: 64px 106px !important')">
      <div :class="ats('headline white--text', '=', 'display-2 white--text')">
        Obtén más <br>información sobre<br> Yes Them.
      </div>
      <div :class="ats('body-2 font-weight-regular white--text pt-3', '=', 'headline white--text pt-3')">
        No importa si estás empezando o tienes una duda puntual, <br>
        te daremos todas las respuestas para que administres la <br>
        información de tu negocio en Yes Them.
      </div>
    </v-flex>
    <v-flex xs12>
      <v-layout fill-height :row="ats(false, false, true)" :wrap="ats(false, false, true)" :column="ats(true, true, false)" class="white">
        <v-flex xs12 md6>
          <v-layout column fill-height justify-center align-center :class="ats('grey lighten-4 py-5', '=', 'grey lighten-4 mr-5')">
            <div class="headline">Obtén ayuda <br>rápidamente</div>
          </v-layout>
        </v-flex>
        <v-flex xs12 md4 text-xs-left class="white pa-5">
          <v-form ref="contactHelp" v-model="contact.valid">
            <div class="headline mb-3 text-xs-left">Contact</div>
            <v-text-field
              v-model="contact.name"
              label="Full name"
              :rules="requiredRules"
            ></v-text-field>
            <v-text-field
              v-model="contact.email"
              label="E-mail"
              :rules="requiredRules"
            ></v-text-field>
            <v-textarea
              v-model="contact.message"
              label="Message"
              :rules="requiredRules"
              outline
              no-resize
            ></v-textarea>
          </v-form>
          <v-btn color="primary" :disabled="status.loading" :loading="status.loading" @click.native.stop="contactHelp()">Send</v-btn>
        </v-flex>
        <v-flex xs2 class="white hidden-sm-and-down"></v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12 pa-5 text-xs-center class="white">
      <div :class="ats('headline pb-4 px-2 pt-5', '=', 'display-2 pb-4 px-2 pt-5')" style="line-height: 55px !important">
        ¿Comenzamos?
      </div>
      <div :class="ats('body-2 font-weight-regular', '=', 'subheading px-2')" style="line-height: 1.7 !important">
        Registrarse es gratis y sólo te llevará unos minutos. Obtén tu perfil ahora mismo y comienza a disfrutar de sus beneficios.
      </div>
      <div>
        <v-btn large depressed color="green accent-4" class="white--text font-weight-bold px-4 my-4 mx-0" :style="ats('height:50px', '=', 'height:60px')" to="/register">Comenzar ahora</v-btn>
      </div>
    </v-flex>
    <v-snackbar bottom :color="snackbar.success? 'success' : 'error'" timeout="10000" multi-line="true" v-model="snackbar.show">
        {{ snackbar.message }}
        <v-btn flat color="white" @click.native.stop="snackbar.show = false">Close</v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
  data () {
    return {
      contact: {
        valid: false,
        name: '',
        email: '',
        message: ''
      },
      status: {
        loading: false,
        error: false,
        message: ''
      },
      snackbar: {
        show: false,
        success: true,
        message: ''
      },
      requiredRules: [
        (v) => !!v || 'This field is required.'
      ]
    }
  },
  computed: {
    ...mapGetters('auth', ['isLoggedIn', 'currentUser']),
    ...mapGetters('company', ['getCompanyData', 'getStatus', 'setStatus', 'getSolutions', 'getBenefits', 'getExperiences', 'getTotalValidations'])
  },
  methods: {
    ats (xs, sm, mdAndUp) { // According to Size
      if (this.$vuetify.breakpoint.xs) {
        return xs
      }
      else if (this.$vuetify.breakpoint.sm) {
        return sm === '=' ? xs : sm
      }
      if (this.$vuetify.breakpoint.mdAndUp) {
        return mdAndUp
      }
    },

    async contactHelp () {
      if (this.$refs.contactHelp.validate()) {
        this.status.loading = true
        this.status.error = false
        this.status.message = ''
        try {
          await axios.post('/api/company/contact/email', { user: this.contact.name, email: this.contact.email, message: this.contact.message })
          this.status.loading = false
          this.status.error = false
          this.status.message = 'An e-mail with your inquiry was sent. Thank you.'
          this.snackbar.show = true
          this.snackbar.success = !this.status.error
          this.snackbar.message = this.status.message
        } catch (error) {
          let message = ''
          if (error.response) {
            if (Array.isArray(error.response.data.message)) {
              for (let i = 0, len = error.response.data.message.length; i < len; i++) {
                message += error.response.data.message[i] + (i === (error.response.data.message.length - 1) ? '.' : ', ')
              }
            } else {
              message = error.response.data.message
            }
          } else if (error.request) {
            message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
          } else {
            message = error.message
          }
          this.status.loading = false
          this.status.error = true
          this.status.message = message
          this.snackbar.show = true
          this.snackbar.success = !this.status.error
          this.snackbar.message = this.status.message
        }
      } else {
        this.status.loading = false
        this.status.error = true
        this.status.message = 'All the fields are required.'
        this.snackbar.show = true
        this.snackbar.success = !this.status.error
        this.snackbar.message = this.status.message
      }
    }
  }
}
</script>

<style>
</style>
