<template>
	<v-layout column white v-scroll="onScroll">
		<v-flex white :style="ats('', '', style)">
			<v-layout row wrap >
				<v-flex xs0 md1 white :style="ats('', '', 'height: 750px')"></v-flex>
				<v-flex xs12 md4 :class="ats('pa-4', '=', 'py-5 pl-5 pr-0')" text-xs-left transparent :style="ats('', '', 'height: 750px')">
					<v-layout column fill-height justify-center align-center>
						<v-flex xs12 :class="ats('text-xs-center mx-2', '=', 'text-xs-left')">
							<div class="pb-4 font-weight-bold arial color-1d2d35" :style="ats('line-height: 32px !important; font-size: 26px !important', '=', 'line-height: 55px !important; font-size: 40px !important; padding-top: 15%')">
								Todo empieza con tu increible cartera de servicios
							</div>
							<div class="arial color-1d2d35 font-weight-regular" :style="ats('line-height: 1.4 !important; font-size: 18px !important', '=', 'line-height: 1.7 !important; font-size: 20px !important')">
								Demuestra tu experiencia y convierte a los clientes que ya has ayudado en tu herramienta de marketing más potente
							</div>
							<div class="mt-2">
								<v-btn :block="ats(true, true,false)" depressed class="white--text px-5 my-4 mx-0 font-weight-bold button--green squared" :style="ats('height:50px', '=', 'height:50px')" to="/register">Primeros pasos</v-btn>
							</div>
						</v-flex>
					</v-layout>
				</v-flex>
				<v-flex xs12 hidden-md-and-up>
					<v-card flat class="white" :style="style"></v-card>
				</v-flex>
			</v-layout>
		</v-flex>

		<!-- <v-flex class="py-4" :style="ats('background-color: #D5E3E4', 'padding-top: 75px !important; background-color: #D5E3E4', 'padding-top: 175px !important; background-color: #D5E3E4')">
			<v-layout row wrap style="overflow: hidden">
				<v-flex xs12 :class="ats('px-1 pb-1 pt-4 text-xs-center', '=', 'pa-5 text-xs-left')">
					<div class="px-2 pb-5">
						<span class="font-size-18 font-weight-bold ml-4 arial color-1d2d35 text-uppercase" :style="$vuetify.breakpoint.smAndDown? 'border-bottom: 3px solid green; padding-bottom: 1px' : 'border-bottom: 3px solid green; padding-bottom: 15px;'">Algunas soluciones Yes Them</span>
					</div>
					<div :style="ats('min-height: 635px; min-width: 3780px; position: relative !important;', '=', 'min-height: 735px; min-width: 3780px; position: relative !important;')">
						<v-layout row wrap fill-height class="gallery" style="min-height: 735px; min-width: 3780px; position: absolute !important; top: 0; left: 0px; padding-top: 48px !important">
							<v-flex xs12 style="min-height: 735px; max-width: 1260px; position: absolute; left: -156px; top: 0;">
								<v-layout row wrap>
									<v-flex xs3 v-for="index in 8" :class="index % 2 === 0 ? ats('py-3', '=', 'py-5') : 'py-3'" @mouseover="beingHovered = index" @mouseout="beingHovered = null">
										<img :key="index" :class="beingHovered === index ? 'zoomable zoomed': 'zoomable'" :src="'static/images/sol-' + index + '.png'"/>
									</v-flex>
								</v-layout>
							</v-flex>
							<v-flex xs12 style="min-height: 735px; max-width: 1260px; position: absolute; left: calc(1260px - 156px); top: 0;">
								<v-layout row wrap>
									<v-flex xs3 v-for="index in 8" :class="index % 2 === 0 ? ats('py-3', '=', 'py-5') : 'py-3'" @mouseover="beingHovered = (index + 8)" @mouseout="beingHovered = null">
										<img :key="index + 8" :class="beingHovered === (index + 8) ? 'zoomable zoomed': 'zoomable'" :src="'static/images/sol-' + (index + 8) + '.png'"/>
									</v-flex>
								</v-layout>
							</v-flex>
							<v-flex xs12 style="min-height: 735px; max-width: 1260px; position: absolute; left: calc(1260px + 1260px - 156px); top: 0;">
								<v-layout row wrap>
									<v-flex xs3 v-for="index in 8" :class="index % 2 === 0 ? ats('py-3', '=', 'py-5') : 'py-3'" @mouseover="beingHovered = (index + 16)" @mouseout="beingHovered = null">
										<img :key="index + 16" :class="beingHovered === (index + 16) ? 'zoomable zoomed': 'zoomable'" :src="'static/images/sol-' + index + '.png'"/>
									</v-flex>
								</v-layout>
							</v-flex>
						</v-layout>
					</div>
				</v-flex>
			</v-layout>
		</v-flex> -->

		<v-flex :class="ats('mb-4 mt-0 pt-5 mb-5 pl-2', '=', 'py-5')" style="background-color: #F5F5F5">
			<v-layout row wrap>
				<v-flex xs0 md1></v-flex>
				<v-flex xs12 md11 :class="ats('pa-3 text-xs-left', '=', 'pa-5 text-xs-left')">
					<v-layout row wrap>
						<v-flex xs12 md4 :class="ats('pb-5', '=', '')">
							<v-layout row wrap fill-height align-top justify-center>
								<v-flex xs2 pt-2>
									<img :style="ats('height: 25px; width: 53px', '=', 'height: 31px; width: 66px')" src="/static/images/home/icon1.png">
								</v-flex>
								<v-flex xs10 px-2>
									<div class="font-size-18 arial color-1d2d35 pb-3 font-weight-bold">
										<span class="display-1 font-weight-bold">80%</span> <br>
										de consumidores recomiendan
									</div>
									<div class="font-size-16 arial color-1d2d35">
										Un 80% de clientes opinan que un 
										servicio que le ha sido útil a alguien 
										como ellos, equivale a una 
										recomendación personal.
									</div>
								</v-flex>
							</v-layout>
						</v-flex>
						<v-flex xs12 md4 :class="ats('pb-5', '=', '')">
							<v-layout row wrap fill-height align-top justify-center>
								<v-flex xs2>
									<img style="height: 42px; width: 42px" src="/static/images/home/icon2.png">
								</v-flex>
								<v-flex xs10 px-2>
									<div class="font-size-18 arial color-1d2d35 pb-3 font-weight-bold">
										<span class="display-1 font-weight-bold">9 de cada 10</span> <br>
										clientes usan internet
									</div>
									<div class="font-size-16 arial color-1d2d35">
										9 de cada 10 clientes buscan en internet 
										información sobre el producto o servicio 
										que quieren contratar.
									</div>
								</v-flex>
							</v-layout>
						</v-flex>
						<v-flex xs12 md4 :class="ats('pb-5', '=', '')">
							<v-layout row wrap fill-height align-top justify-center>
								<v-flex xs2 pt-2>
									<img :style="ats('height: 37px; width: 46px', '=', 'height: 46px; width: 58px')" src="/static/images/home/icon3.png">
								</v-flex>
								<v-flex xs10 px-2>
									<div class="font-size-18 arial color-1d2d35 pb-3 font-weight-bold">
										<span class="display-1 font-weight-bold">8,4 sobre 10</span> <br>
										como fuente de informacion fiable
									</div>
									<div class="font-size-16 arial color-1d2d35">
										Dentro de las fuentes de información 
										fiables para los consumidores, la experiencia 
										de un cliente con un producto o servicio, 
										se percibe con una nota media de 
										7.9 sobre 10.
									</div>
								</v-flex>
							</v-layout>
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>
		</v-flex>

		<!-- <v-flex :class="ats('mb-4 mt-0 pt-3 mb-5 white', '=', 'pt-5')" :style="ats('background-color: white', '=', 'background-color: #F5F5F5; padding-top: 72px !important; padding-bottom: 128px !important')">
			<v-layout row wrap>
				<v-flex xs0 md1 :style="ats('', '=', 'height: 675px')"></v-flex>
				<v-flex xs12 md6 :class="ats('pa-3 text-xs-left', '=', 'pa-5 text-xs-left')" :style="ats('', '=', 'height: 675px')">
					<div :class="ats('px-3 pb-1', '=', 'px-2 pb-4')">
						<span class="font-size-18 font-weight-bold arial color-1d2d35 text-uppercase" style="border-bottom: 3px solid red; padding-bottom: 15px">Respaldo</span>
					</div>
					<div :class="ats('pb-4 px-3 pt-5 arial color-1d2d35', '=', 'pb-4 px-2 pt-5 arial color-1d2d35 font-weight-bold')" :style="ats('font-size: 28px !important', '=', 'line-height: 55px !important; font-size: 48px !important')">
						Muestra el respaldo de los clientes con los que ya has trabajado
					</div>
					<div :class="ats('px-3 mb-3 arial color-1d2d35 font-weight-regular', '=', 'px-2 arial color-1d2d35 font-weight-regular')" style="line-height: 1.7 !important; font-size: 18px !important">
						Gánate la confianza de un cliente potencial luciendo el apoyo de aquellos clientes que ya han trabajado contigo.
					</div>
				</v-flex>
				<v-flex xs12 md5>
					<v-card flat class="transparent" style="z-index: 0">
						<img style="height: 673px; width: 321px" src="/static/images/G-3.png">
					</v-card>
				</v-flex>
			</v-layout>
		</v-flex> -->

		<v-flex :class="ats('pt-2 white', '=', 'pt-4 pb-5 mt-4 white')" style="background-color: #F5F5F5">
			<v-layout row wrap>
				<v-flex xs12>
					<div :class="ats('px-1 white text-xs-center', '=', 'white text-xs-center')">
						<span :class="ats('headline font-weight-bold arial color-1d2d35', '=', 'display-1 font-weight-bold arial color-1d2d35')">Saca partido a tu experiencia</span>
					</div>
					<div :class="ats('px-2 white text-xs-center pt-2', '=', 'white text-xs-center pt-3')">
						<span :class="ats('font-size-16 arial color-1d2d35', '=', 'font-size-20 arial color-1d2d35')" >Tus mejores valedores son los clientes a los que ya has ayudado</span>
					</div>
				</v-flex>
				<v-flex xs0 md1 white></v-flex>
				<v-flex xs12 md11 :class="ats('px-3 pt-0 pb-0 text-xs-left white', '=', 'px-5 text-xs-left white')">
					<v-layout column white :class="ats('pt-4', '=', 'pt-5')">
						<v-flex xs12 white>
							<v-layout column fill-height white>
								<v-flex xs12 pb-3>
									<v-layout row wrap fill-height align-end>
										<v-flex xs12 md4 :class="ats('px-1 pb-4 pt-4', '=', 'px-4')">
											<div :class="ats('font-size-18 arial color-1d2d35 mb-3', '=', 'font-size-20 arial color-1d2d35 mb-4')" style="line-height: 1.4 !important; height: 62px;">
												<v-layout row child-flex>
													<v-flex xs1>
														<v-avatar size="28" style="background-color: #FFC948">
						                                	<span class="font-weight-bold font-size-16">1</span>
						                              	</v-avatar>
													</v-flex>
													<v-flex pt-1 px-2 text-xs-left>
														Explica tu cartera de servicios en Yes Them. <br>
														<div style="height: 1px; border-bottom: 4px solid #FFC948; padding-bottom: 3px; width: 33% !important"></div>
													</v-flex>
												</v-layout>
											</div>
											<div :style="computedImage('static/images/home/partido-1.png')"></div>
											<div :class="ats('font-size-18 arial color-1d2d35 py-3', '=', 'font-size-20 arial color-1d2d35 py-3')" style="line-height: 26px">
												Explica qué servicios, soluciones y resultados han ayudado ya a tus clientes en tu perfil Yes Them.
											</div>
										</v-flex>
										<v-flex xs12 md4 :class="ats('px-1 pb-4 pt-4', '=', 'px-4')">
											<div :class="ats('font-size-18 arial color-1d2d35 mb-3', '=', 'font-size-20 arial color-1d2d35 mb-4')" style="line-height: 1.4 !important; height: 62px">
												<v-layout row child-flex>
													<v-flex xs1>
														<v-avatar size="28" style="background-color: #3FBBF7">
						                                	<span class="font-weight-bold font-size-16">2</span>
						                              	</v-avatar>
													</v-flex>
													<v-flex pt-1 px-2 text-xs-left>
														Recibe recomendaciones de tus clientes.
														<div style="height: 1px; border-bottom: 4px solid #3FBBF7; padding-bottom: 3px; width: 33% !important"></div>
													</v-flex>
												</v-layout>
											</div>
											<div :style="computedImage('static/images/home/partido-2.1.png')"></div>
											<div :class="ats('font-size-18 arial color-1d2d35 py-3', '=', 'font-size-20 arial color-1d2d35 py-3')" style="line-height: 26px">
												Recibe en un sólo click, el respaldo de tus clientes a tus servicios y soluciones.
											</div>
										</v-flex>
										<v-flex xs12 md4 :class="ats('px-1 pb-4 pt-4', '=', 'px-4')">
											<div :class="ats('font-size-18 arial color-1d2d35 mb-3', '=', 'font-size-20 arial color-1d2d35 mb-4')" style="line-height: 1.4 !important; height: 62px">
												<v-layout row child-flex>
													<v-flex xs1>
														<v-avatar size="28" style="background-color: #EA4F4D">
						                                	<span class="font-weight-bold font-size-16">3</span>
						                              	</v-avatar>
													</v-flex>
													<v-flex pt-1 px-2 text-xs-left>
														Atrae nuevos clientes.
														<div style="height: 1px; border-bottom: 4px solid #EA4F4D; padding-bottom: 3px; width: 33% !important"></div>
													</v-flex>
												</v-layout>
											</div>
											<div :style="computedImage('static/images/home/partido-3.1.png')"></div>
											<div :class="ats('font-size-18 arial color-1d2d35 py-3', '=', 'font-size-20 arial color-1d2d35 py-3')" style="line-height: 26px">
												Muestra la validación de terceros a tus servicios y soluciones en tu perfil Yes Them.
											</div>
										</v-flex>
									</v-layout>
								</v-flex>
							</v-layout>
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>
		</v-flex>

		<!-- <v-flex :class="ats('pt-4 mt-3 white', '=', 'pt-4 mt-2 white')" style="background-color: #F5F5F5">
			<v-layout row wrap>
				<v-flex xs0 md1 white></v-flex>
				<v-flex xs12 md11 :class="ats('px-3 pt-0 pb-0 text-xs-left white', '=', 'px-5 pt-5 text-xs-left white')">
					<div :class="ats('px-4 white text-xs-left', '=', 'px-4 white text-xs-left')" style="border-bottom: 3px solid green; padding-bottom: 25px;">
						<span class="font-size-18 font-weight-bold arial color-1d2d35 text-uppercase" :style="$vuetify.breakpoint.smAndDown? 'border-bottom: 3px solid green; padding-bottom: 0px' : 'border-bottom: 3px solid green; padding-bottom: 15px'">¿Por qué tu perfil de Yes them?</span>
					</div>
					<v-layout column fill-height white>
						<v-flex xs12 pb-3>
							<v-layout row wrap>
								<v-flex xs12 md4 :class="ats('px-3 pb-4', '=', 'px-4')">
									<div class="headline arial color-1d2d35 font-weight-bold" style="line-height: 1.4 !important">
										Proporciona validación a tus productos y servicios
									</div>
									<div class="pt-2 arial color-1d2d35 font-weight-regular" style="font-size: 16px !important">
										Proporciona con tu perfil de Yes Them 
										la validación necesaria que un 
										tercero necesita para decidir que 
										producto o servicio adquirir
									</div>
								</v-flex>
								<v-flex xs12 md4 :class="ats('px-3 pb-4', '=', 'px-4')">
									<div class="headline arial color-1d2d35 font-weight-bold" style="line-height: 1.4 !important">
										Crea una propuesta de valor convincente
									</div>
									<div class="pt-2 arial color-1d2d35 font-weight-regular" style="font-size: 16px !important">
										Las páginas web tradicionales estan 
										repletas de información sobre los 
										productos y servicios de una empresa 
										pero no ofrecen perspectivas reales 
										sobre cómo solucionaron los problemas 
										de un cliente. Con tu perfil Yes Them 
										puede explicar como funcionaron tus 
										soluciones y resultados en una 
										situación real consiguiendo así que un 
										cliente potencial entienda rápidamente 
										como puedes ayudarle.
									</div>
								</v-flex>
								<v-flex xs12 md4>
									<v-img src="static/images/G-7.png"></v-img>
								</v-flex>
							</v-layout>
						</v-flex>
						<v-flex xs12 pt-3>
							<v-layout row wrap>
								<v-flex xs12 md4 order-xs1 order-md1 :class="ats('px-3 pb-4', '=', 'px-4')">
									<div class="headline arial color-1d2d35 font-weight-bold" style="line-height: 1.4 !important">
										Facilita que un cliente potencial te encuentre
									</div>
									<div class="pt-2 arial color-1d2d35 font-weight-regular" style="font-size: 16px !important">
										Un 84% de consumidores inician 
										su proceso de compra con una 
										búsqueda online. La información 
										que encuentra en esa búsqueda 
										tiene un peso extremadamente 
										importante a la hora de decidir qué 
										producto o servicio adquirir.
										<br>
										<br>
										Muchos consumidores deciden que 
										producto o servicio adquirir 
										únicamente con la información que 
										encuentran en esa búsqueda 
										online.

									</div>
								</v-flex>
								<v-flex xs12 md4 order-xs3 order-md2 :class="ats('mb-4', '=', '')">
									<v-img style="position: relative; bottom: 0;" src="static/images/G-8.png"></v-img>
								</v-flex>
								<v-flex xs12 md4 order-xs2 order-md3 :class="ats('px-3 pb-4', '=', 'px-4')">
									<div class="headline arial color-1d2d35 font-weight-bold" style="line-height: 1.4 !important">
										Controla tu huella digital
									</div>
									<div class="pt-2 arial color-1d2d35 font-weight-regular" style="font-size: 16px !important">
										Las primeras impresiones siempre 
										han importado pero ahora implican 
										construir una huella digital 
										relevante para dar con un 
										consumidor pronto en el proceso 
										de compra.
										<br>
										<br>
										Yes Them te ayuda a tomar el 
										control de tu posicionamiento 
										online para que tu producto no esté 
										definido por opiniones de internet, 
										comentarios en redes sociales o el  
										blog de un experto.
									</div>
								</v-flex>
							</v-layout>
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>
		</v-flex> -->
		
		<v-flex xs12 md6 class="hidden-md-and-up">
			<img :style="ats('width: 100%', 'width: 80%', '')" src="/static/images/home/mobile/1.png">
		</v-flex>
		<v-flex :class="ats('mb-4 mt-0 pt-3 mb-5 white', '=', 'pt-4')" :style="ats('', '', 'background-color: #EBF0F4; background-image: url(static/images/home/section-1.png); background-repeat: no-repeat scroll; background-size: cover; background-position: center top; height: 100%; width: 100% min-height: 575px;')">
			<v-layout row wrap :class="ats('pt-3 pb-0', '=', 'pt-3 pb-5')">
				<v-flex xs0 md1></v-flex>
				<v-flex xs12 md5>
					<v-layout row wrap>
						<v-flex xs12 md11 :class="ats('px-4 pb-3 pt-0 text-xs-left white', '=', 'py-4 px-4 text-xs-left white')">
							<div></div>
							<div class="font-weight-bold arial color-1d2d35 pt-2" :style="ats('line-height: 32px !important; font-size: 26px', '=', 'line-height: 55px !important; font-size: 40px')">
								Usa tu cartera de <br class="hidden-sm-and-down">
								servicios cuando <br class="hidden-sm-and-down"> 
								busquen tu empresa <br class="hidden-sm-and-down"> 
								en internet, al enviar <br class="hidden-sm-and-down">
								propuestas o e-mails
							</div>
							<div class="mt-4">
								<v-layout :row="ats(false, false, true)" :wrap="ats(false, false, true)" :column="ats(true, true, false)">
									<v-flex xs12 md4 text-xs-left px-4 py-2>
										<v-layout :row="ats(true, true, false)" :wrap="ats(true, true, false)" :column="ats(false, false, true)">
											<v-flex xs6 md12>
												<!-- <v-icon color="red lighten-2" style="font-size: 64px">access_time</v-icon> -->
												<img src="/static/images/home/icon4.png">
											</v-flex>
											<v-flex class="xs6 md12 caption">
												Tu carta de presentación online las 365 días del año
											</v-flex>
										</v-layout>
									</v-flex>
									<v-flex xs12 md4 text-xs-left px-4 py-2>
										<v-layout :row="ats(true, true, false)" :wrap="ats(true, true, false)" :column="ats(false, false, true)">
											<v-flex xs6 md12>
												<!-- <v-icon color="red lighten-2" style="font-size: 64px">share</v-icon> -->
												<img src="/static/images/home/icon5.png">
											</v-flex>
											<v-flex class="xs6 md12 caption">
												Envía fácilmente por mail o whatsapp
											</v-flex>
										</v-layout>
									</v-flex>
									<v-flex xs12 md4 text-xs-left px-4 py-2>
										<v-layout :row="ats(true, true, false)" :wrap="ats(true, true, false)" :column="ats(false, false, true)">
											<v-flex xs6 md12>
												<!-- <v-icon color="red lighten-2" style="font-size: 64px">list_alt</v-icon> -->
												<img src="/static/images/home/icon6.png">
											</v-flex>
											<v-flex class="xs6 md12 caption">
												No dejes que los comentarios en redes solciales definan tu producto o servicio
											</v-flex>
										</v-layout>
									</v-flex>
								</v-layout>
							</div>
							<div :class="ats('font-size-16 arial color-1d2d35 pt-3', '=', 'font-size-20 arial color-1d2d35 pt-3')">
								Las páginas web tradicionales están repletas de 
								información sobre los productos y servicios de una 
								empresa pero no ofrecen perspectivas reales sobre 
								cómo solucionaron los problemas de un cliente.
							</div>
						</v-flex>
					</v-layout>
				</v-flex>
				<v-flex xs12 md6 class="hidden-sm-and-down">
					<v-layout column fill-height justify-center align-center>
						<v-flex xs12>
							<img :style="ats('width: 90%', 'width: 80%', 'width: 75%; padding-top: 20%')" src="/static/images/home/1.png">
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>
		</v-flex>

		<v-flex xs12 style="min-height: 75px" class="white hidden-sm-and-down"></v-flex>

		<v-flex xs12 md6 class="hidden-md-and-up">
			<img :style="ats('width: 100%', 'width: 80%', '')" src="/static/images/home/mobile/2.png">
		</v-flex>
		<v-flex :class="ats('pb-4 mt-0 white', '=', 'pt-4 pb-5')" :style="ats('', '', 'background-color: #EBF0F4; background-image: url(static/images/home/section-3.png); background-repeat: no-repeat scroll; background-size: cover; background-position: center top; width: 100%; min-height: 675px !important;')">
			<v-layout row wrap :class="ats('pt-3 pb-0', '=', 'pt-3 pb-5')">
				<v-flex xs0 md1></v-flex>
				<v-flex xs12 md5>
					<v-layout row wrap>
						<v-flex xs12 md11 :class="ats('px-4 pb-3 pt-3 text-xs-left white', '=', 'pb-4 pt-5 px-4 mt-5 text-xs-left white')">
							<div class="font-weight-bold arial color-1d2d35" :style="ats('line-height: 32px !important; font-size: 26px', '=', 'line-height: 55px !important; font-size: 40px')">
								El Consumidor <br class="hidden-sm-and-down">Curioso
							</div>
							<div :class="ats('font-size-16 arial color-1d2d35 pt-3', '=', 'font-size-20 arial color-1d2d35 pt-3')">
								El consumidor de hoy se ha convertido en un 
								obseso de la investigación. Hoy en día, cualquier 
								decisión, pequeña o grande, va predecida de una 
								investigación, así que cualquier decisión de compra 
								es una decisión informada.
							</div>
							<div class="pt-4">
								<v-layout row>
									<div class="display-1 pr-2 green--text text--accent-4">88%</div>
									<v-flex class="caption pt-1">
										procentaje de clientes que investiga online antes de contratar <br>
										cualquier producto o servicio.
									</v-flex>
								</v-layout>
							</div>
							<div class="pt-4">
								<div :style="ats('font-size: 11px', '=', 'font-size: 12px')">
									Descubre qué ve un cliente cuando busca tu empresa en google
								</div>
								<div>
									<v-btn v-if="google === false" flat outline color="green accent-4" class="white--text px-5 my-2 mx-0 font-weight-bold text-capitalize" style="height:50px" @click="google = true">Búsqueda google</v-btn>
									<v-text-field v-if="google === true" flat single-line hide-details append-icon="fas fa-arrow-right" :append-icon-cb="googleSearch" solo style="border: 1px solid #e3e3e3; margin-top: 24px;" v-model="gsearch"></v-text-field>
								</div>
							</div>
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>
		</v-flex>

		<v-flex xs12 style="min-height: 75px" class="white hidden-sm-and-down"></v-flex>

		<v-flex xs12 md6 class="hidden-md-and-up">
			<img :style="ats('width: 100%', 'width: 80%', '')" src="/static/images/home/mobile/3.png">
		</v-flex>
		<v-flex :class="ats('mt-0 pt-3 white', '=', 'pt-4')" :style="ats('', '', 'background-color: #EBF0F4; background-image: url(static/images/home/section-2.png); background-repeat: no-repeat scroll; background-size: cover; background-position: center top; width: 100%; min-height: 675px;')">
			<v-layout row wrap :class="ats('pt-3 pb-2', '=', 'pt-3 pb-5')">
				<v-flex xs0 md1></v-flex>
				<v-flex xs12 md5>
					<v-layout row wrap>
						<v-flex xs12 md11 :class="ats('px-4 pb-3 pt-3 text-xs-left white', '=', 'py-4 px-4 text-xs-left white')">
							<div class="font-weight-bold arial color-1d2d35" :style="ats('line-height: 32px !important; font-size: 26px', '=', 'line-height: 55px !important; font-size: 40px')">
								Hacen falta más <br>
								resultados reales
							</div>
							<div :class="ats('font-size-16 arial color-1d2d35 pt-3', '=', 'font-size-20 arial color-1d2d35 pt-3')">
								La mejor manera de tener una propuesta de valor 
								convincente es mediante la voz de tus clientes 
								satisfechos, pero generalmente menos de un 5% 
								salen a la luz. Con Yes Them puedes incrementar 
								drásticamente el porcentaje de clientes que 
								respaldan tu propuesta de valor.
							</div>
							<div :class="ats('font-size-16 arial color-1d2d35 pt-4 font-italic pl-5', '=', 'font-size-20 arial color-1d2d35 pt-4 font-italic pl-5')">
								"El contenido es el marketing del siglo XXI, 
								pero generalmente es caro en recursos y 
								tiempo. Crea contenido de calidad, con un 
								solo click, con tu carta de presentación Yes Them."
							</div>
						</v-flex>
					</v-layout>
				</v-flex>
				<v-flex xs12 md6 class="hidden-sm-and-down">
					<v-layout column fill-height justify-center align-center>
						<v-flex xs12>
							<img :style="ats('width: 90%', 'width: 80%', 'width: 60%; margin-top: 20%; margin-right: 150%')" src="/static/images/home/2.png">
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>
		</v-flex>

		<v-flex xs12 style="min-height: 75px" class="white hidden-sm-and-down"></v-flex>

		<v-flex style="background-color: #3F46AE">
			<v-layout column>
				<v-flex :class="ats('px-3 pt-3 pb-3 text-xs-left', '=', 'px-5 pt-5 pb-3 text-xs-center')">
					<div :class="ats('headline pb-4 px-3 pt-5 white--text', '=', 'display-2 pb-4 px-2 pt-5 white--text')" :style="ats('', '=', 'line-height: 55px !important')">
						¿Comenzamos?
					</div>
					<div class="subheading px-2 white--text" style="line-height: 1.7 !important">
						Registrarse es gratis y sólo te llevará unos minutos. Obtén tu perfil ahora mismo y comienza a disfrutar de sus beneficios.
					</div>
					<div>
						<v-btn large depressed class="white--text font-weight-bold my-4 mx-0 button--green px-5 squared" style="height:50px" to="/register">Primeros pasos</v-btn>
					</div>
				</v-flex>
				<v-flex>
					<img style="position: relative; bottom: -20px" :style="ats('width: 90%', 'width: 80%', 'width: 70%')" src="/static/images/G-6.png">
				</v-flex>
			</v-layout>
		</v-flex>
	</v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
  	return {
  		sticky: false,
  		beingHovered: null,
  		google: false,
  		gsearch: '',
  		devAssets: '/static/images/',
  		style: {
	        'background-image' : 'url(/static/images/home/hero.png)',
	        // 'background-image' : this.getStatus.loading ? 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.5) 100%)' : (this.getCompanyData.coverImage ? 'url("/static/images/uploads/' + this.getCompanyData.coverImage + '#' + Date.now() + '")' : 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.5) 100%)'),
	        // 'background-image' : 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.85) 100%)',
	        'background-repeat': 'no-repeat scroll',
	        'background-position': '100% 0%',
	        'background-size' : this.ats('contain' ,'=', '60%'),
	        'background-color': '#D5E3E4',
	        'height' : this.ats('338px' ,'=', '750px'),
	        'width' : '100%',
	        'padding-bottom': this.ats('175px', '=', '')
	    },
	    G5: {
	    	'background-image' : 'url(/static/images/G-5.png)',
	        'background-repeat': 'no-repeat scroll',
	        'background-position': '100% 100%',
	        'background-size' : this.ats('contain' ,'=', 'contain'),
	        'background-color': '#D5E3E4',
	        'height' : this.ats('338px' ,'507px', '675px'),
	        'width' : '100%'	
	    }
  		// buildAssets: require('../assets/images/G-1.png')
  	}
  },
  watch: {},
  computed: {},
  methods: {
  	ats (xs, sm, mdAndUp) { // According to Size
      if (this.$vuetify.breakpoint.xs) {
        return xs
      }
      else if (this.$vuetify.breakpoint.sm) {
        return sm === '=' ? xs : sm
      }
      if (this.$vuetify.breakpoint.mdAndUp) {
        return mdAndUp
      }
    },

    computedImage (image) {
    	return {
    		'background-image': 'url(' + image + ')',
			'background-repeat': 'no-repeat scroll',
			'background-size': '95%',
			'background-position': 'center bottom',
			'height': this.ats('280px', '=', '340px'),
			'max-width': this.ats('300px', '=', '340px'),
			'background-color': '#EBF0F4'
    	}
    },

    onScroll (e) {
      let offsetTop = window.pageYOffset || document.documentElement.scrollTop
      let headerOffset = 88
      if(offsetTop > headerOffset) {
        this.$emit('sticky', true)
      } else {
        this.$emit('sticky', false)
      }
    },

    googleSearch () {
    	window.open('https://www.google.com/search?q=' + this.gsearch, '_blank')
    }
  },
  created: function () {}
}
</script>

<style scoped>
.underline-hover:hover {
	text-decoration: underline;
}

.zoomable {
  transition: all .5s;
}

.zoomed {
  transform: scale(1.075);
  transition: all .5s;
}

.gallery {
	transform: translate3d(0, 0, 0);
	animation: infiniteGallery 60s linear infinite;
}

@keyframes infiniteGallery {
	100% {
		-webkit-transform: translateX(-66.666%);
		transform: translateX(-66.6666%);
	}
}
</style>
