<template>
	<v-layout column white>
		<v-flex white :style="style">
			<v-layout column fill-height justify-center align-center>
				<div class="display-2 mb-5">
					Escucha a clientes contentos
				</div>
				<div class="title">
					Descubre compañias que ya han ayudado <br>a personas como tu
				</div>
			</v-layout>
		</v-flex>
		<v-flex :class="ats('pa-2', '=', 'pa-4')" style="background-color: #D5E3E4" text-xs-left>
			<v-card flat white :class="ats('pt-3 pb-2 px-4 mb-4', '=', 'pt-5 pb-4 px-5 mb-4')">
				Soluciones probadas. <br>
				<v-btn depressed class="my-3 mx-0 font-weight-bold" style="background-color: #D5E3E4">Encuentra compañías</v-btn>
			</v-card>
			<v-layout row wrap>
				<v-flex :style="ats('width: 100%; max-width: 100%', '=', 'width: 20%; max-width: 20%')" class="text-xs-center font-weight-bold" v-for="(industry, index) in industries.slice(page * ats(10, 10, 25), (page + 1) * ats(10, 10, 25))" :key="index">
					<v-card flat white class="px-3 py-4 ma-1" style="border-radius: 0%">
						{{industry.name}}
					</v-card>
				</v-flex>
			</v-layout>
			<v-layout row wrap pt-3>
				<v-flex order-xs2 order-sm2 order-md1>
					<v-btn depressed color="green_button" class="white--text font-weight-bold" @click="page === 0 ? page : page--"><span class="pr-2"><</span>Back</v-btn>
				</v-flex>
				<v-flex order-xs1 order-sm1 order-md2 pb-3 text-xs-center :class="$vuetify.breakpoint.smAndDown ? 'xs12' : ''">
					<v-layout row wrap>
						<v-flex v-for="number in Math.ceil(industries.length / ats(10, 10, 25))">
							<span :style="page === (number - 1) ? 'border-bottom: 4px solid green; padding-bottom: 5px; padding-right: 5px; padding-left: 5px' : ''">{{number}}</span>
						</v-flex>
					</v-layout>
				</v-flex>
				<v-flex text-xs-right order-xs3 order-sm3 order-md3>
					<v-btn depressed color="green_button" class="white--text font-weight-bold" @click="page === (Math.ceil(industries.length / ats(10, 10, 25)) - 1) ? page : page++">Next  <span class="pl-2">></span></v-btn>
				</v-flex>
			</v-layout>
		</v-flex>
		<v-flex style="background-color: #D5E3E4">
			<v-layout row wrap style="overflow: hidden">
				<v-flex xs12 :class="ats('px-1 pb-1 pt-4 text-xs-center', '=', 'pa-5 text-xs-left')">
					<div class="px-2 pb-5">
						<span class="font-size-18 font-weight-bold ml-4 arial color-1d2d35 text-uppercase" :style="$vuetify.breakpoint.smAndDown? 'border-bottom: 3px solid green; padding-bottom: 1px' : 'border-bottom: 3px solid green; padding-bottom: 15px;'">Algunas soluciones Yes Them</span>
					</div>
					<div :style="ats('min-height: 635px; min-width: 3780px; position: relative !important;', '=', 'min-height: 735px; min-width: 3780px; position: relative !important;')">
						<v-layout row wrap fill-height class="gallery" style="min-height: 735px; min-width: 3780px; position: absolute !important; top: 0; left: 0px; padding-top: 48px !important">
							<v-flex xs12 style="min-height: 735px; max-width: 1260px; position: absolute; left: -156px; top: 0;">
								<v-layout row wrap>
									<v-flex xs3 v-for="index in 8" :class="index % 2 === 0 ? ats('py-3', '=', 'py-5') : 'py-3'" @mouseover="beingHovered = index" @mouseout="beingHovered = null">
										<img :key="index" :class="beingHovered === index ? 'zoomable zoomed': 'zoomable'" :src="'static/images/sol-' + index + '.png'"/>
									</v-flex>
								</v-layout>
							</v-flex>
							<v-flex xs12 style="min-height: 735px; max-width: 1260px; position: absolute; left: calc(1260px - 156px); top: 0;">
								<v-layout row wrap>
									<v-flex xs3 v-for="index in 8" :class="index % 2 === 0 ? ats('py-3', '=', 'py-5') : 'py-3'" @mouseover="beingHovered = (index + 8)" @mouseout="beingHovered = null">
										<img :key="index + 8" :class="beingHovered === (index + 8) ? 'zoomable zoomed': 'zoomable'" :src="'static/images/sol-' + (index + 8) + '.png'"/>
									</v-flex>
								</v-layout>
							</v-flex>
							<v-flex xs12 style="min-height: 735px; max-width: 1260px; position: absolute; left: calc(1260px + 1260px - 156px); top: 0;">
								<v-layout row wrap>
									<v-flex xs3 v-for="index in 8" :class="index % 2 === 0 ? ats('py-3', '=', 'py-5') : 'py-3'" @mouseover="beingHovered = (index + 16)" @mouseout="beingHovered = null">
										<img :key="index + 16" :class="beingHovered === (index + 16) ? 'zoomable zoomed': 'zoomable'" :src="'static/images/sol-' + index + '.png'"/>
									</v-flex>
								</v-layout>
							</v-flex>
						</v-layout>
					</div>
				</v-flex>
			</v-layout>
		</v-flex>
	</v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
  	return {
  		beingHovered: null,
  		page: 0,
  		industries: require('@/misc/industries').default.industries,
  		style: {
	        'background-image' : 'url(/static/images/indice.png)',
	        'background-repeat': 'no-repeat scroll',
	        'background-position': '93% 50%',
	        'background-size' : this.ats('contain' ,'=', 'contain'),
	        'background-color': 'white',
	        'height' : '420px',
	        'width' : '100%'
	    },
	    G5: {}
  	}
  },
  methods: {
  	ats (xs, sm, mdAndUp) { // According to Size
      if (this.$vuetify.breakpoint.xs) {
        return xs
      }
      else if (this.$vuetify.breakpoint.sm) {
        return sm === '=' ? xs : sm
      }
      if (this.$vuetify.breakpoint.mdAndUp) {
        return mdAndUp
      }
    }
  }
}
</script>

<style>
.underline-hover:hover {
	text-decoration: underline;
}

.zoomable {
  transition: all .5s;
}

.zoomed {
  transform: scale(1.075);
  transition: all .5s;
}

.gallery {
	transform: translate3d(0, 0, 0);
	animation: infiniteGallery 60s linear infinite;
}

@keyframes infiniteGallery {
	100% {
		-webkit-transform: translateX(-66.666%);
		transform: translateX(-66.6666%);
	}
}
</style>
