<template>
  <div v-scroll="onScroll">
    <v-layout column>

        <v-flex v-if="!getStatus.loading && currentUser.identifier === $route.params.identifier && !getCompanyData.published" xs12 :class="ats('text-xs-center pt-4 caption', '=', 'text-xs-center pt-4')" style="max-height: 110px; min-height: 110px; border-color: currentcolor currentcolor rgb(231, 236, 240); border-style: none none solid; border-width: medium medium 2px;">
            <div class="my-1">
                <span :class="ats('', '', 'subheading')">Edita tu Cartera de Servicios. Una vez esté lista, publicalo.</span>
            </div>
            <v-btn :to="'/company/'+currentUser.identifier+'/edit/about'" depressed :disabled="getStatus.loading" :loading="getStatus.loading" color="button" :class="ats('font-weight-bold white--text mx-1 squared', '=', 'font-weight-bold white--text mx-3 squared')">Edita tu cartera de servicios</v-btn>
            <!-- <v-btn depressed :disabled="!allowPublish || getStatus.loading" :loading="getStatus.loading" color="button" :class="ats('white--text font-weight-bold px-5 mx-1', '=', 'white--text font-weight-bold mx-3 px-5')" @click="publish()">Publica</v-btn> -->
        </v-flex>

        <v-flex xs12 :style="style" v-if="getCompanyData === null ? false : (getCompanyData.published ? true : (currentUser.identifier === $route.params.identifier ? true : false))">
          <v-layout fill-height justify-center align-end :class="$vuetify.breakpoint.smAndDown ? 'px-3 pb-3' : 'px-3 pb-4' " :style="ats('height: 300px; margin-top: 62px', '=', 'height: 420px')">
            <v-flex v-if="!sticky" xs12 md10 class="elevation-0">
              <v-layout :class="ats('fill-height column white', '=', 'fill-height row wrap white justify-center align-center')">
                <v-flex xs3 :class="ats('grey lighten-1 px-3 py-2', '=', 'grey lighten-3 px-3 py-2')" :style="ats('border: 1px solid white !important', '=', '')">
                  <v-layout column fill-height>
                    <router-link :class="ats('flex grey lighten-1 py-1 px-3', '=', 'flex xs3 grey lighten-3 py-2 px-3')" :style="ats('text-decoration: none; max-height: 64px;', '=', 'text-decoration: none;')" :to="`/company/${getCompanyData.identifier}`">
                      <v-layout column child-flex fill-height justify-center align-center>
                        <v-flex xs12 v-if="getCompanyData ? (getCompanyData.logo !== null) : false" :style="$vuetify.breakpoint.smAndDown ? 'margin-top: -32px' : '' ">
                          <v-avatar size="64" color="white">
                            <img :src="'/static/images/uploads/' + getCompanyData.logo + '#' + Date.now()"/>
                          </v-avatar>
                        </v-flex>
                        <v-flex xs12 v-if="getCompanyData === null || getCompanyData.logo === null">
                          <v-spacer></v-spacer>
                          <v-card flat height="64" width="64" color="white" :style="$vuetify.breakpoint.smAndDown ? 'margin-top: -32px; border-radius: 50%' : 'border-radius: 50%' ">
                            <v-layout style="height: 64px;" class="white" column fill-height align-center justify-center>
                              <span class="black--text caption font-weight-bold">{{getCompanyData ? getCompanyData.name : '...'}}</span>
                            </v-layout>
                          </v-card>
                          <v-spacer></v-spacer>
                        </v-flex>
                        <v-flex xs12>
                          <div :class="$vuetify.breakpoint.smAndDown ? 'subheading black--text font-weight-bold' : 'font-size-20 color-1d2d35 font-weight-bold mt-2'">{{getCompanyData ? getCompanyData.name : '...'}}</div>
                        </v-flex>
                      </v-layout>
                    </router-link>
                    <v-flex xs12>
                      <v-layout row wrap fill-height align-center justify-center>
                        <v-spacer></v-spacer>
                        <a class="pr-2" v-if="getCompanyData.linkedin !== ''" :href="getCompanyData.linkedin"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : ats('grey lighten-3', '=', 'grey lighten-1')" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-linkedin</v-icon></a>
                        <a class="pr-2" v-if="getCompanyData.facebook !== ''" :href="getCompanyData.facebook"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : ats('grey lighten-3', '=', 'grey lighten-1')" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-facebook</v-icon></a>
                        <a class="pr-2" v-if="getCompanyData.twitter !== ''" :href="getCompanyData.twitter"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : ats('grey lighten-3', '=', 'grey lighten-1')" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-twitter</v-icon></a>
                        <a class="pr-2" v-if="getCompanyData.youtube !== ''" :href="getCompanyData.youtube"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : ats('grey lighten-3', '=', 'grey lighten-1')" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-youtube</v-icon></a>
                        <v-spacer></v-spacer>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex :class="$vuetify.breakpoint.smAndDown ? 'xs12 px-2 pb-2' : 'xs6'">
                  <v-layout column fill-height justify-center>
                    <v-flex xs12 :class="ats('font-weight-bold pt-4 text-xs-centered', '=', 'font-weight-bold pl-5 text-xs-left')">
                      <!-- <div :class="getStatus.loading || getCompanyData.description === '' ? 'pb-3 blurry-text color-1d2d35' : 'pb-3 font-size-16 color-1d2d35'" style="border-bottom: 2px solid black">{{ getStatus.loading || getCompanyData.description === '' ? 'Law related complex issues' : (getCompanyData.howToSay == 2 ? getCompanyData.customHowToSay + ' ' + getCompanyData.description : getCompanyData.description) }}</div> -->
                      <div :class="getStatus.loading || getCompanyData.description === '' ? 'pb-3 font-size-16 color-4A85FB' : 'pb-3 font-size-16 color-4A85FB'" :style="ats('border-bottom: 2px solid #4A85FB', '=', 'border-bottom: 2px solid #4A85FB; width: 82%')">{{getCompanyData.description}}</div>
                    </v-flex>
                    <v-flex xs12 pt-1 class="hidden-md-and-up">
                      <v-layout :class="$vuetify.breakpoint.smAndDown ? 'child-flex px-2 pt-3 pb-2' : 'child-flex py-2'">
                        <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'grey--text font-weight-thin display-1')" style="cursor: pointer" @click="content = 'clients'">{{getValidatedSolutions().length}}</span> <br> <span class="font-weight-bold" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Clientes contentos</span></v-flex>
                        <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'grey--text font-weight-thin display-1')" style="cursor: pointer" @click="content = 'solutions'">{{getSolutions.length}}</span> <br> <span class="font-weight-bold" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Servicios</span></v-flex>
                        <v-flex><span :class="ats('grey--text font-weight-thin title pl-1', '=', 'grey--text font-weight-thin display-1')">{{getHappyResults()}}</span> <br> <span :class="ats('font-weight-bold pl-2', '=', 'font-weight-bold')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Resultados</span></v-flex>
                        <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'grey--text font-weight-thin display-1')">{{getTotalValidations}} </span><br> <span class="font-weight-bold" :style="ats('font-size: 10px', '=', 'font-size: 12px')"><img style="vertical-align: text-bottom" src="/static/images/smile.png">Recomendaciones</span></v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs3 class="hidden-sm-and-down">
                  <v-btn depressed color="green accent-4" class="white--text arial font-weight-bold font-size-16 mx-3 px-5 squared" @click="contact.dialog.show = true">Contacto</v-btn>
                </v-flex>
              </v-layout>
            </v-flex>

            <v-flex v-if="sticky && !getStatus.loading" xs12 class="white elevation-2 sticky" :style="ats('min-height: 100px', '=', 'min-height: 100px')">
              <v-layout :class="ats('fill-height row wrap justify-center', '=', 'fill-height row wrap justify-center px-3')" :style="ats('min-height: 100px', '=', 'min-height: 100px')">
                <v-flex xs12 md10 :style="ats('min-height: 100px', '=', 'min-height: 100px')">
                  <v-layout :class="ats('fill-height column white', '=', 'fill-height row wrap white justify-center align-center white px-1')" :style="ats('min-height: 60px', '=', 'min-height: 100px')">
                    <v-flex xs3 style="height: 100% !important">
                      <v-layout column :class="ats('grey lighten-1', '=', 'grey lighten-3 fill-height')">
                        <router-link :class="ats('flex grey lighten-1', '=', 'flex xs3 py-0 my-0')" :style="$vuetify.breakpoint.smAndDown ? 'text-decoration: none; min-height: 60px' : 'text-decoration: none; min-height: 100px'" :to="`/company/${getCompanyData.identifier}`">
                          <v-layout :column="ats(false, false, true)" :row="ats(true, true, false)" :wrap="ats(true, true, false)" :class="ats('child-flex fill-height justify-center align-center', '=', 'fill-height mr-1 pt-2')" :style="ats('min-height: 60px', '=', 'min-height: 100px')">
                            <v-flex offset-xs1 xs3 offset-md0 md12 v-if="!getStatus.loading && getCompanyData.logo !== null">
                              <v-avatar :size="$vuetify.breakpoint.smAndDown ? '48' : '64'" color="white">
                                <img :src="'/static/images/uploads/' + getCompanyData.logo + '#' + Date.now()"/>
                              </v-avatar>
                            </v-flex>
                            <v-flex offset-xs1 offset-md0 xs3 md12 v-if="getStatus.loading || getCompanyData.logo === null">
                              <v-layout row wrap fill-height justify-center align-center>
                                <v-card flat :height="$vuetify.breakpoint.smAndDown ? '48' : '64'" :width="$vuetify.breakpoint.smAndDown ? '48' : '64'" color="white" style="border-radius: 50%">
                                  <v-layout :style="$vuetify.breakpoint.smAndDown ? 'height: 48px;' : 'height: 64px;'" class="white" column fill-height align-center justify-center>
                                    <span class="black--text caption font-weight-bold">{{getStatus.loading ? '' : getCompanyData.name}}</span>
                                  </v-layout>
                                </v-card>
                              </v-layout>
                            </v-flex>
                            <v-flex xs8 md12 :class="$vuetify.breakpoint.smAndDown ? 'text-xs-left pl-2' : ''">
                              <div :class="getStatus.loading ? 'font-size-20 color-1d2d35 font-weight-bold mt-2 blurry-text noselect' : ($vuetify.breakpoint.smAndDown ? 'subheading shadowed-text white--text font-weight-bold mt-2' : 'font-size-20 color-1d2d35 font-weight-bold')">{{getStatus.loading ? 'Company Name' : getCompanyData.name}}</div>
                            </v-flex>
                          </v-layout>
                        </router-link>
                        <v-flex xs12 :style="ats('display: none', '=', '')">
                          <v-layout row wrap fill-height align-center justify-center class="grey lighten-3">
                            <v-spacer></v-spacer>
                            <a class="pr-2" v-if="getCompanyData.linkedin !== ''" :href="getCompanyData.linkedin"><v-icon size="20" :color="getStatus.loading || getCompanyData.linkedin === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-linkedin</v-icon></a>
                            <a class="pr-2" v-if="getCompanyData.facebook !== ''" :href="getCompanyData.facebook"><v-icon size="20" :color="getStatus.loading || getCompanyData.facebook === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-facebook</v-icon></a>
                            <a class="pr-2" v-if="getCompanyData.twitter !== ''" :href="getCompanyData.twitter"><v-icon size="20" :color="getStatus.loading || getCompanyData.twitter === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-twitter</v-icon></a>
                            <a class="pr-2" v-if="getCompanyData.youtube !== ''" :href="getCompanyData.youtube"><v-icon size="20" :color="getStatus.loading || getCompanyData.youtube === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-youtube</v-icon></a>
                            <v-spacer></v-spacer>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-flex>

                    <v-flex xs12 md6 :style="$vuetify.breakpoint.smAndDown ? 'min-height: 100px' : 'min-height: 100px'">
                      <v-layout column fill-height :style="$vuetify.breakpoint.smAndDown ? 'min-height: 100px' : 'min-height: 100px'">
                        <v-flex :class="$vuetify.breakpoint.smAndDown ? 'xs12 px-4 text-xs-center' : 'xs6 pl-5 py-2 text-xs-left'">
                          <div class="py-2 font-weight-bold color-4A85FB" :style="ats('border-bottom: 2px solid #4A85FB', '=', 'border-bottom: 2px solid #4A85FB; width: 82%')">{{getCompanyData.description}}</div>
                        </v-flex>
                        <v-flex>
                          <v-layout :class="$vuetify.breakpoint.smAndDown ? 'child-flex px-2 pt-3 pb-2' : 'child-flex py-2'">
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')" style="cursor: pointer" @click="content = 'clients'">{{getValidatedSolutions().length}}</span> <br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Clientes contentos</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')" style="cursor: pointer" @click="content = 'solutions'">{{getSolutions.length}}</span> <br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Servicios</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title pl-1', '=', 'font-size-32 color-a8a8bb gothic-century')">{{getHappyResults()}}</span> <br> <span :class="ats('font-weight-bold pl-2', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Resultados</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')">{{getTotalValidations}} </span><br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')"><img style="vertical-align: text-bottom" src="/static/images/smile.png"> Recomendaciones</span></v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-flex>

                    <v-flex xs3 text-xs-right class="hidden-sm-and-down">
                      <v-btn depressed color="green accent-4" class="white--text arial font-weight-bold mx-0 px-5 squared" @click="contact.dialog.show = true">Contacto</v-btn>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>

          </v-layout>
        </v-flex>

        <v-flex xs12 class="hidden-sm-and-down" v-if="getCompanyData === null ? false : (getCompanyData.published ? true : (currentUser.identifier === $route.params.identifier ? true : false))">
          <v-layout column fill-height justify-center>
            <v-flex xs12 class="elevation-1" style="z-index: 1">
              <v-layout row wrap py-2 white justify-center align-center>
                <v-flex xs10>
                  <v-layout row wrap fill-height justify-center>
                      <v-flex xs3></v-flex>
                      <v-flex xs6>
                        <v-layout child-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')" style="cursor: pointer" @click="content = 'clients'">{{getValidatedSolutions().length}}</span> <br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Clientes contentos</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')" style="cursor: pointer" @click="content = 'solutions'">{{getSolutions.length}}</span> <br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Servicios</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title pl-1', '=', 'font-size-32 color-a8a8bb gothic-century')">{{getHappyResults()}}</span> <br> <span :class="ats('font-weight-bold pl-2', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Resultados</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')">{{getTotalValidations}} </span><br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')"><img style="vertical-align: text-bottom" src="/static/images/smile.png"> Recomendaciones</span></v-flex>
                          </v-layout>
                      </v-flex>
                      <v-flex xs3></v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex xs12 ref="stickyheader">
          <v-layout column fill-height justify-center v-if="getStatus.loading ? false : (!getCompanyData ? false : (getCompanyData.published ? true : (currentUser.identifier === $route.params.identifier ? true : false) ) )">
            
            <v-flex xs12 style="background-color: #D5E3E4; min-height: 700px">
              <v-layout :class="ats('row wrap fill-height px-3 pb-1 justify-center', '=', 'row wrap fill-height px-3 pb-5 justify-center')">
                  <v-flex xs12 md10 pt-3>
                    <v-layout row wrap py-1>
                      
                      <v-flex xs12 pb-3>
                        <v-layout row wrap fill-height align-center justify-end>
                          <v-flex xs12 md3 px-1>
                            <v-card flat class="mb-3 py-2 squared" style="background-color: #EBECF0">
                              <v-layout column>
                                <v-flex text-xs-left class="py-2 px-3 font-size-16 color-1d2d35 font-weight-bold">Experiencia: <span class="color-00306e">{{getCompanyData.industry === '' ? 'TU INDUSTRIA' : getCompanyData.industry}}</span></v-flex>
                              </v-layout>
                            </v-card>
                          </v-flex>

                          <v-flex xs12 md9 px-3>
                            <v-flex v-if="!getStatus.loading && getCategories.length > 0" text-xs-left class="font-weight-bold">
                              <v-btn depressed v-for="(category, index) in getCategories" style="cursor: pointer; background-color: #C7D2D6; border-radius: 0" :class="filter === category ? 'ml-2 font-size-14 color-00306e arial font-weight-bold mx-1 my-1' : 'font-size-14 color-00306e arial font-weight-regular mx-1 my-1'" @click="filter === category ? filter = '' : filter = category">> {{category}}</v-btn>
                            </v-flex>
                            <v-flex v-if="getStatus.loading || getCategories.length == 0" text-xs-left>
                              <v-btn depressed style="cursor: pointer; background-color: #C7D2D6; border-radius: 0" class="font-size-14 color-00306e arial font-weight-regular mx-0 my-1"> > Tus categorías</v-btn>
                            </v-flex>
                          </v-flex>
                        </v-layout>
                      </v-flex>

                      <v-flex xs12 md3 px-1>
                        <!-- <v-card flat>
                          <v-layout column>
                            <v-flex text-xs-left class="py-4 px-4 font-size-16 color-1d2d35 font-weight-bold" style="border-bottom: 1px solid #d9e1e4">Experiencia</v-flex>
                            <v-flex text-xs-left :class="getStatus.loading || getCompanyData.description === '' ? 'px-4 py-3 font-size-14 color-00306e arial font-weight-bold blurry-text noselect' : 'px-4 py-3 font-size-14 color-00306e arial font-weight-bold'" style="border-bottom: 1px solid #d9e1e4">{{ getStatus.loading || getCompanyData.description === '' ? 'Law related complex issues' : (getCompanyData.howToSay == 2 ? getCompanyData.customHowToSay + ' ' + getCompanyData.description : getCompanyData.description) }}</v-flex>
                            <v-flex text-xs-left class="pt-2 pb-3 px-4 subheading" style="border-bottom: 1px solid #d9e1e4;">
                              <v-layout column>
                                <v-flex v-if="getStatus.loading || getCategories.length === 0" text-xs-left class="font-weight-bold blurry-text noselect">
                                  <div class="my-2 subheading">Law & Tax</div>
                                  <div class="my-2 subheading">Law & Litigation</div>
                                </v-flex>
                                <v-flex v-if="!getStatus.loading && getCategories.length > 0" text-xs-left class="font-weight-bold">
                                  <div class="font-size-14 color-00306e arial font-weight-bold pb-2" style="">{{getCompanyData.industry !== '' ? 'TU INDUSTRIA' : getCompanyData.industry}}</div>
                                  <v-btn depressed v-for="(category, index) in getCategories" style="cursor: pointer; background-color: #D5E3E4; border-radius: 0" :class="filter === category ? 'ml-2 font-size-14 color-00306e arial font-weight-bold mx-0 my-1' : 'font-size-14 color-00306e arial font-weight-regular mx-0 my-1'" @click="filter === category ? filter = '' : filter = category">> {{category}}</v-btn>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-card> -->
                        
                        <v-card class="squared" flat v-if="content === 'solutions'">
                          <v-layout column>
                            <v-flex text-xs-left class="py-4 px-3 font-size-16 color-1d2d35 font-weight-bold" style="border-bottom: 1px solid #d9e1e4">Clientes Contentos</v-flex>
                            <v-flex v-if="cClients.length !== 0" class="mx-3 pt-4 font-weight-bold noselect"> <!-- Clients list -->
                              <v-layout row wrap text-xs-left mx-1>
                                <v-flex xs6 sm3 md6 pa-0 mb-3 v-for="client in cClients" :key="client.lastName">
                                  <v-avatar :size="$vuetify.breakpoint.smAndDown? '58' : '46'" color="grey lighten-2">
                                    <img :src="client.pictureUrl" style="border: 1px solid #e3e3e3">
                                    <v-icon small class="font-weight-thin" color="blue darken-2" style="position: absolute; bottom: -25%; right: -50%; margin-left: 2px">fab fa-linkedin</v-icon>
                                  </v-avatar>
                                  <div class="font-size-11 color-00306e arial font-weight-regular mt-1 pr-2">{{client.firstName}} {{client.lastName}}</div>
                                  <div class="font-size-11 color-00306e arial font-weight-regular">{{client.headline}}</div>
                                </v-flex>
                                <v-flex v-if="cClients.length > 4" xs6 text-xs-left class="pa-2 mb-4 font-weight-bold">
                                  <v-avatar size="46" color="transparent" style="border: 2px solid #e3e3e3 !important">{{cClients.length - 4}}</v-avatar>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                            <v-flex v-if="cClients.length === 0" class="mx-3 pt-4 font-weight-bold noselect"> <!-- No clients yet -->
                              <v-layout row wrap v-if="getCompanyData.published === false" text-xs-left>
                                <div class="font-size-14 font-italic font-weight-regular pb-3">Aquí apareceran todos los clientes que respalden tus servicios.</div>
                                <!-- <v-flex xs6 pa-0 mb-3 v-for="index in 3" class="blurry-text">
                                  <v-avatar :size="$vuetify.breakpoint.smAndDown? '58' : '46'">
                                    <img class="blurry-image" :src="'/static/images/people-' + (index)+ '.jpg'">
                                    <v-icon class="font-weight-thin" small color="blue darken-2 blurry-image" style="position: absolute; bottom: -25%; right: -50%; margin-left: 2px">fab fa-linkedin</v-icon>
                                  </v-avatar>
                                  <div class="caption font-weight-thin mt-1 pr-2">Firstname</div>
                                  <div class="caption font-weight-thin">Example specialization</div>
                                </v-flex>
                                <v-flex xs6 text-xs-left class="pa-2 mb-4 font-weight-bold blurry-text noselect">
                                  <v-avatar size="46" color="transparent" style="border: 2px solid #e3e3e3 !important">+5</v-avatar>
                                </v-flex> -->
                              </v-layout>
                              <v-layout column fill-height v-if="getCompanyData.published === true" justify-center align-center>
                                <div class="caption mt-2 font-weight-bold">Esta solución no tiene clientes contentos todavía.</div>
                              </v-layout>
                            </v-flex>
                            <v-flex text-xs-rignt class="mx-4 pb-3">
                              <div style="font-size: 10px" class="right font-weight-bold">Linked<v-icon color="blue darken-2" class="right font-weight-light" style="font-size: 14px">fab fa-linkedin</v-icon><div class="" style="font-size:10px">information</div></div>
                            </v-flex>
                          </v-layout>
                        </v-card>

                      </v-flex>

                      <v-flex xs12 md6 :class="$vuetify.breakpoint.smAndDown ? 'px-1 mt-3' : 'px-3'">
                        <div v-if="getSolutions.length === 0">
                          <!-- <div class="subheading font-weight-bold mt-2" style="text-transform: capitalize">{{getStatus.loading ? 'Loading...' : 'SOLUCIONES DE '+ getCompanyData.name}}</div>
                          <div class="subheading mt-3 py-3 px-5" style="background-color: #e5eaed">
                              <div>¡Todavía no has añadido ninguna solución!</div>
                              <div class="font-weight-bold mt-3 px-5 white--text py-4 button" style="opacity: 0.40;"><v-icon small class="mr-1">fas fa-edit</v-icon>Añade tu primera solución</div>
                          </div> -->
                          <v-flex class="white">
                            <v-layout :style="ats('min-height: 260px', 'min-height: 310px', '')" :class="ats('column fill-height pb-3', '=', 'row wrap fill-height justify-center align-center')">
                              <v-flex order-xs2 order-md1 xs12 md6 text-xs-left :class="$vuetify.breakpoint.smAndDown ? 'px-3 text-xs-left' : 'text-xs-left'" :style="ats('min-height: 130px;', '=', 'min-height: 300px;')">
                                <v-layout fill-height align-center justify-center :style="ats('min-height: 130px;', '=', 'min-height: 300px;')">
                                  <v-flex xs12 :class="ats('px-2', '=', 'px-4 py-5')">
                                    <div :class="ats('font-size-14 font-italic font-weight-regular pb-1', '=', 'font-size-14 font-italic font-weight-regular pb-3 pt-5')">
                                      <div class="pt-3">Aquí aparecera la descripción de tu servicio</div>
                                    </div>
                                    <div class="arial font-size-12 color-a8a8bb font-weight-regular py-2">
                                      <img style="vertical-align: text-bottom; padding-right: 3px" src="/static/images/smile.png"><span class="font-weight-bold" style="padding-bottom: 10px; border-bottom: solid 1px #a8a8bb">Recomendaciones</span>
                                    </div>
                                  </v-flex>
                                </v-layout>
                              </v-flex>
                              <v-flex order-xs1 order-md2 xs12 md6 :class="beingHovered ? ats('triangle-v', '=', 'triangle-big') : ats('triangle-v', '=', 'triangle')" :style="ats('overflow: hidden; min-height: 130px; background-color: #F4F4F6', 'overflow: hidden; min-height: 180px; background-color: #F4F4F6', 'overflow: hidden; background-color: #F4F4F6; min-height: 300px')">
                                <v-layout fill-height align-center justify-center :style="ats('min-height: 130px;', '=', 'min-height: 300px;')">
                                  <v-flex xs12 px-4>
                                    <div :class="ats('font-size-14 font-italic font-weight-regular', '=', 'font-size-14 font-italic font-weight-regular pt-5')">
                                      <v-icon :style="ats('font-size: 64px', '=', 'font-size: 128px')" class="pt-3">photo_camera</v-icon>
                                    </div>
                                    <div :class="ats('font-size-14 font-italic font-weight-regular pb-3', '=', 'font-size-14 font-italic font-weight-regular pb-3')">
                                      Aquí aparecerá una foto que ayude a describir tu servicio
                                    </div>
                                  </v-flex>
                                </v-layout>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                        </div>
                        <div v-if="getSolutions.length !== 0 && content == 'solutions'">
                          <v-layout column fill-height white>
                            <v-flex class="font-size-16 color-1d2d35 font-weight-bold py-4" style="border-bottom: 1px solid #d9e1e4">Servicios</v-flex>

                            <router-link class="flex" v-for="(solution, index) in getFilteredSolutions" :to="`/company/${getCompanyData.identifier}/service/${solution.index}`" style="text-decoration: none">
                              <v-layout :style="ats('min-height: 260px', 'min-height: 310px', '')" :class="ats('column fill-height pb-3', '=', 'row wrap fill-height justify-center align-center')" v-if="(index % 2) === 0" @mouseover="beingHovered = index" @mouseout="beingHovered = null">
                                <v-flex order-xs2 order-md1 xs12 md6 text-xs-left :class="$vuetify.breakpoint.smAndDown ? 'px-3 text-xs-left' : 'px-1 text-xs-left'" :style="ats('min-height: 130px; z-idex: 3', '=', 'min-height: 300px; z-idex: 3')">
                                  <v-layout fill-height align-center justify-center :style="ats('min-height: 130px;', '=', 'min-height: 300px;')">
                                    <v-flex xs12 :class="ats('px-2', '=', 'px-4 py-5')">
                                      <div :class="ats('font-size-16 color-00306e arial font-weight-regular mb-1', '=', 'font-size-16 color-00306e arial font-weight-regular mb-3 pt-3')">
                                        {{solution.description}}
                                      </div>
                                      <div class="arial font-size-12 color-a8a8bb font-weight-regular py-2">
                                        <span class="font-weight-bold" style="padding-bottom: 10px; border-bottom: solid 1px #a8a8bb"><img style="vertical-align: text-bottom" src="/static/images/smile.png"> {{ getHappyClients(solution.benefits).length }} Recomendaciones</span>
                                      </div>
                                      <div class="mt-2 hidden-sm-and-down" style="min-height: 24px">
                                        <v-icon v-show="beingHovered === index" small color="grey darken-3">fas fa-arrow-right</v-icon>
                                      </div>
                                    </v-flex>
                                  </v-layout>
                                </v-flex>
                                <v-flex order-xs1 order-md2 xs12 md6 :class="beingHovered === index ? ats('triangle-v', '=', 'triangle-big') : ats('triangle-v', '=', 'triangle')" :style="ats('overflow: hidden; max-height: 130px', 'overflow: hidden; max-height: 180px', 'overflow: hidden')">
                                  <div :class="beingHovered === index ? 'zoomable zoomed' : 'zoomable'" :style="solutionStyle(solution.image)"></div>
                                </v-flex>
                              </v-layout>

                              <v-layout :style="ats('min-height: 260px', 'min-height: 310px', '')" :class="ats('column fill-height pb-3', '=', 'row wrap fill-height justify-center align-center')" v-if="(index % 2) !== 0" @mouseover="beingHovered = index" @mouseout="beingHovered = null">
                                <v-flex xs12 md6 :class="beingHovered === index ? ats('triangle-v', '=', 'triangle-l-big') : ats('triangle-v', '=', 'triangle-l')" :style="ats('overflow: hidden; max-height: 130px', 'overflow: hidden; max-height: 180px', 'overflow: hidden')">
                                  <div :class="beingHovered === index ? 'zoomable zoomed' : 'zoomable'" :style="solutionStyle(solution.image)"></div>
                                </v-flex>
                                <v-flex order-xs2 order-md1 xs12 md6 text-xs-left :class="$vuetify.breakpoint.smAndDown ? 'px-3 text-xs-left' : 'px-1 text-xs-left'" :style="ats('min-height: 130px; z-idex: 3', '=', 'min-height: 300px; z-idex: 3')">
                                  <v-layout fill-height align-center justify-center :style="ats('min-height: 130px;', '=', 'min-height: 300px;')">
                                    <v-flex xs12 :class="ats('px-2', '=', 'px-4 py-5')">
                                      <div :class="ats('font-size-16 color-00306e arial font-weight-regular mb-1', '=', 'font-size-16 color-00306e arial font-weight-regular mb-3 pt-3')">
                                        {{solution.description}}
                                      </div>
                                      <div class="arial font-size-12 color-a8a8bb font-weight-regular py-2">
                                        <span class="font-weight-bold" style="padding-bottom: 10px; border-bottom: solid 1px #a8a8bb"><img style="vertical-align: text-bottom" src="/static/images/smile.png"> {{ getHappyClients(solution.benefits).length }} Recomendaciones</span>
                                      </div>
                                      <div class="mt-2 hidden-sm-and-down" style="min-height: 24px">
                                        <v-icon v-show="beingHovered === index" small color="grey darken-3">fas fa-arrow-left</v-icon>
                                      </div>
                                    </v-flex>
                                  </v-layout>
                                </v-flex>
                              </v-layout>
                            </router-link>

                          </v-layout>
                        </div>
                        <v-card flat v-if="content === 'clients'">
                          <v-layout column>
                            <v-flex text-xs-left class="py-4 px-4 font-size-16 color-1d2d35 font-weight-bold" style="border-bottom: 1px solid #d9e1e4">Clientes Contentos</v-flex>
                            <v-flex v-if="cClients.length !== 0" class="mx-3 pt-4 font-weight-bold noselect"> <!-- Clients list -->
                              <v-layout row wrap text-xs-left mx-1>
                                <v-flex xs6 sm3 md6 :class="$vuetify.breakpoint.smAndDown ? 'px-0 mb-3' : 'px-4 mb-3'" v-for="client in cClients" :key="client.lastName">
                                  <v-avatar :size="$vuetify.breakpoint.smAndDown? '58' : '86'" color="grey lighten-2">
                                    <img :src="client.pictureUrl" style="border: 1px solid #e3e3e3">
                                    <v-icon class="font-weight-thin" color="blue darken-2" style="position: absolute; bottom: -30%; right: -50%; margin-left: 2px">fab fa-linkedin</v-icon>
                                  </v-avatar>
                                  <div class="font-size-12 color-00306e arial font-weight-regular mt-1 pr-2">{{client.firstName}} {{client.lastName}}</div>
                                  <div class="font-size-12 color-00306e arial font-weight-regular">{{client.headline}}</div>
                                </v-flex>
                                <v-flex v-if="cClients.length > 4" xs6 text-xs-left class="pa-2 mb-4 font-weight-bold">
                                  <v-avatar size="46" color="transparent" style="border: 2px solid #e3e3e3 !important">{{cClients.length - 4}}</v-avatar>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                            <v-flex v-if="cClients.length === 0" class="mx-3 pt-4 font-weight-bold noselect"> <!-- No clients yet -->
                              <v-layout row wrap v-if="getCompanyData.published === false" text-xs-left>
                                <v-flex xs6 pa-0 mb-3 v-for="index in 3" class="blurry-text">
                                  <v-avatar :size="$vuetify.breakpoint.smAndDown? '58' : '46'">
                                    <img class="blurry-image" :src="'/static/images/people-' + (index)+ '.jpg'">
                                    <v-icon class="font-weight-thin" small color="blue darken-2 blurry-image" style="position: absolute; bottom: -25%; right: -50%; margin-left: 2px">fab fa-linkedin</v-icon>
                                  </v-avatar>
                                  <div class="caption font-weight-thin mt-1 pr-2">Firstname</div>
                                  <div class="caption font-weight-thin">Example specialization</div>
                                </v-flex>
                                <v-flex xs6 text-xs-left class="pa-2 mb-4 font-weight-bold blurry-text noselect">
                                  <v-avatar size="46" color="transparent" style="border: 2px solid #e3e3e3 !important">+5</v-avatar>
                                </v-flex>
                              </v-layout>
                              <v-layout column fill-height v-if="getCompanyData.published === true" justify-center align-center>
                                <div class="caption mt-2 font-weight-bold">Esta solución no tiene clientes contentos todavía.</div>
                              </v-layout>
                            </v-flex>
                            <v-flex text-xs-rignt class="mx-4 pb-3">
                              <div style="font-size: 10px" class="right font-weight-bold">Linked<v-icon color="blue darken-2" class="right font-weight-light" style="font-size: 14px">fab fa-linkedin</v-icon><div class="" style="font-size:10px">information</div></div>
                            </v-flex>
                          </v-layout>
                        </v-card>
                      </v-flex>

                      <v-flex xs12 md3 :class="$vuetify.breakpoint.smAndDown ? 'px-1 mt-3' : 'px-1'">
                        <!-- <v-card flat>
                          <v-layout column>
                            <v-flex text-xs-left class="py-2 px-4 subheading" style="border-bottom: 1px solid #d9e1e4; border-top: 4px solid #00E676">Categoría</v-flex>
                            <v-flex v-if="getStatus.loading || getCategories.length === 0" text-xs-left class="px-4 py-3 font-weight-bold blurry-text noselect">
                              <div class="my-2 subheading">Law & Tax</div>
                              <div class="my-2 subheading">Law & Litigation</div>
                            </v-flex>
                            <v-flex v-if="!getStatus.loading && getCategories.length > 0" text-xs-left class="px-4 py-3 font-weight-bold">
                              <div class="body-2 font-weight-bold" style="">. {{getCompanyData.industry}}</div>
                              <div v-for="(category, index) in getCategories" style="cursor: pointer" :class="filter === category ? 'my-2 body-1 pl-3 font-weight-bold' : 'my-2 body-1 pl-2'" @click="filter === category ? filter = '' : filter = category"> > {{category}}</div>
                            </v-flex>
                          </v-layout>
                        </v-card> -->

                        <v-card flat class="squared">
                          <v-layout column>
                            <v-flex text-xs-left class="py-4 px-3 font-size-16 color-1d2d35 font-weight-bold" style="border-bottom: 1px solid #d9e1e4">Resultados</v-flex>
                            <!-- <v-flex v-if="getStatus.loading || getBenefits.length === 0" v-for="item in 3" text-xs-left class="mx-4 py-3 font-weight-bold blurry-text noselect" style="border-bottom: 1px solid #e3e3e3">
                              <div class="">. One project document controller instead of three.</div>
                              <div class="caption mt-2 font-weight-bold blurry-text">4<v-icon small color="transparent" class="mr-1">mood</v-icon><span> de Clientes Contentos</span> en este resultado.</div>
                            </v-flex>
                            <v-flex v-if="getStatus.loading || getBenefits.length === 0" text-xs-left class="mx-4 py-3 font-weight-bold blurry-text noselect" style="border-bottom: 1px solid #e3e3e3">
                              <div class="">. + 12</div>
                            </v-flex> -->
                            <v-flex v-if="getStatus.loading || getBenefits.length === 0" text-xs-left class="mx-4 py-3 font-weight-bold">
                              <div class="font-size-14 font-italic font-weight-regular pb-5">Aquí se verán los resultados de tus servicios respaldados por tus clientes.</div>
                            </v-flex>
                            <v-flex v-if="!getStatus.loading && getBenefits.length > 0" v-for="(benefit, index) in getOrderedBenefits().slice(0, 3)" text-xs-left class="mx-4 py-3 font-size-14 color-00306e segoe-bold" style="border-bottom: 1px solid #e3e3e3">
                              <div>. {{benefit.description}}</div>
                              <div class="mt-2 arial font-size-12 color-a8a8bb font-weight-regular"><span class="font-weight-bold">{{benefit.validations.length}} <img style="vertical-align: text-bottom" src="/static/images/smile.png"> Recomendaciones.</span></div>
                            </v-flex>
                            <v-flex v-if="!getStatus.loading && getBenefits.length > 3" text-xs-left class="mx-4 py-3 font-weight-thin">
                              <div class="font-size-14 color-00306e segoe-bold">. +{{getBenefits.length - 3}} Resultados</div>
                              <div class="mt-2 arial font-size-12 color-a8a8bb font-weight-regular"><span class="font-weight-bold">{{getRemainingValidations()}} <img style="vertical-align: text-bottom" src="/static/images/smile.png"> Recomendaciones.</span></div>
                            </v-flex>
                          </v-layout>
                        </v-card>
                      </v-flex>

                      <v-flex xs12 text-xs-right px-1 mt-3 class="hidden-md-and-up">
                        <v-btn block large depressed color="green_button" style="height: 64px" class="white--text font-weight-bold font-size-16 mx-0 px-5" @click.native="contact.dialog.show = true">Contacto</v-btn>
                      </v-flex>

                    </v-layout>
                  </v-flex>
              </v-layout>
            </v-flex>

          </v-layout>
        </v-flex>

        <v-dialog
          v-model="contact.dialog.show"
          persistent
          scrollable
          lazy
          max-width="600px"
          style="z-index: 9999 !important"
          :fullscreen="$vuetify.breakpoint.smAndDown"
          :disabled="getStatus.loading"
          v-if="getCompanyData !== null"
        >
          <v-card>
            <v-card-title :style="ats('max-height: 72px; border-bottom: 4px solid #eeeeee;', '=', 'border-bottom: 1px solid #e3e3e3')" :class="ats('text-xs-left', '=', 'pl-5 text-xs-left')" v-if="!getStatus.loading">
              <span :class="ats('grey--text text--darken-2 font-weight-bold', '=', 'title')">Contact {{getStatus.loading? '' : getCompanyData.name}} </span>
              <v-spacer></v-spacer>
              <v-icon :color="$vuetify.breakpoint.smAndDown? 'black': 'grey darken-1'" style="cursor: pointer;" @click="contact.dialog.show = false">close</v-icon>
            </v-card-title>
            <v-card-text>
              <v-form ref="contactForm" v-model="contact.dialog.form">
                <v-layout row wrap :class="$vuetify.breakpoint.smAndDown ? 'pa-0': 'pa-3'">
                  <v-flex xs12>
                    <v-textarea
                      v-model="contact.dialog.message"
                      label="Message"
                      maxlength="100"
                      :rules="requiredRules"
                      outline
                      required
                    >
                    </v-textarea>
                  </v-flex>
                  <v-flex xs12 mb-2>
                    <v-text-field
                      v-model="contact.dialog.email"
                      :rules="requiredRules"
                      validate-on-blur
                      label="Your e-mail"
                      required
                    >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs6 mb-2 pr-2>
                    <v-text-field
                      v-model="contact.dialog.phone"
                      label="Your phone"
                      :rules="requiredRules"
                      required
                    >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs6 mb-2>
                    <v-text-field
                      v-model="contact.dialog.name"
                      label="Your name"
                      :rules="requiredRules"
                      required
                    >
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <v-card-actions class="px-3 pb-3">
              <small class="mr-2">* Make sure to fill all the necessary information before clicking done.</small>
              <v-spacer></v-spacer>
              <v-btn right depressed class="font-weight-bold" color="primary" :loading="!contact.status.ready" :disabled="!contact.status.ready" @click.native.stop="contactCompany()">Send</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-snackbar bottom :color="snackbar.success? 'success' : 'error'" :timeout="10000" :multi-line="true" v-model="snackbar.show">
            {{ snackbar.message }}
            <v-btn flat color="white" @click.native.stop="snackbar.show = false">Close</v-btn>
        </v-snackbar>
    </v-layout>

    <v-layout row fill-height justify-center align-top v-if="getStatus.loading" style="background-color: #D5E3E4; min-height: 500px">
      <v-flex xs6 pa-5>
        <v-progress-circular indeterminate size="64" color="button"></v-progress-circular>
      </v-flex>
    </v-layout>
    <v-layout column v-if="getStatus.loading ? false : (!getCompanyData ? true : (getCompanyData.published ? false : (currentUser.identifier === $route.params.identifier ? false : true) ) )" style="min-height: 500px; background-color: #D5E3E4;">
    <!-- <v-layout align-center justify-center row fill-height v-if="getStatus.loading ? false : (getCompanyData ? false : true)"> -->
      <v-flex xs6 pa-5>
        <v-card white class="headline font-weight-bold pa-5">
          We are sorry but there is no company by that name.<br>
          <v-icon large class="mt-3" color="grey darken-4">fas fa-frown</v-icon><br>
          <v-btn large color="button" class="white--text mt-5" to="/home">Go back home</v-btn>
        </v-card>
    </v-flex>
    </v-layout>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

export default {
  name: 'home',
  components: {},
  data () {
    return {
        content: 'solutions',
        filter: '',
        // version: 0,
        tab: 1,
        clients: 4,
        beingHovered: null,
        snackbar: {
          show: false,
          success: true,
          message: ''
        },
        sticky: false,
        offsetTop: 0,
        contact: {
          dialog: {
            show: false,
            form: true,
            message: '',
            email: '',
            phone: '',
            name: ''
          },
          status: {
            ready: true,
            error: false,
            message: ''
          }
        },
        emailRules: [
          (v) => !!v || 'This field is required.',
          (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
        ],
        requiredRules: [
          (v) => !!v || 'This field is required.'
        ]
    }
  },
  // watch: {
  //   "getStatus.loading": function (a, b) {
  //     if (!this.getStatus.loading && !this.getStatus.error) {
  //       this.version += 1
  //     }
  //   }
  // },
  computed: {
    ...mapGetters('auth', ['isLoggedIn', 'currentUser', 'getToken']),
    ...mapGetters('company', ['getCompanyData', 'getStatus', 'getSolutions', 'getBenefits', 'getCategories', 'getExperiences', 'getTotalValidations']),

    allowPublish () {
      if (this.getStatus.loading === false) {
        if (this.getCompanyData.name !== '' && this.getCompanyData.industry !== '' && this.getCompanyData.description !== '' && this.getCompanyData.coverImage !== '' && this.getSolutions.length > 0 && this.getBenefits.length > 0) {
          return true
        } else {
          return false
        }
      } else {
        return false
      }
    },

    style () {
      return {
        'background-image' : this.getCompanyData ? (this.getCompanyData.coverImage ? 'url("/static/images/uploads/' + this.getCompanyData.coverImage + '#' + Date.now() + '")' : 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.5) 100%)') : 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.5) 100%)',
        // 'background-image' : this.getStatus.loading ? 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.5) 100%)' : (this.getCompanyData.coverImage ? 'url("/static/images/uploads/' + this.getCompanyData.coverImage + '#' + Date.now() + '")' : 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.5) 100%)'),
        // 'background-image' : 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.85) 100%)',
        'background-repeat': 'no-repeat scroll',
        'background-position': this.ats('top', '=', 'center center'),
        'background-size' : this.ats('100% 160px', 'cover', 'cover'),
        'background-color': '#D5E3E4',
        'min-height' : this.ats('300px', '360px', '420px')
      }
    },

    getFilteredSolutions () {
      return this.filter === '' ? this.getOrderedSolutions : this.getOrderedSolutions.filter( solution => solution.category === this.filter)
    },

    getOrderedSolutions () {
      let ordered = _.orderBy(this.getSolutions, function(o) {
        function getHappyClients (benefits) {
          let validations = []
          for (let i = 0, len = benefits.length; i < len; i++) {
            if (benefits[i].validations.length > 0) {
              for (let j = 0, len = benefits[i].validations.length; j < len; j++) {
                if (!validations.some(validation => validation.id.toString() === benefits[i].validations[j].id.toString())) {
                  validations.push(benefits[i].validations[j])
                }
              }
            }
          }
          return validations
        }
       return getHappyClients(o.benefits).length 
     }, ['desc'])
      return ordered
    },

    oClients () {
      if (!this.getStatus.loading) {
        let clients = this.getValidatedSolutions()
        return clients
      } else {
        return []
      }
    },

    cClients () {
      return this.oClients.slice(0, this.clients)
    }
  },
  methods: {
    ats (xs, sm, mdAndUp) { // According to Size
      if (this.$vuetify.breakpoint.xs) {
        return xs
      }
      else if (this.$vuetify.breakpoint.sm) {
        return sm === '=' ? xs : sm
      }
      if (this.$vuetify.breakpoint.mdAndUp) {
        return mdAndUp
      }
    },

    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      let headerOffset = this.$refs.stickyheader.offsetTop ? this.$refs.stickyheader.offsetTop : 0
      if (this.offsetTop > headerOffset /*&& this.$vuetify.breakpoint.smAndUp*/) {
        this.sticky = true
      } else {
        this.sticky = false
      }
    },

    setHover (index) {
      if (this.beingHovered !== null) {
        this.beingHovered = null
      } else {
        this.beingHovered = index
      }
    },

    solutionStyle (image) {
      return {
        'width': '100%',
        'min-height': this.ats('130px', '180px', '300px'),
        'background-color': 'grey',
        'background-image': 'url("/static/images/uploads/' + image + '")',
        'background-position': this.$vuetify.breakpoint.smAndDown ? 'top' : 'center',
        'background-size': 'cover'
      }
    },

    getValidatedSolutions () { //getHappyClients total for all solutions
      let validations = []
      for (let x = 0, len = this.getSolutions.length; x < len; x++) {
        for (let i = 0, len = this.getSolutions[x].benefits.length; i < len; i++) {
          if (this.getSolutions[x].benefits[i].validations.length > 0) {
            for (let j = 0, len = this.getSolutions[x].benefits[i].validations.length; j < len; j++) {
              if (!validations.some(validation => validation.id.toString() === this.getSolutions[x].benefits[i].validations[j].id.toString())) {
                validations.push(this.getSolutions[x].benefits[i].validations[j])
              }
            }
          }
        }
      }
      return validations
    },

    getHappySolutions () { // Soluciones para EMPRESAS: Numero de soluciones con al menos un resultado validado.
      let results = []
      for (let x = 0, len = this.getSolutions.length; x < len; x++) {
        for (let i = 0, len = this.getSolutions[x].benefits.length; i < len; i++) {
          if (this.getSolutions[x].benefits[i].validations.length > 0) {
            if (!results.some(result => result === x)) {
              results.push(x)
            }
          }
        }
      }
      return results.length
    },

    getHappyResults () { // Results para EMPRESAS: Numero de BENEFICIOS de todas las SOLUCIONES de la Empresa con al menos 1 validación.
      let results = 0
      for (let x = 0, len = this.getSolutions.length; x < len; x++) {
        for (let i = 0, len = this.getSolutions[x].benefits.length; i < len; i++) {
          if (this.getSolutions[x].benefits[i].validations.length > 0) {
            results ++
          }
        }
      }
      return results
    },

    getHappyClients (benefits) {
      let validations = []
      for (let i = 0, len = benefits.length; i < len; i++) {
        if (benefits[i].validations.length > 0) {
          for (let j = 0, len = benefits[i].validations.length; j < len; j++) {
            if (!validations.some(validation => validation.id.toString() === benefits[i].validations[j].id.toString())) {
              validations.push(benefits[i].validations[j])
            }
          }
        }
      }
      return validations
    },

    getRemainingValidations () {
      let validations = 0
      for (let i = 0, len = this.getBenefits.slice(3).length; i < len; i++) {
        validations = validations + this.getBenefits.slice(3)[i].validations.length
      }
      return validations
    },

    getOrderedBenefits () {
      return _.orderBy(this.getBenefits, 'validations', 'desc')
    },

    async publish () {
      let response = await this.$store.dispatch('company/publish')
      if (response.success === true) {
          this.snackbar.show = true
          this.snackbar.success = true
          this.snackbar.message = 'Your company profile has been published succesfully.'
          this.$store.dispatch('company/populate', this.$route.params.identifier)
      }
    },

    async contactCompany () {
      if (this.$refs.contactForm.validate()) {
        this.contact.status.ready = false
        this.contact.status.error = false
        this.contact.status.message = ''
        try {
          await axios.post('/api/company/contact/company', { company: this.getCompanyData._id, user: this.contact.dialog.name, email: this.contact.dialog.email, phone: this.contact.dialog.phone, message: this.contact.dialog.message })
          this.contact.status.ready = true
          this.contact.status.error = false
          this.contact.status.message = 'An e-mail with your inquiry was sent to ' + this.getCompanyData.name + '. Thank you.'
          this.contact.dialog.show = false
          this.snackbar.show = true
          this.snackbar.success = !this.contact.status.error
          this.snackbar.message = this.contact.status.message
        } catch (error) {
          let message = ''
          if (error.response) {
            message = error.response.data.message
          } else if (error.request) {
            message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
          } else {
            message = error.message
          }
          this.contact.status.ready = true
          this.contact.status.error = true
          this.contact.status.message = message
          this.snackbar.show = true
          this.snackbar.success = !this.contact.status.error
          this.snackbar.message = this.contact.status.message
        }
      } else {
        this.contact.status.ready = true
        this.contact.status.error = true
        this.contact.status.message = 'All the fields are required.'
        this.snackbar.show = true
        this.snackbar.success = !this.contact.status.error
        this.snackbar.message = this.contact.status.message
      }
    }
  },
  created: function () {
    if (this.$route.query.published === 'true') {
      this.snackbar.show = true
      this.snackbar.success = true
      this.snackbar.message = 'Tu cartera de servicios se publicó con éxito.'
    } else if (this.$route.query.published === 'false') {
      this.snackbar.show = true
      this.snackbar.success = true
      this.snackbar.message = 'Tu cartera de servicios ahora es privada.'
    } else {
      this.snackbar.show = false
      this.snackbar.success = true
      this.snackbar.message = ''
    }
    // this.$store.dispatch('company/populate', this.$route.params.identifier)
  }
}
</script>

<style>
.loading:before {
  content: "|";
}

.load-100 {
  width: 100%;
}

.load-75 {
  width: 75%;
}

.load-50 {
  width: 50%;
}

.selected-tab {
  color: #1565C0 !important;
}

.v-tabs__slider {
  height: 4px !important;
}

.blue-grey-background {
  background-color: #d9e1e4;
}

.blurry-text {
  color: transparent !important;
  text-shadow: 0 0 8px rgba(0,0,0,0.5) !important;
}

.blurry-image {
  -webkit-filter: blur(7px);
  filter: blur(2px);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.triangle, .triangle-big, .triangle-v {
  position: relative;
  width: 100%;
  height: 100%;
}

.triangle-big:after { 
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: white;
  border-right: 0;
  margin-top: -10px;
  margin-right: -20px;
  z-index: 2;
  transition: all .25s;
}

.triangle:after { 
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: white;
  border-right: 0;
  margin-top: -10px;
  margin-right: -20px;
  z-index: 2;
  transition: all .25s;
}

.triangle-v:after { 
  content: '';
  position: absolute;
  left: 10%;
  bottom: 0%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 2;
  transition: all .25s;
}

.triangle-l, .triangle-l-big {
  position: relative;
  width: 100%;
  height: 100%;
}

.triangle-l:after { 
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-left: 0;
  margin-top: -10px;
  margin-left: -20px;
  z-index: 2;
  transition: all .25s;
}

.triangle-l-big:after { 
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-right-color: white;
  border-left: 0;
  margin-top: -10px;
  margin-left: -20px;
  z-index: 2;
  transition: all .25s;
}

.arrow-right {
  transition: all .5s;
  position: relative;
  left: 0px;
  opacity: 1;
}

.arrow-right-moved {
  opacity: 0.50;
}

.zoomable {
  transition: all .5s;
}

.zoomed {
  transform: scale(1.1);
  transition: all .5s;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 9999 !important;
}

.shadowed-text {
  text-shadow: -1px 1px 2px #000000 !important;
}
</style>
