<template>
  <div v-scroll="onScroll">
    <v-layout column>

        <v-flex xs12 :style="style" v-if="getCompanyData === null ? false : (getCompanyData.published ? true : (currentUser.identifier === $route.params.identifier ? true : false))">
          <v-layout fill-height justify-center align-end :class="$vuetify.breakpoint.smAndDown ? 'px-3 pb-3' : 'px-3 pb-4' " :style="ats('height: 300px; margin-top: 33px', '=', 'height: 420px')">
            <v-flex v-if="!sticky" xs12 md10 class="elevation-0">
              <v-layout :class="ats('column white', '=', 'fill-height row wrap white justify-center align-center')">
                <v-flex xs3 :class="ats('grey lighten-1 px-3 py-2', '=', 'grey lighten-3 px-3 py-2')" :style="ats('border: 1px solid white !important', '=', '')">
                  <v-layout column fill-height>
                    <router-link :class="ats('flex grey lighten-1 py-1 px-3', '=', 'flex xs3 grey lighten-3 py-2 px-3')" :style="ats('text-decoration: none; max-height: 64px;', '=', 'text-decoration: none;')" :to="`/company/${getCompanyData.identifier}`">
                      <v-layout column child-flex fill-height justify-center align-center>
                        <v-flex xs12 v-if="getCompanyData ? (getCompanyData.logo !== null) : false" :style="$vuetify.breakpoint.smAndDown ? 'margin-top: -32px' : '' ">
                          <v-avatar size="64" color="white">
                            <img :src="'/static/images/uploads/' + getCompanyData.logo + '#' + Date.now()"/>
                          </v-avatar>
                        </v-flex>
                        <v-flex xs12 v-if="getCompanyData === null || getCompanyData.logo === null">
                          <v-spacer></v-spacer>
                          <v-card flat height="64" width="64" color="white" :style="$vuetify.breakpoint.smAndDown ? 'margin-top: -32px; border-radius: 50%' : 'border-radius: 50%' ">
                            <v-layout style="height: 64px;" class="white" column fill-height align-center justify-center>
                              <span class="black--text caption font-weight-bold">{{getCompanyData ? getCompanyData.name : '...'}}</span>
                            </v-layout>
                          </v-card>
                          <v-spacer></v-spacer>
                        </v-flex>
                        <v-flex xs12>
                          <div :class="$vuetify.breakpoint.smAndDown ? 'subheading black--text font-weight-bold' : 'font-size-20 color-1d2d35 font-weight-bold mt-2'">{{getCompanyData ? getCompanyData.name : '...'}}</div>
                        </v-flex>
                      </v-layout>
                    </router-link>
                    <v-flex xs12>
                      <v-layout row wrap fill-height align-center justify-center>
                        <v-spacer></v-spacer>
                        <a class="pr-2" v-if="getCompanyData.linkedin !== ''" :href="getCompanyData.linkedin"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : ats('grey lighten-3', '=', 'grey lighten-1')" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-linkedin</v-icon></a>
                        <a class="pr-2" v-if="getCompanyData.facebook !== ''" :href="getCompanyData.facebook"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : ats('grey lighten-3', '=', 'grey lighten-1')" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-facebook</v-icon></a>
                        <a class="pr-2" v-if="getCompanyData.twitter !== ''" :href="getCompanyData.twitter"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : ats('grey lighten-3', '=', 'grey lighten-1')" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-twitter</v-icon></a>
                        <a class="pr-2" v-if="getCompanyData.youtube !== ''" :href="getCompanyData.youtube"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : ats('grey lighten-3', '=', 'grey lighten-1')" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-youtube</v-icon></a>
                        <v-spacer></v-spacer>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex :class="$vuetify.breakpoint.smAndDown ? 'xs12 pb-2' : 'xs6'">
                  <v-layout column fill-height>
                    <v-flex xs12 :class="ats('font-weight-bold px-2 pt-4 text-xs-centered', '=', 'font-weight-bold pl-5 text-xs-left')">
                      <div :class="getStatus.loading || getCompanyData.description === '' ? 'pb-3 font-size-16 color-4A85FB' : 'pb-3 font-size-16 color-4A85FB'" :style="ats('border-bottom: 2px solid #4A85FB', '=', 'border-bottom: 2px solid #4A85FB; width: 80%')">{{getCompanyData.description}}</div>
                    </v-flex>
                    <v-flex xs12 pt-1 class="hidden-md-and-up">
                      <v-layout row fill-height justify-start align-center>
                        <v-flex xs12 md10>
                          <v-layout :class="$vuetify.breakpoint.smAndDown ? 'px-2 py-2' : 'py-2'">
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'grey--text font-weight-thin display-1')">{{getHappyClients(getSolution.benefits).length}}</span> <br> <span class="font-weight-bold" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Clientes Contentos</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'grey--text font-weight-thin display-1')">1</span> <br> <span class="font-weight-bold" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Servicio</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'grey--text font-weight-thin display-1')">{{getResultsSingle(getSolution.benefits)}}</span> <br> <span class="font-weight-bold" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Resultados</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'grey--text font-weight-thin display-1')">{{getTotalYes(getSolution.benefits)}} </span><br> <span class="font-weight-bold" :style="ats('font-size: 10px', '=', 'font-size: 12px')"><img style="vertical-align: text-bottom" src="/static/images/smile.png"> Recomendaciones</span></v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                  <!-- <v-tabs :left="$vuetify.breakpoint.smAndDown ? false : true" :centered="$vuetify.breakpoint.smAndDown ? true : false" slider-color="button">
                    <v-tab :ripple="false" @click="tab=1" style="text-transform: capitalize !important" :class="$vuetify.breakpoint.smAndDown ? 'font-weight-bold' : 'font-weight-bold mr-3'" active-class="selected-tab">How we help clients</v-tab>
                    <v-tab :ripple="false" @click="tab=2" style="text-transform: capitalize !important" class="font-weight-bold" active-class="selected-tab">Happy clients</v-tab>
                  </v-tabs> -->
                </v-flex>
                <v-flex xs3 class="hidden-sm-and-down">
                  <v-btn depressed color="green accent-4" class="white--text font-weight-bold arial font-size-16 mx-3 px-5 squared" @click="contact.dialog.show = true">Contacto</v-btn>
                </v-flex>
                <!-- <v-flex class="hidden-md-and-up">
                  <v-layout child-flex px-2 py-3>
                    <v-flex xs4><span class="button--text font-weight-bold title">{{getHappyClients(getSolution.benefits).length}}</span> <br> <span style="font-size: 11px">Happy Clients</span></v-flex>
                    <v-flex xs4><span class="button--text font-weight-bold title">{{getResultsSingle(getSolution.benefits)}}</span> <br> <span style="font-size: 11px">Resultados</span></v-flex>
                    <v-flex xs4><span class="button--text font-weight-bold title">{{getTotalYes(getSolution.benefits)}} </span><br> <span style="font-size: 11px">Yes Totales</span></v-flex>
                  </v-layout>
                </v-flex> -->
              </v-layout>
            </v-flex>

            <v-flex v-if="sticky && !getStatus.loading" xs12 class="white elevation-2 sticky" :style="ats('min-height: 100px', '=', 'min-height: 100px')">
              <v-layout :class="ats('fill-height row wrap justify-center', '=', 'fill-height row wrap justify-center px-3')" :style="ats('min-height: 100px', '=', 'min-height: 100px')">
                <v-flex xs12 md10 :style="ats('min-height: 100px', '=', 'min-height: 100px')">
                  <v-layout :class="ats('fill-height column white', '=', 'fill-height row wrap white justify-center align-center white px-1')" :style="ats('min-height: 60px', '=', 'min-height: 100px')">
                    <v-flex xs3 style="height: 100% !important">
                      <v-layout column :class="ats('grey lighten-1', '=', 'grey lighten-3 fill-height')">
                        <router-link :class="ats('flex grey lighten-1', '=', 'flex xs3 py-0 my-0')" :style="$vuetify.breakpoint.smAndDown ? 'text-decoration: none; min-height: 60px' : 'text-decoration: none; min-height: 100px'" :to="`/company/${getCompanyData.identifier}`">
                          <v-layout :column="ats(false, false, true)" :row="ats(true, true, false)" :wrap="ats(true, true, false)" :class="ats('child-flex fill-height justify-center align-center', '=', 'fill-height mr-1 pt-2')" :style="ats('min-height: 60px', '=', 'min-height: 100px')">
                            <v-flex offset-xs1 xs3 offset-md0 md12 v-if="!getStatus.loading && getCompanyData.logo !== null">
                              <v-avatar :size="$vuetify.breakpoint.smAndDown ? '48' : '64'" color="white">
                                <img :src="'/static/images/uploads/' + getCompanyData.logo + '#' + Date.now()"/>
                              </v-avatar>
                            </v-flex>
                            <v-flex offset-xs1 offset-md0 xs3 md12 v-if="getStatus.loading || getCompanyData.logo === null">
                              <v-layout row wrap fill-height justify-center align-center>
                                <v-card flat :height="$vuetify.breakpoint.smAndDown ? '48' : '64'" :width="$vuetify.breakpoint.smAndDown ? '48' : '64'" color="white" style="border-radius: 50%">
                                  <v-layout :style="$vuetify.breakpoint.smAndDown ? 'height: 48px;' : 'height: 64px;'" class="white" column fill-height align-center justify-center>
                                    <span class="black--text caption font-weight-bold">{{getStatus.loading ? '' : getCompanyData.name}}</span>
                                  </v-layout>
                                </v-card>
                              </v-layout>
                            </v-flex>
                            <v-flex xs8 md12 :class="$vuetify.breakpoint.smAndDown ? 'text-xs-left pl-2' : ''">
                              <div :class="getStatus.loading ? 'font-size-20 color-1d2d35 font-weight-bold mt-2 blurry-text noselect' : ($vuetify.breakpoint.smAndDown ? 'subheading shadowed-text white--text font-weight-bold mt-2' : 'font-size-20 color-1d2d35 font-weight-bold')">{{getStatus.loading ? 'Company Name' : getCompanyData.name}}</div>
                            </v-flex>
                          </v-layout>
                        </router-link>
                        <v-flex xs12 :style="ats('display: none', '=', '')">
                          <v-layout row wrap fill-height align-center justify-center class="grey lighten-3">
                            <v-spacer></v-spacer>
                            <a class="pr-2" v-if="getCompanyData.linkedin !== ''" :href="getCompanyData.linkedin"><v-icon size="20" :color="getStatus.loading || getCompanyData.linkedin === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-linkedin</v-icon></a>
                            <a class="pr-2" v-if="getCompanyData.facebook !== ''" :href="getCompanyData.facebook"><v-icon size="20" :color="getStatus.loading || getCompanyData.facebook === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-facebook</v-icon></a>
                            <a class="pr-2" v-if="getCompanyData.twitter !== ''" :href="getCompanyData.twitter"><v-icon size="20" :color="getStatus.loading || getCompanyData.twitter === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-twitter</v-icon></a>
                            <a class="pr-2" v-if="getCompanyData.youtube !== ''" :href="getCompanyData.youtube"><v-icon size="20" :color="getStatus.loading || getCompanyData.youtube === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-youtube</v-icon></a>
                            <v-spacer></v-spacer>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-flex>

                    <v-flex xs12 md6 :style="$vuetify.breakpoint.smAndDown ? 'min-height: 100px' : 'min-height: 100px'">
                      <v-layout column fill-height :style="$vuetify.breakpoint.smAndDown ? 'min-height: 100px' : 'min-height: 100px'">
                        <v-flex :class="$vuetify.breakpoint.smAndDown ? 'xs12 px-4 text-xs-center' : 'xs6 pl-5 py-2 text-xs-left'">
                          <div class="py-2 font-weight-bold color-4A85FB" :style="ats('border-bottom: 2px solid #4A85FB', '=', 'border-bottom: 2px solid #4A85FB; width: 62%')">{{getCompanyData.description}}</div>
                        </v-flex>
                        <v-flex xs12>
                          <v-layout :class="$vuetify.breakpoint.smAndDown ? 'row fill-height justify-start align-center' : 'row fill-height justify-start align-center'">
                            <v-flex xs12 md10>
                              <v-layout :class="$vuetify.breakpoint.smAndDown ? 'px-2 pt-3 pb-2' : 'py-2 pl-2'">
                                <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')">{{getHappyClients(getSolution.benefits).length}}</span> <br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Clientes Contentos</span></v-flex>
                                <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')">1</span> <br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial px-2')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Servicio</span></v-flex>
                                <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')">{{getResultsSingle(getSolution.benefits)}}</span> <br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Resultados</span></v-flex>
                                <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')">{{getTotalYes(getSolution.benefits)}} </span><br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')"><img style="vertical-align: text-bottom" src="/static/images/smile.png"> Recomendaciones</span></v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-flex>

                    <v-flex xs3 text-xs-right class="hidden-sm-and-down">
                      <v-btn depressed color="green accent-4" class="white--text font-weight-bold arial font-size-16 mx-0 px-5 squared" @click="contact.dialog.show = true">Contacto</v-btn>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>

            <!-- <v-flex v-if="sticky && !getStatus.loading" xs12 class="white elevation-2 sticky" :style="ats('min-height: 100px', '=', 'min-height: 100px')">
              <v-layout :class="ats('fill-height row wrap justify-center', '=', 'fill-height row wrap justify-center px-3')" :style="ats('min-height: 100px', '=', 'min-height: 100px')">
                <v-flex xs12 md10 :style="ats('min-height: 100px', '=', 'min-height: 100px')">
                  <v-layout :class="ats('fill-height column white', '=', 'fill-height row wrap white justify-center align-center white px-1')" :style="ats('min-height: 60px', '=', 'min-height: 100px')">
                    <v-flex xs3 style="height: 100% !important">
                      <v-layout column :class="ats('grey lighten-1', '=', 'grey lighten-3 fill-height')">
                        <router-link :class="ats('flex grey lighten-1', '=', 'flex xs3 py-0 my-0')" :style="$vuetify.breakpoint.smAndDown ? 'text-decoration: none; min-height: 60px' : 'text-decoration: none; min-height: 120px'" :to="`/company/${getCompanyData.identifier}`">
                          <v-layout :column="ats(false, false, true)" :row="ats(true, true, false)" :wrap="ats(true, true, false)" :class="ats('child-flex fill-height justify-center align-center', '=', 'fill-height mr-1 pt-2')" :style="ats('min-height: 60px', '=', 'min-height: 120px')">
                            <v-flex offset-xs1 xs3 offset-md0 md12 v-if="!getStatus.loading && getCompanyData.logo !== null">
                              <v-avatar :size="$vuetify.breakpoint.smAndDown ? '48' : '64'" color="white">
                                <img :src="'/static/images/uploads/' + getCompanyData.logo + '#' + Date.now()"/>
                              </v-avatar>
                            </v-flex>
                            <v-flex offset-xs1 xs3 md12 v-if="getStatus.loading || getCompanyData.logo === null">
                              <v-spacer></v-spacer>
                              <v-card flat :height="$vuetify.breakpoint.smAndDown ? '48' : '64'" :width="$vuetify.breakpoint.smAndDown ? '48' : '64'" color="white" style="border-radius: 50%">
                                <v-layout :style="$vuetify.breakpoint.smAndDown ? 'height: 48px;' : 'height: 64px;'" class="white" column fill-height align-center justify-center>
                                  <span class="black--text caption font-weight-bold">{{getStatus.loading ? '' : getCompanyData.name}}</span>
                                </v-layout>
                              </v-card>
                              <v-spacer></v-spacer>
                            </v-flex>
                            <v-flex xs8 md12 :class="$vuetify.breakpoint.smAndDown ? 'text-xs-left pl-2' : ''">
                              <div :class="getStatus.loading ? 'subheading black--text font-weight-bold mt-2 blurry-text noselect' : ($vuetify.breakpoint.smAndDown ? 'subheading shadowed-text white--text font-weight-bold mt-2' : 'subheading black--text font-weight-bold mt-2')">{{getStatus.loading ? 'Company Name' : getCompanyData.name}}</div>
                            </v-flex>
                          </v-layout>
                        </router-link>
                        <v-flex xs12 :style="ats('display: none', '=', '')">
                          <v-layout row wrap fill-height align-center justify-center class="grey lighten-3">
                            <v-spacer></v-spacer>
                            <a class="pr-2" v-if="getCompanyData.linkedin !== ''" :href="getCompanyData.linkedin"><v-icon size="20" :color="getStatus.loading || getCompanyData.linkedin === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-linkedin</v-icon></a>
                            <a class="pr-2" v-if="getCompanyData.facebook !== ''" :href="getCompanyData.facebook"><v-icon size="20" :color="getStatus.loading || getCompanyData.facebook === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-facebook</v-icon></a>
                            <a class="pr-2" v-if="getCompanyData.twitter !== ''" :href="getCompanyData.twitter"><v-icon size="20" :color="getStatus.loading || getCompanyData.twitter === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-twitter</v-icon></a>
                            <a class="pr-2" v-if="getCompanyData.youtube !== ''" :href="getCompanyData.youtube"><v-icon size="20" :color="getStatus.loading || getCompanyData.youtube === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-youtube</v-icon></a>
                            <v-spacer></v-spacer>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-flex>

                    <v-flex xs12 md6 :style="$vuetify.breakpoint.smAndDown ? 'min-height: 100px' : 'min-height: 100px'">
                      <v-layout column :style="$vuetify.breakpoint.smAndDown ? 'min-height: 100px' : 'min-height: 100px'">
                        <v-flex :class="$vuetify.breakpoint.smAndDown ? 'xs12 px-4 text-xs-center' : 'xs6 pl-5 py-2 text-xs-left'">
                          <div class="py-2 font-weight-bold" style="border-bottom: 2px solid black">{{ getStatus.loading || getCompanyData.description === '' ? 'Law related complex issues' : (getCompanyData.howToSay == 2 ? getCompanyData.customHowToSay + ' ' + getCompanyData.description : getCompanyData.description) }}</div>
                        </v-flex>
                        <v-flex xs12>
                          <v-layout :class="$vuetify.breakpoint.smAndDown ? 'row fill-height justify-start align-center' : 'row fill-height justify-start align-center'">
                            <v-flex xs12 md10>
                              <v-layout :class="$vuetify.breakpoint.smAndDown ? 'px-2 pt-3 pb-2' : 'py-2'">
                                <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'grey--text font-weight-thin display-1')">{{getResultsSingle(getSolution.benefits)}}</span> <br> <span class="font-weight-bold" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Resultados</span></v-flex>
                                <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'grey--text font-weight-thin display-1')">{{getHappyClients(getSolution.benefits).length}}</span> <br> <span class="font-weight-bold" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Clientes Contentos</span></v-flex>
                                <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'grey--text font-weight-thin display-1')">{{getTotalYes(getSolution.benefits)}} </span><br> <span class="font-weight-bold" :style="ats('font-size: 10px', '=', 'font-size: 12px')"><img style="vertical-align: text-bottom" src="/static/images/smile.png"> de Clientes Contentos</span></v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-flex>

                    <v-flex xs3 text-xs-right class="hidden-sm-and-down">
                      <v-btn depressed color="green accent-4" class="white--text font-weight-bold mx-0 px-5">Contacto</v-btn>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex> -->

          </v-layout>
        </v-flex>

        <v-flex xs12 class="hidden-sm-and-down" v-if="getCompanyData === null ? false : (getCompanyData.published ? true : (currentUser.identifier === $route.params.identifier ? true : false))">
          <v-layout column fill-height justify-center>
            <v-flex xs12 class="elevation-1" style="z-index: 1">
              <v-layout row wrap py-2 white justify-center align-center>
                <v-flex xs10>
                  <v-layout row wrap fill-height justify-center>
                      <v-flex xs3></v-flex>
                      <v-flex xs6>
                        <v-layout child-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')">{{getHappyClients(getSolution.benefits).length}}</span> <br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Clientes Contentos</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')">1</span> <br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Servicio</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')">{{getResultsSingle(getSolution.benefits)}}</span> <br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')">Resultados</span></v-flex>
                            <v-flex><span :class="ats('grey--text font-weight-thin title', '=', 'font-size-32 color-a8a8bb gothic-century')">{{getTotalYes(getSolution.benefits)}} </span><br> <span :class="ats('font-weight-bold', '=', 'font-size-14 color-1d2d35 font-weight-regular arial')" :style="ats('font-size: 10px', '=', 'font-size: 12px')"><img style="vertical-align: text-bottom" src="/static/images/smile.png"> Recomendaciones</span></v-flex>
                          </v-layout>
                      </v-flex>
                      <v-flex xs3></v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex xs12 ref="stickyheader">
          <v-layout column fill-height justify-center>
            <!-- v-if="getStatus.loading ? false : (!getCompanyData ? false : (getCompanyData.published ? true : (currentUser.identifier === $route.params.identifier ? true : false) ) )" -->
            <v-flex xs12 v-if="getStatus.loading ? false : (getSolution ? (getCompanyData.published ? true : (currentUser.identifier === $route.params.identifier ? true : false) ): false)" style="background-color: #D5E3E4; min-height: 700px">
              <v-layout :class="ats('row wrap fill-height px-3 pb-1 justify-center', '=', 'row wrap fill-height px-3 pb-5 justify-center')">
                  <v-flex xs12 md10 :class="ats('', '', 'pt-3')">
                    <v-layout fill-height row wrap py-1>

                      <v-flex xs12 pb-3>
                        <v-layout row wrap fill-height align-center justify-end>
                          <v-flex xs12 md3 px-1>
                            <v-card flat class="mb-3 py-2 squared" style="background-color: #EBECF0">
                              <v-layout column>
                                <v-flex text-xs-left class="py-2 px-3 font-size-16 color-1d2d35 font-weight-bold">Experiencia: <span class="color-00306e">{{getCompanyData.industry === '' ? 'TU INDUSTRIA' : getCompanyData.industry}}</span></v-flex>
                              </v-layout>
                            </v-card>
                          </v-flex>

                          <v-flex xs12 md9 px-3>
                            <v-flex v-if="!getStatus.loading && getCategories.length > 0" text-xs-left class="font-weight-bold">
                              <v-btn depressed style="cursor: pointer; background-color: #C7D2D6; border-radius: 0" class="font-size-14 color-00306e arial font-weight-regular mx-1 my-1">> {{getSolution.category}}</v-btn>
                            </v-flex>
                            <v-flex v-if="getStatus.loading || getCategories.length == 0" text-xs-left>
                              <v-btn depressed style="cursor: pointer; background-color: #C7D2D6; border-radius: 0" class="font-size-14 color-00306e arial font-weight-regular mx-0 my-1"> > Tus categorías</v-btn>
                            </v-flex>
                          </v-flex>
                        </v-layout>
                      </v-flex>

                      <v-flex order-xs3 order-md1 xs12 md3 :class="ats('px-1 mt-3', '=', 'px-1')">
                        <v-card flat :class="ats('white pb-2', '=', 'white py-2')" :style="ats('position: fixed; bottom: 0; left: 0; z-index: 5; width: 100%; border-top: 2px solid #e3e3e3 !important', '=', '')">
                          <v-layout row wrap :class="ats('pa-0', 'pa-0', 'pa-0 pl-2')">
                            <v-flex xs3>
                              <v-layout fill-height align-center justify-center :class="ats('pl-3', 'pl-3', '')">
                                <v-avatar color="grey darken-1">
                                  <v-icon dark large>account_circle</v-icon>
                                </v-avatar>
                              </v-layout>
                            </v-flex>
                            <v-flex xs9 :class="ats('px-3', 'px-3', 'py-3 pr-3 pl-1')">
                              <div :class="ats('font-weight-bold pt-2', '=', 'font-size-14 color-1d2d35 font-weight-bold')">Soy un cliente contento</div>
                              <div>
                                  <!-- <v-btn block depressed class="white--text font-weight-bold" color="yellow darken-1 px-4" :disabled="getStatus.loading || getSolution.benefits.length == 0" @click="linkedinValidate">Yes</v-btn> -->
                                <v-btn block depressed class="white--text font-weight-bold" color="yellow darken-1 px-4" :disabled="getStatus.loading || getSolution.benefits.length == 0" :to="`/company/${getCompanyData.identifier}/service/${$route.params.solution}/validate`">Yes</v-btn>
                              </div>
                            </v-flex>
                          </v-layout>
                        </v-card>
                      </v-flex>

                      <v-flex xs12 text-xs-right px-1 class="hidden-md-and-up">
                        <v-btn block large depressed color="green_button" style="height: 64px" class="white--text font-weight-bold arial font-size-16 mx-0 px-5 squared">Contacto</v-btn>
                      </v-flex>

                      <v-flex order-xs1 order-md2 xs12 md6 :class="$vuetify.breakpoint.smAndDown ? 'px-1 mt-3' : 'px-3'"> <!-- You start here -->
                        <v-layout column fill-height>
                          <v-flex class="font-size-16 color-1d2d35 font-weight-bold py-4 white" style="border-bottom: 1px solid #d9e1e4 !important">Servicio</v-flex>
                          <v-flex class="white squared">
                            <v-layout :style="ats('min-height: 260px', 'min-height: 310px', '')" :class="ats('column fill-height pb-3', '=', 'row wrap fill-height justify-center align-center')" @mouseover="beingHovered = true" @mouseout="beingHovered = false">
                              <v-flex order-xs2 order-md1 xs12 md6 text-xs-left :class="$vuetify.breakpoint.smAndDown ? 'px-3 text-xs-left' : 'px-1 text-xs-left'" :style="ats('min-height: 130px; z-idex: 3', '=', 'min-height: 300px; z-idex: 3')">
                                <v-layout fill-height align-center justify-center :style="ats('min-height: 130px;', '=', 'min-height: 300px;')">
                                  <v-flex xs12 :class="ats('px-2', '=', 'px-4 py-5')">
                                    <div :class="ats('font-size-16 color-00306e arial font-weight-regular mb-1', '=', 'font-size-16 color-00306e arial font-weight-regular mb-3 pt-3')">
                                      {{getSolution.description}}
                                    </div>
                                    <div class="arial font-size-12 color-a8a8bb font-weight-regular py-2">
                                      <span class="font-weight-bold" style="padding-bottom: 10px; border-bottom: solid 1px #a8a8bb"><img style="vertical-align: text-bottom" src="/static/images/smile.png"> {{ getHappyClients(getSolution.benefits).length }} Recomendaciones</span>
                                    </div>
                                    <div class="mt-2 hidden-sm-and-down" style="min-height: 24px">
                                      <v-icon v-show="beingHovered" small color="grey darken-3">fas fa-arrow-right</v-icon>
                                    </div>
                                  </v-flex>
                                </v-layout>
                                <!-- <div :class="ats('font-size-16 color-00306e arial font-weight-regular mb-1', '=', 'font-size-16 color-00306e arial font-weight-regular mb-3')">
                                  {{getSolution.description}}
                                </div>
                                <div class="arial font-size-12 color-a8a8bb font-weight-regular py-2">
                                  <span class="font-weight-bold">{{ getHappyClients(getSolution.benefits).length }} Clientes Contentos</span> con este servicio.
                                </div>
                                <div v-if="beingHovered" class="mt-2 hidden-sm-and-down">
                                  <v-icon small color="grey darken-3">fas fa-arrow-right</v-icon>
                                </div> -->
                              </v-flex>
                              <v-flex order-xs1 order-md2 xs12 md6 :class="beingHovered ? ats('triangle-v', '=', 'triangle-big') : ats('triangle-v', '=', 'triangle')" :style="ats('overflow: hidden; max-height: 130px', 'overflow: hidden; max-height: 180px', 'overflow: hidden')">
                                <div :class="beingHovered ? 'zoomable zoomed' : 'zoomable'" :style="solutionStyle(getSolution.image)"></div>
                              </v-flex>
                            </v-layout>
                          </v-flex>

                          <v-card class="mt-4 squared" flat>
                            <v-layout column>
                              <v-flex text-xs-left class="py-2 px-4 py-4 font-size-16 color-1d2d35 font-weight-bold" style="border-bottom: 1px solid #d9e1e4;">Resultados</v-flex>
                              <v-flex v-if="getStatus.loading || getSolution.benefits.length === 0" class="mx-4 py-4 font-weight-bold">
                                <div v-if="getStatus.loading" class="loading load-100"></div>
                                <div v-if="getSolution.benefits.length === 0" class="caption mt-2 font-weight-bold">This solution has no benefits yet.</div>
                              </v-flex>
                              <v-flex v-if="!getStatus.loading && getSolution.benefits.length > 0" v-for="(benefit, index) in getOrderedBenefits" text-xs-left class="mx-4 py-3 font-size-14 color-00306e segoe-bold" :style="index === getSolution.benefits.length - 1 ? '' : 'border-bottom: 1px solid #e3e3e3'">
                                <div style="">. {{benefit.description}}</div>
                                <div class="mt-2 arial font-size-12 color-a8a8bb font-weight-regular"><span class="font-weight-bold">{{benefit.validations.length}} <img style="vertical-align: text-bottom" src="/static/images/smile.png"> Recomendaciones</span></div>
                              </v-flex>
                              <v-flex v-if="!getStatus.loading && getSolution.benefits.length > solutionLimit" @click="solutionLimit = solutionLimit + 5" class="py-2 px-4 py-4 text-xs-left" style="cursor: pointer">
                                  <span class="font-size-14 color-00306e segoe-bold">Mostrar más</span><v-icon small class="color-00306e">keyboard_arrow_down</v-icon>
                              </v-flex>
                              <!-- <v-flex v-if="!getStatus.loading && getSolution.benefits.length > 4" text-xs-left class="mx-4 py-3 font-weight-bold blurry-text noselect" style="border-bottom: 1px solid #e3e3e3">
                                <div class="grey--text text--darken-1" style="">. {{getSolution.benefits.length - 4}}</div>
                              </v-flex> -->
                            </v-layout>
                          </v-card>

                          <v-card class="mt-4 squared" flat>
                            <v-layout column>
                              <v-flex text-xs-left class="py-2 px-4 py-4 font-size-16 color-1d2d35 font-weight-bold" style="border-bottom: 1px solid #d9e1e4;">
                                <div class="left">Clientes Contentos</div>
                                <div style="font-size: 10px" class="right font-weight-bold">Linked<v-icon color="blue darken-2" class="right font-weight-light" style="font-size: 14px">fab fa-linkedin</v-icon><div class="" style="font-size:10px">information</div></div>
                              </v-flex>
                              <v-flex v-if="cClients.length !== 0" class="mx-3 py-4 font-weight-bold noselect"> <!-- Clients list -->
                                <v-layout row wrap text-xs-left mx-1>
                                  <v-flex xs6 sm3 pa-0 mb-3 v-for="(client, index) in cClients" :key="client.lastName">
                                    <v-avatar :size="$vuetify.breakpoint.smAndDown? '58' : '46'" color="grey lighten-2">
                                      <img :src="client.pictureUrl" style="border: 1px solid #e3e3e3">
                                      <v-icon small color="blue darken-2" style="position: absolute; bottom: -25%; right: -50%; margin-left: 2px">fab fa-linkedin</v-icon>
                                    </v-avatar>
                                    <div class="font-size-11 color-00306e arial font-weight-regular mt-1 pr-2">{{client.firstName}} {{client.lastName}}</div>
                                    <div class="font-size-11 color-00306e arial font-weight-regular">{{client.headline}}</div>
                                  </v-flex>
                                  <v-flex v-if="cClients.length > 4" xs6 text-xs-left class="pa-2 mb-4 font-weight-bold">
                                    <v-avatar size="46" color="transparent" style="border: 2px solid #e3e3e3 !important">{{cClients.length - 4}}</v-avatar>
                                  </v-flex>
                                </v-layout>
                              </v-flex>
                              <v-flex v-if="cClients.length === 0" class="mx-3 py-4 font-weight-bold noselect"> <!-- No clients yet -->
                                <div class="caption mt-2 font-weight-bold">Este servicio no tiene clientes contentos todavía.</div>
                              </v-flex>
                            </v-layout>
                          </v-card>
                          
                        </v-layout>
                      </v-flex>

                      <v-flex order-xs2 order-md3 xs12 md3 :class="$vuetify.breakpoint.smAndDown ? 'px-1 mt-3' : 'px-1'">
                        
                        <!-- <v-card flat>
                          <v-layout column>
                            <v-flex text-xs-left class="py-4 px-4 font-size-16 color-1d2d35 font-weight-bold" style="border-bottom: 1px solid #d9e1e4">Experiencia</v-flex>
                            <v-flex text-xs-left :class="getStatus.loading || getCompanyData.description === '' ? 'px-4 py-3 font-size-14 color-00306e arial font-weight-bold blurry-text noselect' : 'px-4 py-3 font-size-14 color-00306e arial font-weight-bold'" style="border-bottom: 1px solid #d9e1e4">{{ getStatus.loading || getCompanyData.description === '' ? 'Law related complex issues' : (getCompanyData.howToSay == 2 ? getCompanyData.customHowToSay + ' ' + getCompanyData.description : getCompanyData.description) }}</v-flex>
                            <v-flex text-xs-left class="py-2 px-4 subheading" style="border-bottom: 1px solid #d9e1e4;">
                              <v-layout column>
                                <v-flex v-if="getStatus.loading || getCategories.length === 0" text-xs-left class="font-weight-bold blurry-text noselect">
                                  <div class="my-2 subheading">Law & Tax</div>
                                  <div class="my-2 subheading">Law & Litigation</div>
                                </v-flex>
                                <v-flex v-if="!getStatus.loading && getCategories.length > 0" text-xs-left class="font-weight-bold">
                                  <div class="font-size-14 color-00306e arial font-weight-bold pb-2" style="">{{getCompanyData.industry}}</div>
                                  <v-btn depressed style="background-color: #D5E3E4; border-radius: 0" class="font-size-14 color-00306e arial font-weight-regular mx-0 my-1">> {{getSolution.category}}</v-btn>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-card> -->

                        <!-- <v-card flat>
                          <v-layout column>
                            <v-flex text-xs-left class="py-2 px-4 subheading" style="border-bottom: 1px solid #d9e1e4; border-top: 4px solid #00E676">Helps Clients</v-flex>
                            <v-flex text-xs-left :class="getStatus.loading || getCompanyData.description === '' ? 'px-4 py-3 font-weight-bold blurry-text noselect' : 'px-4 py-3 font-weight-bold'">{{ getStatus.loading || getCompanyData.description === '' ? 'Law related complex issues' : (getCompanyData.howToSay == 2 ? getCompanyData.customHowToSay + ' ' + getCompanyData.description : getCompanyData.description) }}</v-flex>
                            <v-flex xs12 md6 px-4 pb-3>
                              <v-layout row wrap text-xs-left>
                                <a class="pr-2" v-if="getCompanyData.linkedin !== ''" :href="getCompanyData.linkedin"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-linkedin</v-icon></a>
                                <a class="pr-2" v-if="getCompanyData.facebook !== ''" :href="getCompanyData.facebook"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-facebook</v-icon></a>
                                <a class="pr-2" v-if="getCompanyData.twitter !== ''" :href="getCompanyData.twitter"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-twitter</v-icon></a>
                                <a class="pr-2" v-if="getCompanyData.youtube !== ''" :href="getCompanyData.youtube"><v-icon size="20" :color="getStatus.loading || getCompanyData.description === '' ? 'transparent' : 'grey lighten-1'" :class="getStatus.loading || getCompanyData.description === '' ? 'blurry-text' : ''">fab fa-youtube</v-icon></a>
                                <v-spacer></v-spacer>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-card>

                        <v-card flat class="mt-3">
                          <v-layout column>
                            <v-flex text-xs-left class="py-2 px-4 subheading" style="border-bottom: 1px solid #d9e1e4; border-top: 4px solid #00E676">Categoría</v-flex>
                            <v-flex v-if="getStatus.loading" text-xs-left class="px-4 py-3 font-weight-bold blurry-text noselect">
                              <div class="my-2 subheading">Law & Tax</div>
                              <div class="my-2 subheading">Law & Litigation</div>
                            </v-flex>
                            <v-flex v-if="!getStatus.loading" text-xs-left class="px-4 py-3 font-weight-bold">
                              <div class="my-2 body-1 pl-2">{{getSolution.category}}</div>
                            </v-flex>
                          </v-layout>
                        </v-card> -->

                      </v-flex>

                    </v-layout>
                  </v-flex>
              </v-layout>
            </v-flex>

          </v-layout>
        </v-flex>

        <v-dialog
          v-model="contact.dialog.show"
          persistent
          scrollable
          lazy
          max-width="600px"
          style="z-index: 9999 !important"
          :fullscreen="$vuetify.breakpoint.smAndDown"
          :disabled="getStatus.loading"
          v-if="getCompanyData !== null"
        >
          <v-card>
            <v-card-title :style="ats('max-height: 72px; border-bottom: 4px solid #eeeeee;', '=', 'border-bottom: 1px solid #e3e3e3')" :class="ats('text-xs-left', '=', 'pl-5 text-xs-left')" v-if="!getStatus.loading">
              <span :class="ats('grey--text text--darken-2 font-weight-bold', '=', 'title')">Contact {{getStatus.loading? '' : getCompanyData.name}} </span>
              <v-spacer></v-spacer>
              <v-icon :color="$vuetify.breakpoint.smAndDown? 'black': 'grey darken-1'" style="cursor: pointer;" @click="contact.dialog.show = false">close</v-icon>
            </v-card-title>
            <v-card-text>
              <v-form ref="contactForm" v-model="contact.dialog.form">
                <v-layout row wrap :class="$vuetify.breakpoint.smAndDown ? 'pa-0': 'pa-3'">
                  <v-flex xs12>
                    <v-textarea
                      v-model="contact.dialog.message"
                      label="Message"
                      maxlength="100"
                      :rules="requiredRules"
                      outline
                      required
                    >
                    </v-textarea>
                  </v-flex>
                  <v-flex xs12 mb-2>
                    <v-text-field
                      v-model="contact.dialog.email"
                      :rules="requiredRules"
                      validate-on-blur
                      label="Your e-mail"
                      required
                    >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs6 mb-2 pr-2>
                    <v-text-field
                      v-model="contact.dialog.phone"
                      label="Your phone"
                      :rules="requiredRules"
                      required
                    >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs6 mb-2>
                    <v-text-field
                      v-model="contact.dialog.name"
                      label="Your name"
                      :rules="requiredRules"
                      required
                    >
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <v-card-actions class="px-3 pb-3">
              <small class="mr-2">* Make sure to fill all the necessary information before clicking done.</small>
              <v-spacer></v-spacer>
              <v-btn right depressed class="font-weight-bold" color="primary" :loading="!contact.status.ready" :disabled="!contact.status.ready" @click.native.stop="contactCompany()">Send</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-snackbar bottom :color="snackbar.success? 'success' : 'error'" :timeout="10000" :multi-line="true" v-model="snackbar.show">
            {{ snackbar.message }}
            <v-btn flat color="white" @click="snackbar.show = false">Close</v-btn>
        </v-snackbar>
    </v-layout>

    <v-layout row fill-height justify-center align-top v-if="getStatus.loading">
      <v-flex xs6 pa-5>
        <v-progress-circular indeterminate size="64" color="button"></v-progress-circular>
      </v-flex>
    </v-layout>
    <v-layout align-center justify-center row fill-height v-if="getStatus.loading ? false : (getSolution ? (getCompanyData.published ? false : (currentUser.identifier === $route.params.identifier ? false : true) ): true)" style="background-color: #D5E3E4; min-height: 500px">
      <v-flex xs6 pa-5>
        <v-card white class="headline font-weight-bold pa-5">
          We are sorry but that service doesn't exist.<br>
          <v-icon large class="mt-3" color="grey darken-4">fas fa-frown</v-icon><br>
          <v-btn large color="button" class="white--text mt-5" to="/home">Go back home</v-btn>
        </v-card>
      </v-flex>
    </v-layout>

    <ValidateBenefits ref="validatebenefits" v-if="!getStatus.loading" :solution="getSolution" :linkedin="linkedin" @disable-sticky="sticky = false" @enable-sticky="stickyCheck()" @snackbar="fireSnackbar($event)"></ValidateBenefits>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import { mapGetters } from 'vuex'

import ValidateBenefits from '@/components/ValidateBenefits.vue'

export default {
  name: 'solution-detail',
  components: {ValidateBenefits},
  data () {
    return {
      solutionLimit: 5,
      linkedin: null,
      version: 0,
      tab: 1,
      clients: 4,
      beingHovered: null,
      sticky: false,
      offsetTop: 0,
      snackbar: {
        show: false,
        success: true,
        message: ''
      },
      contact: {
        dialog: {
          show: false,
          form: true,
          message: '',
          email: '',
          phone: '',
          name: ''
        },
        status: {
          ready: true,
          error: false,
          message: ''
        }
      },
      emailRules: [
        (v) => !!v || 'This field is required.',
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      requiredRules: [
        (v) => !!v || 'This field is required.'
      ]
    }
  },
  watch: {},
  computed: {
    ...mapGetters('auth', ['isLoggedIn', 'currentUser', 'getToken']),
    ...mapGetters('company', ['getCompanyData', 'getStatus', 'getSolutions', 'getBenefits', 'getCategories', 'getExperiences', 'getTotalValidations']),

    style () {
      return {
        'background-image' : this.getCompanyData ? (this.getCompanyData.coverImage ? 'url("/static/images/uploads/' + this.getCompanyData.coverImage + '#' + Date.now() + '")' : 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.5) 100%)') : 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.5) 100%)',
        // 'background-image' : this.getStatus.loading ? 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.5) 100%)' : (this.getCompanyData.coverImage ? 'url("/static/images/uploads/' + this.getCompanyData.coverImage + '#' + Date.now() + '")' : 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.5) 100%)'),
        // 'background-image' : 'linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.85) 100%)',
        'background-repeat': 'no-repeat scroll',
        'background-position': this.ats('top', '=', 'center center'),
        'background-size' : this.ats('100% 160px', 'cover', 'cover'),
        'background-color': '#D5E3E4',
        'min-height' : this.ats('300px', '360px', '420px')
      }
    },

    getSolution () {
      if (this.getSolutions[this.$route.params.solution - 1]) {
        return this.getSolutions[this.$route.params.solution - 1]
      } else {
        return false
      }
    },

    getOrderedBenefits () {
      let ordered = _.orderBy(this.getSolution.benefits, 'validations', 'desc')
      return ordered.slice(0, this.solutionLimit)
    },

    oClients () {
      let clients = this.getHappyClients(this.getSolution.benefits)
      return clients
    },

    cClients () {
      return this.oClients.slice(0, this.clients)
    }

  },
  methods: {

    ats (xs, sm, mdAndUp) { // According to Size
      if (this.$vuetify.breakpoint.xs) {
        return xs
      }
      else if (this.$vuetify.breakpoint.sm) {
        return sm === '=' ? xs : sm
      }
      if (this.$vuetify.breakpoint.mdAndUp) {
        return mdAndUp
      }
    },

    fireSnackbar (info) {
      this.snackbar.show = true
      this.snackbar.error = info.error
      this.snackbar.message = info.message
    },

    linkedinValidate () {
      if (this.linkedin.User.isAuthorized()) {
        console.log('1', this.linkedin.User.isAuthorized())
        this.$refs.validatebenefits.open()
      } else {
        this.linkedin.User.refresh()
        console.log('2')
        if (this.linkedin.User.isAuthorized()) {
          console.log('3')
          this.$refs.validatebenefits.open()
        } else {
          console.log('4')
          let linkedinWindow = this.linkedin.UI.Authorize().place()
          // console.log(linkedinWindow)
          linkedinWindow.onWindowRemove.subscribe(() => {
            this.linkedinValidateNext()
          })
        }
      }
    },

    linkedinValidateNext () {
      if (this.linkedin.User.isAuthorized()) {
        console.log('5')
        this.$refs.validatebenefits.open()
      } else {
        console.log('6')
        this.snackbar.show = true
        this.snackbar.success = false
        this.snackbar.message = 'You chose not to validate your account so you can\'t validate this solution\'s benefits.'
      }
    },

    onScroll (e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      let headerOffset = this.$refs.stickyheader.offsetTop ? this.$refs.stickyheader.offsetTop : 0
      if (this.offsetTop > headerOffset) {
        this.sticky = true
      } else {
        this.sticky = false
      }
    },

    stickyCheck () {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      let headerOffset = this.$refs.stickyheader.offsetTop ? this.$refs.stickyheader.offsetTop : 0
      if (this.offsetTop > headerOffset) {
        this.sticky = true
      } else {
        this.sticky = false
      }
    },

    setHover (index) {
      if (this.beingHovered !== null) {
        this.beingHovered = null
      } else {
        this.beingHovered = index
      }
    },

    solutionStyle (image) {
      return {
        'width': '100%',
        'min-height': this.ats('130px', '180px', '300px'),
        'background-color': 'grey',
        'background-image': 'url("/static/images/uploads/' + image + '")',
        'background-position': this.$vuetify.breakpoint.smAndDown ? 'top' : 'center',
        'background-size': 'cover'
      }
    },

    getValidatedSolutions () { //Este es getHappyClients general de todas las soluciones, dunno why I did this.
      let validations = []
      for (let x = 0, len = this.getSolutions.length; x < len; x++) {
        for (let i = 0, len = this.getSolutions[x].benefits.length; i < len; i++) {
          if (this.getSolutions[x].benefits[i].validations.length > 0) {
            for (let j = 0, len = this.getSolutions[x].benefits[i].validations.length; j < len; j++) {
              if (!validations.some(validation => validation.id.toString() === this.getSolutions[x].benefits[i].validations[j].id.toString())) {
                validations.push(this.getSolutions[x].benefits[i].validations[j])
              }
            }
          }
        }
      }
      return validations
    },

    getResults () { // Results are the solutions that have benefits with at least 1 validation.
      let results = []
      for (let x = 0, len = this.getSolutions.length; x < len; x++) {
        for (let i = 0, len = this.getSolutions[x].benefits.length; i < len; i++) {
          if (this.getSolutions[x].benefits[i].validations.length > 0) {
            if (!results.some(result => result === x)) {
              results.push(x)
            }
          }
        }
      }
      return results.length
    },

    getHappyClients (benefits) {
      let validations = []
      for (let i = 0, len = benefits.length; i < len; i++) {
        if (benefits[i].validations.length > 0) {
          for (let j = 0, len = benefits[i].validations.length; j < len; j++) {
            if (!validations.some(validation => validation.id.toString() === benefits[i].validations[j].id.toString())) {
              validations.push(benefits[i].validations[j])
            }
          }
        }
      }
      return validations
    },

    getResultsSingle (benefits) { // I'm guessing this is the number of benefits with at least 1 validation.
      let results = 0
      for (let i = 0, len = benefits.length; i < len; i++) {
        if (benefits[i].validations.length > 0) {
          results ++
        }
      }
      return results
    },

    getTotalYes (benefits) { //Recomendaciones now
      let yes = 0
      for (let i = 0, len = benefits.length; i < len; i++) {
        yes += benefits[i].validations.length
      }
      return yes //+ this.getResults()
    },

    async contactCompany () {
      if (this.$refs.contactForm.validate()) {
        this.contact.status.ready = false
        this.contact.status.error = false
        this.contact.status.message = ''
        try {
          await axios.post('/api/company/contact/company', { company: this.getCompanyData._id, user: this.contact.dialog.name, email: this.contact.dialog.email, phone: this.contact.dialog.phone, message: this.contact.dialog.message })
          this.contact.status.ready = true
          this.contact.status.error = false
          this.contact.status.message = 'An e-mail with your inquiry was sent to ' + this.getCompanyData.name + '. Thank you.'
          this.contact.dialog.show = false
          this.snackbar.show = true
          this.snackbar.success = !this.contact.status.error
          this.snackbar.message = this.contact.status.message
        } catch (error) {
          let message = ''
          if (error.response) {
            message = error.response.data.message
          } else if (error.request) {
            message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
          } else {
            message = error.message
          }
          this.contact.status.ready = true
          this.contact.status.error = true
          this.contact.status.message = message
          this.snackbar.show = true
          this.snackbar.success = !this.contact.status.error
          this.snackbar.message = this.contact.status.message
        }
      } else {
        this.contact.status.ready = true
        this.contact.status.error = true
        this.contact.status.message = 'All the fields are required.'
        this.snackbar.show = true
        this.snackbar.success = !this.contact.status.error
        this.snackbar.message = this.contact.status.message
      }
    }
  },
  created: function () {
    // this.$nextTick( () => {
    //   this.linkedin = IN
    //   console.log(this.linkedin)
    // })
  }
}
</script>

<style>
.loading:before {
  content: "|";
}

.load-100 {
  width: 100%;
}

.load-75 {
  width: 75%;
}

.load-50 {
  width: 50%;
}

.selected-tab {
  color: #1565C0 !important;
}

.v-tabs__slider {
  height: 4px !important;
}

.blue-grey-background {
  background-color: #d9e1e4;
}

.blurry-text {
  color: transparent;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.blurry-image {
  -webkit-filter: blur(7px);
  filter: blur(2px);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.triangle, .triangle-big {
  position: relative;
  width: 100%;
  height: 100%;
}

.triangle-big:after { 
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: white;
  border-right: 0;
  margin-top: -10px;
  margin-right: -20px;
  z-index: 2;
  transition: all .25s;
}

.triangle:after { 
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: white;
  border-right: 0;
  margin-top: -10px;
  margin-right: -20px;
  z-index: 2;
  transition: all .25s;
}

.triangle-l, .triangle-l-big {
  position: relative;
  width: 100%;
  height: 100%;
}

.triangle-l:after { 
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-left: 0;
  margin-top: -10px;
  margin-left: -20px;
  z-index: 2;
  transition: all .25s;
}

.triangle-l-big:after { 
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-right-color: white;
  border-left: 0;
  margin-top: -10px;
  margin-left: -20px;
  z-index: 2;
  transition: all .25s;
}

.arrow-right {
  transition: all .5s;
  position: relative;
  left: 0px;
  opacity: 1;
}

.arrow-right-moved {
  opacity: 0.50;
}

.zoomable {
  transition: all .5s;
}

.zoomed {
  transform: scale(1.1);
  transition: all .5s;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 999 !important;
}
</style>
