<template>
  <v-footer height="auto" :class="$vuetify.breakpoint.smAndDown ? 'white pa-4' : 'white grey--text text--darken-1 px-5 py-5'" style="z-index: 2; border-top: 1px solid #e3e3e3 !important">
    <v-layout row wrap fill-height justify-center align-center>
      <v-flex xs0 md1 order-md1></v-flex>
      <v-flex xs4 md2 order-md2 order-xs4 :class="$vuetify.breakpoint.smAndDown ? 'text-xs-left subheading' : 'text-xs-right subheading'">
        <span :style="$vuetify.breakpoint.smAndDown ? 'cursor: pointer' : 'border-right: 2px solid black; padding-right: 12px; cursor: pointer'" class="grey--text text--darken-3" @click="$router.push('/home')">YES THEM</span>
      </v-flex>
      <v-flex xs12 md4 offset-xs0 offset-md1 order-xs2 order-md3 pt-2>
        <v-layout row wrap fill-height justify-center align-center :class="$vuetify.breakpoint.smAndDown ? '' : 'pl-5'">
          <v-flex xs6 py-1 text-xs-left>
            <router-link class="grey--text text--darken-3 font-size-14 ul-hover" to="/about">
              Sobre Nosotros
            </router-link>
          </v-flex>
          <v-flex xs6 py-1 text-xs-left>
            <router-link class="grey--text text--darken-3 font-size-14 ul-hover" to="/join">
              Política de Privacidad
            </router-link>
          </v-flex>
          <v-flex xs6 py-1 text-xs-left>
            <router-link class="grey--text text--darken-3 font-size-14 ul-hover" to="/privacy">
              Terminos de Uso
            </router-link>
          </v-flex>
          <v-flex xs6 py-1 text-xs-left>
            <router-link class="grey--text text--darken-3 font-size-14 ul-hover" to="/terms">
              Unete al equipo
            </router-link>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs8 md3 order-xs4 order-md3>
        <v-layout row wrap fill-height justify-center align-right>
          <v-flex xs12>
            <v-layout row wrap fill-height>
              <v-flex :class="$vuetify.breakpoint.smAndDown ? 'text-xs-center py-4' : 'text-xs-right pr-4'">
                <v-btn fab small depressed :style="$vuetify.breakpoint.smAndDown ? 'height: 24px !important; width: 24px !important' : 'height: 30px !important; width: 30px !important'" class="grey lighten-1 font-weight-bold mx-2"><v-icon color="white" class="font-weight-thin" :style="$vuetify.breakpoint.smAndDown ? 'font-size: 14px' : 'font-size: 18px'">fab fa-facebook</v-icon></v-btn>
                <v-btn fab small depressed :style="$vuetify.breakpoint.smAndDown ? 'height: 24px !important; width: 24px !important' : 'height: 30px !important; width: 30px !important'" class="grey lighten-1 font-weight-bold mx-2"><v-icon color="white" class="font-weight-thin" :style="$vuetify.breakpoint.smAndDown ? 'font-size: 14px' : 'font-size: 18px'">fab fa-linkedin</v-icon></v-btn>
                <v-btn fab small depressed :style="$vuetify.breakpoint.smAndDown ? 'height: 24px !important; width: 24px !important' : 'height: 30px !important; width: 30px !important'" class="grey lighten-1 font-weight-bold mx-2"><v-icon color="white" class="font-weight-thin" :style="$vuetify.breakpoint.smAndDown ? 'font-size: 14px' : 'font-size: 18px'">fab fa-twitter</v-icon></v-btn>
                <v-btn fab small depressed :style="$vuetify.breakpoint.smAndDown ? 'height: 24px !important; width: 24px !important' : 'height: 30px !important; width: 30px !important'" class="grey lighten-1 font-weight-bold mx-2"><v-icon color="white" class="font-weight-thin" :style="$vuetify.breakpoint.smAndDown ? 'font-size: 14px' : 'font-size: 18px'">fab fa-instagram</v-icon></v-btn>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs0 md1 order-xs5></v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
export default {
  data () {
    return {}
  },
  computed: {},
  methods: {},
  beforeMount: function () {},
  created: function () {},
  mounted: function () {}
}
</script>

<style>

.ul-hover {
  text-decoration: none;
}

.ul-hover:hover {
  text-decoration: underline;
}
</style>
