<template>
  <div v-if="!$route.params.editing">
    <v-toolbar v-if="$route.path !== '/home' && $route.path !== 'company/:company/service/:solution/validate'" :fixed="$route.params.identifier ? false : true" :height="$vuetify.breakpoint.smAndDown ? '50': '88'" extension-height="58" class="white elevation-1" color="black" style="border-bottom: 1px solid #e3e3e3 !important; z-index: 9998">
      <v-toolbar-title class="hidden-md-and-up">
        <router-link to="/home" class="subheading font-weight-bold black--text" style="text-decoration: none;">
          <img src="/static/images/logo.png" alt="logo" style="width: 68px !important; height: 28px !important">
        </router-link>
      </v-toolbar-title>
      <v-toolbar-title class="pr-3 hidden-sm-and-down">
        <router-link to="/home" class="subheading font-weight-bold black--text" style="text-decoration: none;">
          <img src="/static/images/logo.png" alt="logo" style="width: 90px !important; height: 37px !important">
        </router-link>
      </v-toolbar-title>
      <v-spacer class="hidden-md-and-up"></v-spacer>
      <!-- <v-btn depressed fab dark small color="white" class="hidden-md-and-up text-xs-center" @click="extendedSearch = !extendedSearch"><v-icon style="padding-top: 12px">search</v-icon></v-btn> -->
      <v-spacer></v-spacer>
      <v-text-field
          v-if="extendedSearch"
          prepend-inner-icon="search"
          label="Búsqueda"
          solo-inverted
          class="mx-3 pt-2 hidden-md-and-up"
          flat
          slot="extension"
          style="margin-bottom: 15px"
        ></v-text-field>
      <v-text-field
          prepend-inner-icon="search"
          label="Búsqueda"
          color="button"
          flat
          solo
          class="pt-2 hidden-sm-and-down"
          style="border-right: 1px solid #e3e3e3; border-left: 1px solid #e3e3e3; max-width: 25%"
          flat
        ></v-text-field>
      <!-- <v-spacer class="hidden-sm-and-down"></v-spacer> -->
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat class="black--text text-capitalize" to="/register" v-if="!isLoggedIn">
          <v-layout column fill-height align-center justify-center>
            <v-icon class="mr-1 pb-1">person</v-icon>
            <span>Register</span>
          </v-layout>
        </v-btn>
        <v-btn flat class="black--text text-capitalize" :to="'/company/'+currentUser.identifier+'/edit/about'" v-if="isLoggedIn">
          <v-layout column fill-height align-center justify-center>
            <v-icon class="mr-1 pb-1">settings</v-icon>
            <span>Tus servicios</span>
          </v-layout>
        </v-btn>
        <v-btn flat class="black--text text-capitalize" to="/help">
          <v-layout column fill-height align-center justify-center>
            <v-icon class="mr-1 pb-1">info</v-icon>
            <span>Ayuda</span>
          </v-layout>
        </v-btn>
        <v-menu v-if="isLoggedIn" offset-y bottom> <!-- THIS IS BUGGED -->
          <v-btn fab slot="activator" small depressed style="height: 64px; width: 64px;">
            <!-- <v-avatar>
              <img :src="getStatus.loading ? '' : (getCompanyData.logo ? '/static/images/uploads/' + getCompanyData.logo : '/static/images/blank.png')"></img>
            </v-avatar> -->
            <v-layout column child-flex fill-height justify-center align-center>
              <v-flex xs12 v-if="getCompanyData ? (getCompanyData.logo !== null) : false">
                <v-avatar size="64" color="white">
                  <img :src="'/static/images/uploads/' + getCompanyData.logo + '#' + Date.now()"/>
                </v-avatar>
              </v-flex>
              <v-flex xs12 v-if="getCompanyData === null || getCompanyData.logo === null">
                <v-card flat height="64" width="64" color="white" :style="$vuetify.breakpoint.smAndDown ? 'margin-top: -32px; border-radius: 50%' : 'border-radius: 50%; border: solid #e3e3e3 1px !important; margin-top: 0px;' ">
                  <v-layout style="height: 62px; width: 62px" class="white" column fill-height align-center justify-center>
                    <span class="black--text caption font-weight-bold">{{getCompanyData ? getCompanyData.name : '...'}}</span>
                  </v-layout>
                </v-card>
              </v-flex>
            </v-layout>
          </v-btn>
          <v-card>
            <v-list class="white black--text">
              <v-list-tile :to="`/company/${currentUser.identifier}/edit/about`">Acabar página</v-list-tile>
              <v-list-tile :to="`/company/${currentUser.identifier}/`">Página de Empresa</v-list-tile>
              <v-list-tile to="/help">Ayuda</v-list-tile>
              <v-list-tile @click.prevent="logout">Cerrar sesión</v-list-tile>
            </v-list>
          </v-card>
        </v-menu>
        <v-btn flat class="black--text text-capitalize" to="/login" v-if="!isLoggedIn">
          <v-layout column fill-height align-center justify-center>
            <v-icon class="mr-1 pb-1">exit_to_app</v-icon>
            <span>Login</span>
          </v-layout>
        </v-btn>
      </v-toolbar-items>
      <v-toolbar-side-icon class="hidden-md-and-up" style="color: black;" @click="drawer = !drawer"></v-toolbar-side-icon>
    </v-toolbar>
    <v-toolbar v-if="$route.path === '/home' || $route.path === '/register' || $route.path === '/login'" fixed height="88" extension-height="58" :class="sticky ? 'white elevation-5' : 'white elevation-0'" style="z-index: 9998">
      <v-toolbar-title class="hidden-md-and-up">
        <router-link to="/home" class="subheading font-weight-bold black--text" style="text-decoration: none;">
          <img src="/static/images/logo.png" alt="logo" style="width: 90px !important; height: 37px !important">
        </router-link>
      </v-toolbar-title>
      <v-toolbar-title class="pr-3 hidden-sm-and-down">
        <router-link to="/home" class="subheading font-weight-bold black--text" style="text-decoration: none;">
          <img src="/static/images/logo.png" alt="logo" style="width: 90px !important; height: 37px !important">
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon class="hidden-md-and-up" style="color: black;" @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-items class="hidden-sm-and-down">
            <v-btn flat depressed style="height: 45px" class="color-1d2d35 mr-2 font-weight-bold" to="/indice">Encuentra soluciones</v-btn>
            <v-btn flat depressed style="height: 45px" class="color-1d2d35 mr-2 font-weight-bold" to="/help">Ayuda</v-btn>
            <v-btn flat depressed style="height: 45px" class="color-1d2d35 mr-2 font-weight-bold" to="/login" v-if="isLoggedIn ? false : ($route.path === '/login' ? false : true)">Login</v-btn>
            <v-btn depressed style="height: 45px" class="white--text font-weight-bold button--green px-5 squared" to="/register" v-if="isLoggedIn ? false : ($route.path === '/register' ? false : true)">Primeros pasos</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-toolbar v-if="$route.path !== 'company/:company/service/:solution/validate'" fixed height="88" extension-height="58" class="white elevation-1" style="display: none !important"></v-toolbar>
    <v-progress-linear class="my-0" v-if="getStatus.loading" :indeterminate="true"></v-progress-linear>
    <v-navigation-drawer persistent v-model="drawer" clipped fixed disable-resize-watcher :style="$route.path === '/home' || $route.path === '/register' || $route.path === '/login' ? 'margin-top: 89px' : 'margin-top: 51px'">
      <v-list dense class="pt-0">

        <!-- <v-toolbar dark flat color="white">
          <v-list>
            <v-list-tile>
              <v-toolbar-side-icon class="hidden-md-and-up" style="color:white" @click="drawer = !drawer"></v-toolbar-side-icon>
              <v-list-tile-title class="title">
                <router-link to="/home" style="text-decoration: none;">YES THEM</router-link>
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-toolbar> -->
        <v-divider></v-divider>
        <v-list-tile class="py-2 mx-3" style="border-bottom: 1px solid #e3e3e3" active-class="button--text" v-if="!isLoggedIn" to="/login"><span class="subheading font-weight-bold">Login</span></v-list-tile>
        <v-list-tile class="py-2 mx-3" style="border-bottom: 1px solid #e3e3e3" active-class="button--text" v-if="!isLoggedIn" to="/register"><span class="subheading font-weight-bold">Comenzar ahora</span></v-list-tile>
        <v-list-tile class="py-2 mx-3" style="border-bottom: 1px solid #e3e3e3" active-class="button--text" v-if="isLoggedIn" :to="`/company/${currentUser.identifier}/edit/about`"><span class="subheading font-weight-bold">Acabar página</span></v-list-tile>
        <v-list-tile class="py-2 mx-3" style="border-bottom: 1px solid #e3e3e3" active-class="button--text" v-if="isLoggedIn" :to="`/company/${currentUser.identifier}/`"><span class="subheading font-weight-bold">Página de Empresa</span></v-list-tile>
        <v-list-tile class="py-2 mx-3" style="border-bottom: 1px solid #e3e3e3" active-class="button--text" to="/help"><span class="subheading font-weight-bold">Ayuda</span></v-list-tile>
        <v-list-tile class="py-2 mx-3" style="border-bottom: 1px solid #e3e3e3" active-class="button--text" v-if="isLoggedIn" @click.prevent="logout"><span class="subheading font-weight-bold">Cerrar sesión</span></v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: ['sticky'],
  data () {
    return {
      drawer: false,
      extendedSearch: false
    }
  },
  watch: {
    '$route' (to, from) {
      this.drawer = false
    }
  },
  computed: {
    ...mapGetters('auth', ['isLoggedIn', 'currentUser']),
    ...mapGetters('company', ['getStatus', 'getCompanyData'])
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
      this.$router.push('/home')
    }
  },
  beforeMount: function () {},
  created: function () {},
  mounted: function () {}
}
</script>

<style>
</style>
