<template>
    <v-layout column>
      <v-tabs :left="$vuetify.breakpoint.smAndDown ? false : true" :centered="$vuetify.breakpoint.smAndDown ? true : false" color="white" style="border-bottom: 2px solid #e3e3e3;">
        <v-tab @click="tab = 1" :ripple="false" style="text-transform: capitalize !important" class="font-weight-bold subheading pa-3" active-class="selected-tab-1">Tus servicios</v-tab>
        <!-- <v-tab @click="tab = 2" :ripple="false" style="text-transform: capitalize !important" class="font-weight-bold subheading pa-3" active-class="selected-tab">Prácticas recomendadas</v-tab> -->
      </v-tabs>
      <v-flex xs12 v-if="tab === 1" class="elevation-1">
        <div v-if="getStatus.loading && create === false && open === null" class="white pa-5">
          <v-layout fill-height justify-center align-center>
            <v-progress-circular
              :size="80"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </v-layout>
        </div>
        <v-expansion-panel v-if="showBox" v-model="open" readonly style="border-bottom: 2px solid #e3e3e3;">
          <v-expansion-panel-content
            v-for="(iSolution, i) in getSolutions"
            :key="i"
          >
            <div slot="header" v-if="open !== i">
              <v-layout row wrap fill-height>
                <v-flex xs12 md6 :class="ats('py-1 px-0', '=', 'pa-3 py-5')">
                  <div class="subheading font-weight-bold">{{iSolution.industry}} - {{iSolution.category}}</div>
                  <!-- <div class="caption font-weight-bold mt-3">{{iSolution.title}}</div> -->
                  <div class="subheading font-weight-bold mt-3">{{iSolution.description}}</div>
                </v-flex>
                <v-flex xs12 md6 :class="ats('px-0 py-3', '=', 'pa-3')">
                  <v-layout row wrap fill-height style="border: 2px solid #e3e3e3" :class="ats('pt-2 pb-3 px-4', '=', 'py-3 px-4')">
                    <v-flex xs12 text-xs-left>
                      <v-btn depressed flat :disabled="getStatus.loading || create === true || open !== null " class="subheading blue--text font-weight-bold mx-0 px-2" @click="setData(iSolution); open = i">EDITAR SERVICIO</v-btn>
                    </v-flex>
                    <v-flex xs12 class="caption font-weight-bold my-1">Datos <v-icon color="grey" style="font-size: 12px">fas fa-question-circle</v-icon></v-flex>
                    <v-flex xs12 class="caption my-1 grey--text text--darken-2">Resultados {{getResults(iSolution.benefits)}}</v-flex>
                    <v-flex xs12 class="caption my-1 grey--text text--darken-2">Clientes Contentos {{getHappyClients(iSolution.benefits).length}}</v-flex>
                    <v-flex xs12 class="caption my-1 grey--text text--darken-2"><v-icon small color="grey darken-1" class="mr-1">mood</v-icon>Recomendaciones {{getTotalYes(iSolution.benefits)}}</v-flex>
                    
                  </v-layout>
                </v-flex>
              </v-layout>
            </div>
            <v-card>
              <v-form ref="solutionsForm" v-model="valid" encType="multipart/form-data">
                <v-card class="px-4 pt-3 pb-4">
                  <v-layout row wrap fill-height align-top>
                    <v-flex xs12>
                      <v-layout row wrap>
                        <!-- <v-flex xs12>{{solution.url}}</v-flex> -->
                        <v-flex xs12 pb-3 pt-4>
                          <v-layout row wrap child-flex>
                            <div @click="part = 1" style="cursor: pointer">
                              <v-avatar size="24" :color="part === 1? 'button' : 'grey lighten-2'">
                                <span class="white--text font-weight-bold">1</span>
                              </v-avatar>
                              <span :class="part === 1? 'color-4A85FB font-weight-bold px-2' : 'grey--text text--lighten-2 font-weight-bold px-2'">Descripción</span>
                            </div>
                            <div @click="part = 2" style="cursor: pointer">
                              <v-avatar size="24" :color="part === 2? 'button' : 'grey lighten-2'">
                                <span class="white--text font-weight-bold">2</span>
                              </v-avatar>
                              <span :class="part === 2? 'color-4A85FB font-weight-bold px-2' : 'grey--text text--lighten-2 font-weight-bold px-2'">Categoría</span>
                            </div>
                            <div @click="part = 3" style="cursor: pointer">
                              <v-avatar size="24" :color="part === 3? 'button' : 'grey lighten-2'">
                                <span class="white--text font-weight-bold">3</span>
                              </v-avatar>
                              <span :class="part === 3? 'color-4A85FB font-weight-bold px-2' : 'grey--text text--lighten-2 font-weight-bold px-2'">Clientes Contentos</span>
                            </div>
                            <div @click="part = 4" style="cursor: pointer">
                              <v-avatar size="24" :color="part === 4? 'button' : 'grey lighten-2'">
                                <span class="white--text font-weight-bold">4</span>
                              </v-avatar>
                              <span :class="part === 4? 'color-4A85FB font-weight-bold px-2' : 'grey--text text--lighten-2 font-weight-bold px-2'">Resultados</span>
                            </div>
                            <div @click="part = 5" style="cursor: pointer">
                              <v-avatar size="24" :color="part === 5? 'button' : 'grey lighten-2'">
                                <span class="white--text font-weight-bold">5</span>
                              </v-avatar>
                              <span :class="part === 5? 'color-4A85FB font-weight-bold px-2' : 'grey--text text--lighten-2 font-weight-bold px-2'">Imagen</span>
                            </div>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                    <v-flex xs12>
                      <v-layout row wrap fill-height align-top>

                        <v-flex xs12 v-show="part === 1">
                          <v-layout row wrap fill-height align-top mt-3>
                            <v-flex xs12 md3 text-xs-left :class="ats('pt-5 pb-2', '=', 'pt-0')">
                                <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Servicio</div>
                                <div class="blue-grey--text text--darken-2 font-weight-bold caption">Breve descripción</div>
                            </v-flex>
                            <v-flex xs12 md9 :class="ats('', '=', 'pl-4')">
                              <v-textarea
                                v-model="solution.description"
                                hint="14 Palabras"
                                persistent-hint
                                placeholder="Escribe tu descripción"
                                maxlength="53"
                                :rules="descriptionRules"
                                :disabled="getStatus.loading"
                                outline
                                no-resize
                                style="background-color: white"
                                required
                                validate-on-blur
                              >
                              </v-textarea>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs12 v-show="part === 2">
                          <v-layout row wrap fill-height align-top mt-3>
                            <v-flex xs12 md3 text-xs-left pt-3>
                              <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Categoría</div>
                              <div class="blue-grey--text text--darken-2 caption">Escribe una categoría que complemente tu industria</div>
                            </v-flex>
                            <v-flex xs12 md9 :class="ats('', '=', 'pl-4 pb-5')">
                              <v-layout row wrap fill-height justify-top align-top>
                                <v-flex xs12 md4>
                                  <v-select
                                    :items="industries"
                                    v-model="solution.specialization"
                                    :rules="industryRules"
                                    item-text="name"
                                    item-value="name"
                                    dense
                                    :disabled="getStatus.loading"
                                    required
                                    readonly
                                    disabled
                                    validate-on-blur
                                  >
                                  </v-select>
                                </v-flex>
                                <v-flex xs1 px-2 pt-4 class="subheading hidden-sm-and-down">></v-flex>
                                <v-flex xs12 md7>
                                  <v-text-field
                                    v-model="solution.category"
                                    :class="ats('mt-0 pt-0', '=', '')"
                                    hint="3 palabras"
                                    persistent-hint
                                    maxlength="50"
                                    :rules="categoryRules"
                                    :disabled="getStatus.loading"
                                    single-line
                                    required
                                    validate-on-blur
                                  >
                                  </v-text-field>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs12 v-show="part === 3">
                          <v-layout row wrap fill-height align-top mt-3>
                            <v-flex xs12 md3 text-xs-left :class="ats('pt-5 pb-2', '=', 'pt-0')">
                                <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Clientes Contentos</div>
                                <div class="blue-grey--text text--darken-2 caption">A cuantos clientes has ayudado ya con este servicio</div>
                            </v-flex>
                            <v-flex xs12 md9 :class="ats('', '=', 'pl-4')">
                              <v-select
                                v-model="solution.happyNumber"
                                :items="happyClients"
                                label="Clientes contentos"
                                style="width: 200px"
                                class="pa-0 ma-0"
                                outline
                              ></v-select>
                              <v-checkbox class="cCheckbox" label="No recuerdo ahora, contestare más tarde" v-model="happyCantRemember"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 v-show="validation.happyNumber === true">
                              <span class="error--text">Selecciona un numero o marca el checkbox para hacerlo luego.</span>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs12 v-show="part === 4">
                          <v-layout row wrap fill-height align-top mt-3>
                            <v-flex xs12 md3 text-xs-left :class="ats('pt-5 pb-2', '=', 'pt-0')">
                                <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Resultados</div>
                                <div class="blue-grey--text text--darken-2 caption">Explica los beneficios de tu servicio</div>
                            </v-flex>
                            <v-flex xs12 md9 :class="ats('pt-2', '=', 'pl-4')">
                              <div v-for="(benefit, index) in solution.results" class="pa-3 pr-4">
                                <v-textarea
                                  v-model="benefit.description"
                                  :rules="benefitRules"
                                  maxlength="72"
                                  :rows="ats(4, 4, 2)"
                                  row-height="24"
                                  color="grey darken-3"
                                  style="background-color: white"
                                  class="body-1"
                                  outline
                                  no-resize
                                ></v-textarea>
                                <v-layout row wrap>
                                  <v-flex text-xs-left>
                                    <span class="caption grey--text text--darken-1 pt-1">11 palabras</span>
                                  </v-flex>
                                  <v-spacer></v-spacer>
                                  <v-flex text-xs-right pr-2>
                                    <v-icon right small color="grey lighten-1" style="cursor: pointer" @click="solution.results.length > 1 ?  solution.results.splice(index, 1) : null">delete</v-icon>
                                  </v-flex>
                                </v-layout>
                              </div>
                              <!-- <div>
                                  <v-btn small depressed :disabled="getStatus.loading" color="blue-grey lighten-4" :class="ats('blue-grey--text text--darken-4 font-weight-bold mx-0', '=', 'blue-grey--text text--darken-4 font-weight-bold')" @click="$refs.addBenefits.initialize(solution.results)">{{solution.results.length === 0 ? 'Añade' : 'Edita'}} tus resultados</v-btn>
                                  <br v-if="ats(true, true, false)"><span>{{solution.results.length}} resultado(s) añadido(s).</span>
                              </div>
                              <div :class="ats('blue-grey--text text--darken-4 font-weight-regular mt-3 subheading mx-0', '=', 'blue-grey--text text--darken-4 font-weight-regular mt-3 subheading mx-2')">Explica por qué tu solución fue útil para tus clientes.</div> -->
                            </v-flex>
                            <v-flex xs12 text-xs-right>
                              <v-btn small right fab outline :disabled="solution.results.length === 10" color="grey lighten-1" @click="addBenefit()"><v-icon color="grey lighten-1">add</v-icon></v-btn>
                            </v-flex>
                            <v-flex v-show="validation.results === true">
                              <span class="error--text">Asegurate de que no haya resultados con descripciones vacías.</span>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs12 v-show="part === 5">
                          <v-layout row wrap fill-height align-top mt-3 pb-5>
                            <v-flex xs12 md3 text-xs-left :class="ats('pt-5 pb-2', '=', 'pt-0')">
                                <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Imagen</div>
                                <div class="blue-grey--text text--darken-2 caption">Añade tu imagen</div>
                            </v-flex>
                            <v-flex xs12 md9 :class="ats('text-xs-left mt-2', '=', 'pl-4 text-xs-left')">
                                <v-card v-if="part === 5" flat :color="hover.logo ? 'black' : 'grey lighten-3'" style="cursor: pointer; width: 196px" @mouseover="hover.logo = !hover.logo" @mouseout="hover.logo = !hover.logo" :disabled="getStatus.loading">
                                  <v-card-media class="contain" :src="getStatus.loading ? '' : solution.logo.url" height="196">
                                    <v-layout v-if="hover.logo" style="height: 196px; opacity: 0.75" class="black" column fill-height align-center justify-center @click="onFocusLogo(i)">
                                      <v-icon dark large>add_a_photo</v-icon>
                                      <span class="white--text subheading">Editar</span>
                                    </v-layout>
                                  </v-card-media>
                                </v-card>
                                <!-- <v-btn small depressed :disabled="getStatus.loading" color="blue-grey lighten-4" :class="ats('blue-grey--text text--darken-4 font-weight-bold mx-0', '=', 'blue-grey--text text--darken-4 font-weight-bold')" @click="onFocusLogo(i)">{{solution.logo.url ? 'Cambia' : 'Añade'}} tu imagen</v-btn> -->
                                <div v-if="solution.logo.status.error" class="v-messages error--text">{{solution.logo.status.message}}</div>
                                <!-- <div :class="ats('px-2 py-3', '', 'pa-3')" v-if="solution.logo.url">
                                  <v-badge overlap>
                                    <span slot="badge"><v-icon small color="white">edit</v-icon></span>
                                    <v-avatar :disabled="getStatus.loading" ref="logo" size="64" style="cursor: pointer" :color="hover.logo ? 'black' : 'grey lighten-3'" @mouseover="hover.logo = !hover.logo" @mouseout="hover.logo = !hover.logo" @click="onFocusLogo(i)">
                                      <img v-if="!getStatus.loading" :src="solution.logo.url"/>
                                    </v-avatar>
                                  </v-badge>
                                </div> -->
                              <input ref="fileInputLogo" type="file" name="logo" style="display: none !important" accept="image/png, image/jpg" @change="onFileChangeLogo">
                            </v-flex>
                          </v-layout>
                        </v-flex>

                        <v-flex xs12>
                          <v-layout row wrap fill-height align-top>
                            <v-flex xs12 md3 text-xs-left :class="ats('', '=', 'pt-4')">
                                <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Servicio URL </div>
                            </v-flex>
                            <v-flex xs12 md9 :class="ats('', '=', 'pl-4')">
                              <v-text-field
                                v-model="solution.url"
                                single-line
                                disabled
                                readonly
                                >
                              </v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <!-- <v-flex xs12 md3 text-xs-left :class="ats('pt-5', '=', 'pt-4')">
                            <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Solución</div>
                            <div class="blue-grey--text text--darken-2 caption">Título</div>
                        </v-flex>
                        <v-flex xs12 md9 :class="ats('', '=', 'pl-4')">
                          <v-text-field
                            v-model="solution.title"
                            hint="3 palabras / 9 caracteres"
                            persistent-hint
                            maxlength="30"
                            :rules="titleRules"
                            :disabled="getStatus.loading"
                            single-line
                            required
                          >
                          </v-text-field>
                        </v-flex> -->
                      </v-layout>
                    </v-flex>

                    <v-flex xs12 text-xs-left mt-4 mb-2 style="border-top: 1px solid #e3e3e">
                      <v-layout row child-flex>
                        <v-flex>
                          <v-btn :block="ats(true, true, false)" small depressed color="button" :disabled="getStatus.loading" :loading="getStatus.loading" class="font-weight-bold white--text squared" style="height: 40px" @click="next()">{{part < 5 ? 'Guardar y continuar' : 'Guardar'}}</v-btn>
                          <!-- <v-btn v-if="part === 5" :block="ats(true, true, false)" small depressed color="button" :disabled="getStatus.loading" :loading="getStatus.loading" class="font-weight-bold white--text squared" style="height: 40px" @click="save()">Guardar solución</v-btn> -->
                          <v-btn :block="ats(true, true, false)" small depressed color="blue-grey lighten-4" :disabled="getStatus.loading" class="font-weight-bold squared" style="height: 40px" @click="open = null; part = 1">Cancelar</v-btn>
                        </v-flex>
                        <v-spacer></v-spacer>
                        <v-flex text-xs-right>
                          <v-btn small flat icon color="blue-grey lighten-4" :disabled="getStatus.loading" @click="dialog = true; solutionToDelete = iSolution._id"><v-icon small>far fa-trash-alt</v-icon></v-btn>
                        </v-flex>
                      </v-layout>
                      <v-alert v-if="getStatus.error" class="my-2"  color="error" icon="warning" value="true">{{getStatus.message}}</v-alert>
                    </v-flex>
                  </v-layout>
                </v-card>
            </v-form>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>


        <div class="white">
          <v-form v-if="create" ref="solutionsFormNew" v-model="validNew" encType="multipart/form-data" style="border-bottom: 2px solid #e3e3e3;">
            <v-layout row wrap class="pa-3">
              <!-- <v-flex xs12>{{solution.url}}</v-flex> -->
              <v-flex xs12 pb-3 pt-4>
                <v-layout row wrap child-flex>
                  <div @click="part = 1" style="cursor: pointer">
                    <v-avatar size="24" :color="part === 1? 'button' : 'grey lighten-2'">
                      <span class="white--text font-weight-bold">1</span>
                    </v-avatar>
                    <span :class="part === 1? 'color-4A85FB font-weight-bold px-2' : 'grey--text text--lighten-2 font-weight-bold px-2'">Descripción</span>
                  </div>
                  <div @click="part = 2" style="cursor: pointer">
                    <v-avatar size="24" :color="part === 2? 'button' : 'grey lighten-2'">
                      <span class="white--text font-weight-bold">2</span>
                    </v-avatar>
                    <span :class="part === 2? 'color-4A85FB font-weight-bold px-2' : 'grey--text text--lighten-2 font-weight-bold px-2'">Categoría</span>
                  </div>
                  <div @click="part = 3" style="cursor: pointer">
                    <v-avatar size="24" :color="part === 3? 'button' : 'grey lighten-2'">
                      <span class="white--text font-weight-bold">3</span>
                    </v-avatar>
                    <span :class="part === 3? 'color-4A85FB font-weight-bold px-2' : 'grey--text text--lighten-2 font-weight-bold px-2'">Clientes Contentos</span>
                  </div>
                  <div @click="part = 4" style="cursor: pointer">
                    <v-avatar size="24" :color="part === 4? 'button' : 'grey lighten-2'">
                      <span class="white--text font-weight-bold">4</span>
                    </v-avatar>
                    <span :class="part === 4? 'color-4A85FB font-weight-bold px-2' : 'grey--text text--lighten-2 font-weight-bold px-2'">Resultados</span>
                  </div>
                  <div @click="part = 5" style="cursor: pointer">
                    <v-avatar size="24" :color="part === 5? 'button' : 'grey lighten-2'">
                      <span class="white--text font-weight-bold">5</span>
                    </v-avatar>
                    <span :class="part === 5? 'color-4A85FB font-weight-bold px-2' : 'grey--text text--lighten-2 font-weight-bold px-2'">Imagen</span>
                  </div>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-card flat class="px-4 pb-4">
                <v-layout row wrap fill-height align-top>
                    
                  <v-flex xs12 v-show="part === 1">
                    <v-layout row wrap fill-height align-top mt-3>
                      <v-flex xs12 md3 text-xs-left :class="ats('pt-5 pb-2', '=', 'pt-0')">
                          <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Servicio</div>
                          <div class="blue-grey--text text--darken-2 caption">Breve descripción</div>
                      </v-flex>
                      <v-flex xs12 md9 :class="ats('', '=', 'pl-4')">
                        <v-textarea
                          v-model="solution.description"
                          hint="14 Palabras"
                          persistent-hint
                          placeholder="Escribe tu descripción"
                          maxlength="53"
                          :rules="descriptionRules"
                          :disabled="getStatus.loading"
                          outline
                          no-resize
                          style="background-color: white"
                          required
                        >
                        </v-textarea>
                      </v-flex>
                    </v-layout>
                  </v-flex>

                  <v-flex xs12 v-show="part === 2">
                    <v-layout row wrap fill-height align-top mt-3>
                      <v-flex xs12 md3 text-xs-left pt-3>
                        <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Categoría</div>
                        <div class="blue-grey--text text--darken-2 caption">Escribe una categoría que complemente tu industria</div>
                      </v-flex>
                      <v-flex xs12 md9 :class="ats('', '=', 'pl-4 pb-5')">
                        <v-layout row wrap fill-height justify-top align-top>
                          <v-flex xs12 md4>
                            <v-select
                              :items="industries"
                              v-model="solution.specialization"
                              :rules="industryRules"
                              item-text="name"
                              item-value="name"
                              dense
                              :disabled="getStatus.loading"
                              required
                              readonly
                              disabled
                            >
                            </v-select>
                          </v-flex>
                          <v-flex xs1 px-2 pt-4 class="subheading hidden-sm-and-down">></v-flex>
                          <v-flex xs12 md7>
                            <v-text-field
                              v-model="solution.category"
                              :class="ats('mt-0 pt-0', '=', '')"
                              hint="3 palabras"
                              persistent-hint
                              maxlength="50"
                              :rules="categoryRules"
                              :disabled="getStatus.loading"
                              single-line
                              required
                            >
                            </v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-flex>

                  <v-flex xs12 v-show="part === 3">
                    <v-layout row wrap fill-height align-top mt-3>
                      <v-flex xs12 md3 text-xs-left :class="ats('pt-5 pb-2', '=', 'pt-0')">
                          <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Clientes Contentos</div>
                          <div class="blue-grey--text text--darken-2 caption">A cuantos clientes has ayudado ya con este servicio</div>
                      </v-flex>
                      <v-flex xs12 md9 :class="ats('', '=', 'pl-4')">
                        <v-select
                          v-model="solution.happyNumber"
                          :items="happyClients"
                          label="Clientes contentos"
                          style="width: 200px"
                          class="pa-0 ma-0"
                          outline
                        ></v-select>
                        <v-checkbox class="cCheckbox" label="No recuerdo ahora, contestare más tarde" v-model="happyCantRemember"></v-checkbox>
                      </v-flex>
                      <v-flex xs12 v-show="validation.happyNumber === true" text-xs-left>
                        <span class="error--text">Selecciona un numero o marca el checkbox para hacerlo luego.</span>
                      </v-flex>
                    </v-layout>
                  </v-flex>

                  <v-flex xs12 v-show="part === 4">
                    <v-layout row wrap fill-height align-top mt-3>
                      <v-flex xs12 md3 text-xs-left :class="ats('pt-5 pb-2', '=', 'pt-0')">
                          <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Resultados</div>
                          <div class="blue-grey--text text--darken-2 caption">Explica los beneficios de tu servicio</div>
                      </v-flex>
                      <v-flex xs12 md9 :class="ats('pt-2', '=', 'pl-4')">
                        <div v-for="(benefit, index) in solution.results" class="pa-3 pr-4">
                          <v-textarea
                            v-model="benefit.description"
                            :rules="benefitRules"
                            maxlength="72"
                            :rows="ats(4, 4, 2)"
                            row-height="24"
                            color="grey darken-3"
                            style="background-color: white"
                            class="body-1"
                            outline
                            no-resize
                          ></v-textarea>
                          <v-layout row wrap>
                            <v-flex text-xs-left>
                              <span class="caption grey--text text--darken-1 pt-1">11 palabras</span>
                            </v-flex>
                            <v-spacer></v-spacer>
                            <v-flex text-xs-right pr-2>
                              <v-icon right small color="grey lighten-1" style="cursor: pointer" @click="solution.results.length > 1 ?  solution.results.splice(index, 1) : null">delete</v-icon>
                            </v-flex>
                          </v-layout>
                        </div>
                      </v-flex>
                      <v-flex xs12 text-xs-right>
                        <v-btn small right fab outline :disabled="solution.results.length === 10" color="grey lighten-1" @click="addBenefit()"><v-icon color="grey lighten-1">add</v-icon></v-btn>
                      </v-flex>
                      <v-flex v-show="validation.results === true" text-xs-left>
                        <span class="error--text">Asegurate de que no haya resultados con descripciones vacías.</span>
                      </v-flex>
                    </v-layout>
                  </v-flex>

                  <v-flex xs12 v-show="part === 5">
                    <v-layout row wrap fill-height align-top mt-3 pb-5>
                      <v-flex xs12 md3 text-xs-left :class="ats('pt-5 pb-2', '=', 'pt-0')">
                          <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Imagen</div>
                          <div class="blue-grey--text text--darken-2 caption">Añade tu imagen</div>
                      </v-flex>
                      <v-flex xs12 md9 :class="ats('text-xs-left mt-2', '=', 'pl-4 text-xs-left')">
                        <v-card v-if="part === 5" flat :color="hover.logo ? (solution.logo.url ? 'black' : 'grey lighten-3') : 'grey lighten-3'" style="cursor: pointer; width: 196px" @mouseover="hover.logo = !hover.logo" @mouseout="hover.logo = !hover.logo" :disabled="getStatus.loading">
                          <v-card-media v-if="solution.logo.url" class="contain" :src="getStatus.loading ? '' : solution.logo.url" height="196">
                            <v-layout v-if="hover.logo" style="height: 196px; opacity: 0.75" class="black" column fill-height align-center justify-center @click="onFocusLogoNew">
                              <v-icon dark large>add_a_photo</v-icon>
                              <span class="white--text subheading">Editar</span>
                            </v-layout>
                          </v-card-media>

                          <v-layout v-if="!solution.logo.url" style="height: 196px; opacity: 0.75" column fill-height align-center justify-center @click="onFocusLogoNew">
                            <v-icon style="font-size: 128px" class="pt-3">photo_camera</v-icon>
                          </v-layout>
                        </v-card>
                        <div v-if="solution.logo.status.error" class="v-messages error--text">{{solution.logo.status.message}}</div>
                        <input ref="fileInputLogoNew" type="file" name="logo" style="display: none !important" accept="image/png, image/jpg" @change="onFileChangeLogo">
                      </v-flex>
                    </v-layout>
                  </v-flex>

                  <v-flex xs12>
                    <v-layout row wrap fill-height align-top>
                      <v-flex xs12 md3 text-xs-left :class="ats('', '=', 'pt-4')">
                          <div class="blue-grey--text text--darken-2 font-weight-bold subheading">Servicio URL </div>
                      </v-flex>
                      <v-flex xs12 md9 :class="ats('', '=', 'pl-4')">
                        <v-text-field
                          v-model="solution.url"
                          single-line
                          maxlength="30"
                          disabled
                          readonly
                          >
                        </v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-flex>

                <v-flex xs12 text-xs-left mt-4 mb-4 style="border-top: 1px solid #e3e3e">
                  <v-btn :block="ats(true, true, false)" small depressed color="button" :disabled="getStatus.loading" :loading="getStatus.loading" class="font-weight-bold white--text squared" style="height: 40px" @click="next()">{{part < 5 ? 'Guardar y continuar' : 'Guardar'}}</v-btn>
                  <v-btn :block="ats(true, true, false)" small depressed color="blue-grey lighten-4" :disabled="getStatus.loading" class="font-weight-bold" style="height: 40px" @click="create = false; part = 1">Cancelar</v-btn>
                  <!-- <v-btn :block="ats(true, true, false)" small depressed color="button" :disabled="getStatus.loading" :loading="getStatus.loading" class="font-weight-bold white--text" style="height: 40px" @click="save()">Guardar solución</v-btn>
                  <v-btn :block="ats(true, true, false)" small depressed color="blue-grey lighten-4" :disabled="getStatus.loading" class="font-weight-bold" style="height: 40px" @click="create = false">Cancelar</v-btn> -->
                  <v-alert v-if="getStatus.error" class="my-0"  color="error" icon="warning" value="true">{{getStatus.message}}</v-alert>
                </v-flex>

              </v-layout>
            </v-card>
          </v-form>
          <v-btn small depressed color="button" :disabled="open !== null || create === true || getStatus.loading" class="font-weight-bold white--text px-3 my-5" style="height: 38px" @click="newSolution()">{{getSolutions.length == 0? 'Añade tu primer servicio' : 'Añade otro servicio'}}</v-btn>
        </div>
      </v-flex>
      <v-flex xs12 v-if="tab === 2"></v-flex> <!-- tab 2 -->
      <!-- <AddBenefits ref="addBenefits" @save="solution.results = $event"></AddBenefits> -->
      <v-dialog v-model="dialog" persistent max-width="290">
        <v-card>
          <v-card-title class="headline">¿Borrar este servicio?</v-card-title>
          <v-card-text class="caption py-2" style="text-align:left">Se perderán todas las recomendaciones de los clientes.</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" class="font-weight-bold" flat @click.native="dialog = false">Cancelar</v-btn>
            <v-btn color="primary" class="font-weight-bold" flat @click.native="remove(solutionToDelete); dialog = false">Confirmar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import AddBenefits from '@/components/AddBenefits.vue'
import _ from 'lodash'

export default {
  components: { 
    AddBenefits 
  },
  data () {
    return {
      part: 1,
      happyClients: ['Entre 5 y 30', 'Entre 30 y 60', 'Entre 60 y 100', 'Entre 100 y 200', 'Mas de 200'],
      happyCantRemember: false,
      dialog: false,
      solutionToDelete: null,
      version: 0,
      hover: {
        logo: false
      },
      show: false,
      create: false,
      tab: 1,
      open: null,
      editing: false,
      version: 0,
      hover: {
        logo: false,
      },
      formData: new FormData(),
      industries: require('@/misc/industries').default.industries,
      solution: {
        _id: '',
        index: '',
        specialization: '',
        category: '',
        description: '',
        results: [],
        happyNumber: '',
        logo: {
          file: null,
          filename: null,
          url: null,
          status: {
            error: false,
            message: ''
          }
        },
        url: ''
      },
      validation: {
        description: false,
        category: false,
        happyNumber: false,
        results: false,
        image: false
      },
      valid: false,
      valid1: false,
      validNew: false,
      categoryRules: [
        (v) => !!v || 'La categoría es obligatoria!',
        (v) => (v && v.length >= 3 && v.length <= 50) || 'La categoría debe tener entre 3 y 50 caracteres!'
      ],
      descriptionRules: [
        (v) => !!v || 'Este campo es obligatorio!',
        (v) => (v && v.length >= 5 && v.length <= 53) || 'El nombre debe tener entre 5 y 53 caracteres!'
      ],
      industryRules: [
        (v) => !!v || 'Debe seleccionar una categoría.'
      ],
      identifierRules: [
        (v) => !!v || 'Este campo es obligatorio!',
        (v) => (v && v.length >= 3 && v.length <= 30) || 'El nombre debe tener entre 3 y 30 caracteres!'
      ],
      benefitsToAdd: [],
      benefitRules: [
        (v) => !!v || 'Este campo no puede estar vacío!',
        (v) => (v && v.length >= 1 && v.length <= 72) || 'La descripción debe tener menos de 72 caracteres!'
      ]
    }
  },
  watch: {
    'create' (to, from) {
      this.$emit('create', this.create)
    },
    'open' (to, from) {
      this.$emit('open', this.open !== null)
    },
    'part' (to, from) {
      this.$emit('part', this.part)
    },
  },
  computed: {
    ...mapGetters('auth', ['isLoggedIn', 'currentUser']),
    ...mapGetters('company', ['getCompanyData', 'getStatus', 'setStatus', 'getSolutions', 'getExperiences', 'getTotalValidations']),
    showBox () {
      if (this.getStatus.loading) {
        if (this.create === true || this.open !== null) {
          return true
        } else if (this.create === false && this.open === null) { // that means this is reloading
          return false
        } else {
          return false
        }
      } else {
        if (this.getSolutions.length === 0) {
          return false
        } else {
          return true
        }
      }
      // (getStatus.loading && (create === false || open !== null)) || (getStatus.loading && create === false && open === null)
    }
  },
  methods: {
    ats (xs, sm, mdAndUp) { // According to Size
      if (this.$vuetify.breakpoint.xs) {
        return xs
      }
      else if (this.$vuetify.breakpoint.sm) {
        return sm === '=' ? xs : sm
      }
      if (this.$vuetify.breakpoint.mdAndUp) {
        return mdAndUp
      }
    },

    next () {
      if (this.part === 1) {
        if (this.solution.description && this.solution.description.length >= 5 && this.solution.description.length <= 53) {
          this.part++
        }
      }
      else if (this.part === 2) {
        if (this.solution.category && this.solution.category.length >= 3 && this.solution.category.length <= 50) {
          this.part++
        }
      }
      else if (this.part === 3) {
        if (this.solution.happyNumber !== '' || this.happyCantRemember) {
          this.part++
        } else {
          this.validation.happyNumber = true
        }
      }
      else if (this.part === 4) {
        if (!_.find(this.solution.results, function (o) {return o.description === ''})) {
          this.part++
        } else {
          this.validation.results = true
        }
      }
      else if (this.part === 5) {
        if (this.solution.logo !== null) {
          this.save()
        } else {
          this.solution.logo.status.error = true
          this.solution.logo.status.message = 'La imagen del servicio es requerida.'
        }
      }
    },

    newSolution () {
      this.solution._id = ''
      this.solution.index = this.getSolutions.length + 1
      this.solution.specialization = this.getCompanyData.industry
      this.solution.category = ''
      this.solution.description = ''
      this.solution.results = [{description: ''}]
      this.solution.happyNumber = ''
      this.solution.logo = {
        file: null,
        filename: null,
        url: null,
        status: {
          error: false,
          message: ''
        }
      }
      this.solution.url = 'yesthem.com/company/' + this.getCompanyData.identifier + '/service/' + (this.getSolutions.length + 1)
      this.create = true
    },

    setData (solution) {
      this.solution.index = solution.index
      this.solution._id = solution._id,
      this.solution.specialization = solution.industry,
      this.solution.category = solution.category,
      this.solution.description = solution.description,
      this.solution.results = solution.benefits.length > 0 ? solution.benefits : [{description: ''}],
      this.solution.happyNumber = solution.happyNumber ? solution.happyNumber : ''
      this.solution.logo = {
        file: null,
        filename: null,
        url: solution.image ? '/static/images/uploads/' + solution.image : null,
        status: {
          error: false,
          message: ''
        }
      },
      this.solution.url = 'yesthem.com/company/' + this.getCompanyData.identifier + '/service/' + solution.index // solution.identifier
    },

    onFocusLogo (i) {
      this.$refs.fileInputLogo[i].click()
    },

    onFocusLogoNew () {
      this.$refs.fileInputLogoNew.click()
    },

    onFileChangeLogo ($event) {
      let file = $event.target.files || $event.dataTransfer.files
      file = file[0]
      this.formData.set('company', this.getCompanyData._id)
      this.formData.set('index', this.create ? this.getSolutions.length + 1 : this.solution.index)
      this.formData.set('solution', this.create ? '' : this.solution._id)
      this.formData.set('specialization', this.solution.specialization)
      this.formData.set('category', this.solution.category)
      this.formData.set('description', this.solution.description)
      this.formData.set('results', JSON.stringify(this.solution.results))
      this.formData.set('happyNumber', this.solution.happyNumber)
      this.formData.set('logo', null)

      if (file) {
        if (file.type === 'image/jpeg' || file.type === 'image/png') {
          this.solution.logo.file = file
          this.solution.logo.filename = file.name
          this.formData.set('logo', this.solution.logo.file, this.solution.logo.filename)
          this.solution.logo.status.error = false
          this.solution.logo.status.messages = []
          this.solution.logo.url = window.URL.createObjectURL(this.solution.logo.file)
        } else {
          this.formData.set('logo', null)
          this.solution.logo.status.error = true
          this.solution.logo.status.messages = ['Solo se permiten imagenes JPEG y PNG.']
          this.solution.logo.url = ''
        }
      } else {
        this.formData.set('logo', null)
        this.solution.logo.status.error = false
        this.solution.logo.status.messages = []
        this.solution.logo.url = ''
      }
    },

    addBenefit () {
      if (this.solution.results.length <= 10) {
        this.solution.results.push({ description: '' })
      }
    },

    async save () {
      this.formData.set('company', this.getCompanyData._id)
      this.formData.set('index', this.create ? this.getSolutions.length + 1 : this.solution.index)
      this.formData.set('solution', this.create ? '' : this.solution._id)
      this.formData.set('specialization', this.solution.specialization)
      this.formData.set('category', this.solution.category)
      this.formData.set('description', this.solution.description)
      this.formData.set('results', JSON.stringify(this.solution.results))
      this.formData.set('happyNumber', this.solution.happyNumber)
      this.formData.set('editing', 'solutions')
      
      this.solution.logo.status.error = false
      this.solution.logo.status.message = ''

      if (this.create) {
        if (this.$refs.solutionsFormNew.validate() && this.solution.logo.url) {
          const response = await this.$store.dispatch('company/edit', this.formData)
          if (response.success === true) {
            this.solution.logo.status.error = false
            this.solution.logo.status.message = ''
            this.version += 1
            this.create = false
            this.part = 1
            this.$emit('reload', {reload: true, redirect: false})
          }
        } else {
          if (this.solution.logo.url === null) {
            this.solution.logo.status.error = true
            this.solution.logo.status.message = 'La imagen del servicio es requerida.'
          }
          await this.$store.dispatch('company/setStatus', { loading: false, error: true, message: 'Please make sure to fill all the necessary information.' })
        }
      } else {
        if (this.$refs.solutionsForm[this.open].validate() && this.solution.logo.url) {
          const response = await this.$store.dispatch('company/edit', this.formData)
          if (response.success === true) {
            this.solution.logo.status.error = false
            this.solution.logo.status.message = ''
            this.version += 1
            this.open = null
            this.part = 1
            this.$emit('reload', {reload: true, redirect: false})
          }
        } else {
          if (this.solution.logo.url === null) {
            this.solution.logo.status.error = true
            this.solution.logo.status.message = 'La imagen de la solución es requerida.'
          }
          await this.$store.dispatch('company/setStatus', { loading: false, error: true, message: 'Please make sure to fill all the necessary information.' })
        }
      }
    },

    async remove (solution) {
      const response = await this.$store.dispatch('company/remove', { _id: solution, company: this.getCompanyData._id })
      if (response.success === true) {
        this.open = null
        this.solutionToDelete = null
        await this.$store.dispatch('company/populate', this.currentUser.identifier)
        // this.$emit('reload', {reload: true, redirect: false})
      }
    },

    getResults (benefits) { // I'm guessing this is the  number of benefits with at least 1 validation.
      let results = []
      for (let i = 0, len = benefits.length; i < len; i++) {
        if (benefits[i].validations.length > 0) {
          if (!results.some(result => result === i)) {
            results.push(i)
          }
        }
      }
      return results.length
    },

    getHappyClients (benefits) {
      let validations = []
      for (let i = 0, len = benefits.length; i < len; i++) {
        if (benefits[i].validations.length > 0) {
          for (let j = 0, len = benefits[i].validations.length; j < len; j++) {
            if (!validations.some(validation => validation.id.toString() === benefits[i].validations[j].id.toString())) {
              validations.push(benefits[i].validations[j])
            }
          }
        }
      }
      return validations
    },

    getTotalYes (benefits) {
      let yes = 0
      for (let i = 0, len = benefits.length; i < len; i++) {
        yes += benefits[i].validations.length
      }
      return yes
    }
  }
}
</script>

<style>
.v-tabs__container {
  height: 64px !important;
}

.v-expansion-panel__header {
  height: auto !important;
}

.v-expansion-panel__header__icon {
  display: none !important;
}

.cCheckbox .v-label {
  font-size: 12px !important;
}

.selected-tab-1 {
  color: #2979ff  !important;
}
</style>
