<template>
  <v-layout row wrap :style="ats('white', '=', 'background-color: #D5E3E4')">
      <v-spacer class="hidden-md-and-down"></v-spacer>
      <v-flex xs12 md4 :class="ats('', '=', '')">
          <div :class="ats('title font-weight-bold py-3', '=', 'headline font-weight-bold mb-3')" style="background-color: #D5E3E4">Atrae nuevos clientes</div>
          <v-layout column child-flex :class="ats('mb-3 white', '=', 'elevation-1 mb-3 white')">
            <v-flex pt-4 pb-2 blue-grey darken-4 white--text>
              <div class="title mb-2">¿Comenzamos?</div>
              <div class="body-1">Empieza ahora - es gratis</div>
            </v-flex>
            <div :class="ats('pa-0', '=', 'pa-4')">
                <v-flex :class="ats('px-3', '=', '')" :style="ats('background: linear-gradient(180deg, #263238 25%, #ffffff 0%)', 'background: linear-gradient(180deg, #263238 25%, #ffffff 0%)', '')">
                  <v-form class="white" ref="formProfile" v-model="valid">
                    <v-text-field
                      v-model="user.name"
                      label="Nombre"
                      :rules="nameRules"
                      maxlength="60"
                      required
                      :flat="ats(true, true, false)"
                      :solo="ats(true, true, false)"
                      :placeholder="ats('Nombre', 'Nombre', '')"
                      :style="ats('border: 1px solid #e3e3e3', '=', '')"
                      :hide-details="validation.name"
                      ref="nombre"
                      @input="blurName()"
                    ></v-text-field>
                    <v-text-field
                      v-model="user.email"
                      label="E-mail"
                      :rules="confirmEmailRules"
                      maxlength="30"
                      required
                      :flat="ats(true, true, false)"
                      :solo="ats(true, true, false)"
                      :placeholder="ats('E-mail', 'E-mail', '')"
                      :style="ats('border: 1px solid #e3e3e3', '=', '')"
                      :hide-details="validation.email"
                      ref="email"
                      @input="blurEmail()"
                    ></v-text-field>
                    <v-text-field
                      v-model="user.emailConfirm"
                      label="Confirma tu E-mail"
                      :rules="emailRules"
                      maxlength="30"
                      required
                      :flat="ats(true, true, false)"
                      :solo="ats(true, true, false)"
                      :placeholder="ats('Confirma tu E-mail', 'Confirma tu E-mail', '')"
                      :style="ats('border: 1px solid #e3e3e3', '=', '')"
                      :hide-details="validation.confirmEmail"
                      ref="confirmEmail"
                      @input="blurConfirmEmail()"
                    ></v-text-field>
                    <v-text-field
                      v-model="user.password"
                      label="Contraseña"
                      maxlength="30"
                      :rules="passwordRules"
                      :append-icon="hidePassword ? 'visibility' : 'visibility_off'"
                      @click:append="() => (hidePassword = !hidePassword)"
                      :type="hidePassword ? 'password' : 'text'"
                      required
                      :flat="ats(true, true, false)"
                      :solo="ats(true, true, false)"
                      :placeholder="ats('Contraseña', 'Contraseña', '')"
                      :style="ats('border: 1px solid #e3e3e3', '=', '')"
                      :hide-details="validation.password"
                      ref="password"
                      @input="blurPassword()"
                    ></v-text-field>
                  </v-form>
                </v-flex>
                <v-flex :class="ats('text-xs-left py-3 px-4 caption', '=', 'text-xs-left py-3 pb-4 caption')">
                  Registrándote aceptas nuestros <span class="blue--text text--darken-3 font-weight-bold">Términos, Política de Privacidad y Uso de Cookies</span>
                </v-flex>
                <v-flex :class="ats('px-3', '=', '')">
                  <v-btn
                    :small="ats(false, false, true)"
                    depressed
                    block
                    :class="ats('white--text my-0 font-weight-bold px-3', '=', 'white--text ma-0 font-weight-bold')"
                    color="button"
                    :disabled="!valid"
                    @click.native.stop="nextStep"
                  >
                    Únete
                  </v-btn>
                </v-flex>
            </div>
          </v-layout>
      </v-flex>
      <v-spacer class="hidden-md-and-down"></v-spacer>
  </v-layout>
</template>

<script>

export default {
  data () {
    return {
      hidePassword: true,
      valid: false,
      user: {
        name: '',
        email: '',
        emailConfirm: '',
        password: '',
      },
      validation: {
        name: true,
        email: true,
        confirmEmail: true,
        password: true
      },
      nameRules: [
        (v) => !!v || 'El nombre es requerido!',
        (v) => (v && v.length >= 3 && v.length <= 60) || 'El nombre debe tener entre 3 y 60 caracteres.'
      ],
      emailRules: [
        (v) => !!v || 'El e-mail debe ser válido.',
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid.'
      ],
      confirmEmailRules: [
        (v) => !!v || 'El e-mail debe ser válido.',
        (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid.',
        (v) => v == this.user.email || 'E-mail must match'
      ],
      passwordRules: [
        (v) => (!!v && v.length >= 3 && v.length <= 30) || 'La contraseña es requerida y debe tener entre 3 y 30 caracteres.'
      ]
    }
  },
  watch: {
    valid: function () {
      this.$emit('valid', this.valid)
    }
  },
  computed: {},
  methods: {
    ats (xs, sm, mdAndUp) { // According to Size
      if (this.$vuetify.breakpoint.xs) {
        return xs
      }
      else if (this.$vuetify.breakpoint.sm) {
        return sm === '=' ? xs : sm
      }
      if (this.$vuetify.breakpoint.mdAndUp) {
        return mdAndUp
      }
    },

    nextStep() {
      if (this.$refs.formProfile.validate()) {
        this.$emit('nextstepper', this.user)
      }
    },

    blurName () {
      this.validation.name = this.$refs.nombre.validate()
    },

    blurEmail () {
      this.validation.email = this.$refs.email.validate()
    },

    blurConfirmEmail () {
      this.validation.confirmEmail = this.$refs.confirmEmail.validate()
    },

    blurPassword () {
      this.validation.password = this.$refs.password.validate()
    }
  },
  beforeMount: function () {},
  created: function () {},
  mounted: function () {}
}
</script>

<style>
.no-transition .stepper__content { transition: none; }

.terminosdeuso .v-label { font-size: 12px !important; }
</style>
