<template>
  <div id="app">
    <v-app>
      <head></head>
      <Menu :sticky="sticky"></Menu>
      <v-content class="grey lighten-4">
        <router-view @sticky="sticky = $event" :style="$route.path === '/home' || $route.path === '/register' || $route.path === '/login' ? 'margin-top: 88px' : ($route.params.editing || $route.params.identifier ? 'margin-top: 0px' : $vuetify.breakpoint.smAndDown ? 'margin-top: 50px': 'margin-top: 88px')"/>
      </v-content>
      <Footer :style="$route.params.editing || $route.params.identifier || $route.path === '/home' || $route.path === '/indice'? 'margin-top: 0px' : ($vuetify.breakpoint.smAndDown ? 'margin-top: 50px' : 'margin-top: 88px')"></Footer>
    </v-app>
  </div>
</template>

<script>
import Menu from '@/components/Menu'
import Footer from '@/components/Footer'

export default {
  components: { Menu, Footer },
  name: 'App',
  data () {
    return {
      sticky: false
    }
  },
  watch: {
    '$route' (to, from) {
      console.log(this.$route)
      this.$vuetify.goTo(0, {duration: '0', easing: 'linear'})
    }
  }
}
</script>

<style>
@font-face {
  font-family: Segoe;
  src: url('/static/fonts/Segoe.ttf');
}

@font-face {
  font-family: Segoe-semibold;
  src: url('/static/fonts/Segoe-semibold.ttf');
}

@font-face {
  font-family: Segoebold;
  src: url('/static/fonts/Segoe-ui-bold.ttf');
}

#app {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.font-size-10 {
  font-size: 10px !important
}

.font-size-11 {
  font-size: 11px !important
}

.font-size-12 {
  font-size: 12px !important
}

.font-size-14 {
  font-size: 14px !important
}

.font-size-16 {
  font-size: 16px !important
}

.font-size-18 {
  font-size: 18px !important
}

.font-size-20 {
  font-size: 20px !important
}

.font-size-32 {
  font-size: 32px !important;
}

.color-00306e {
  color: #00306e !important;
}

.color-0030ff {
  color: #0030ff !important; 
}

.color-1d2d35 {
  color: #1d2d35 !important;
}

.color-002d00 {
  color: #002d00 !important;
}

.color-a8a8bb {
  color: #a8a8bb !important;
}

.color-4A85FB {
  color: #4A85FB !important;
}

.button--green {
  background-color: #81C54C !important;
}

.segoe-regular {
  font-family: 'Segoe' !important;
}

.segoe-semibold {
  font-family: 'Segoe-semibold' !important;
}

.segoe-bold {
  font-family: 'Segoebold' !important;
}

.arial {
  font-family: Arial !important;
}

.gothic-century {
  font-family: 'Century Gothic' !important;
}

.squared {
  border-radius: 0px !important;
}

/*.v-btn {
  border-radius: 0% !important;
}*/
</style>
